<script setup lang="ts">
useHeadTitle("Detail Report");
import { ArrowLeft } from "lucide-vue-next";
import type { Column } from "~/types";

definePageMeta({
  name: "Detail Report",
  layout: "admin",
  middleware: "auth",
});

const loading = ref(false);

const route = useRoute();
const id = route.params.id;
const item_id = route.params.item_id;

const tableProps = useTable(`/uang-saku/get-list-payroll-item-reports?id=${item_id}`, "created_at");
const tablePropsRef = toRefs(tableProps);
const { loading: isTableLoading, parent } = tablePropsRef;

const columns = ref<Column[]>([
  {
    accessor: "report.activity",
    value: "Activity",
  },
  {
    accessor: "report.note",
    value: "Note",
  },
  {
    accessor: "report.date",
    value: "Date",
  },
  {
    accessor: "report.status",
    value: "Status",
  },
]);

const handleSort = (column: any) => {
  tablePropsRef.sortColumn.value = column.accessor;
  tablePropsRef.sortDirection.value =
    tablePropsRef.sortDirection.value === "asc" ? "desc" : "asc";
};
</script>

<template>
  <div>
    <LoadingOverlay v-show="loading" />
    <NuxtLink :to="`/admin/payroll/submission/${id}`" class="text-blue-500 flex gap-2">
      <ArrowLeft />
      Back
    </NuxtLink>

    <div class="page-content my-8">
      <h2 class="text-2xl font-semibold"> Detail Laporan </h2>

      <!-- Name -->
      <div class="flex flex-col w-full md:w-1/2 gap-2 mt-8 mb-4" v-show="parent.user">
        <div class="flex">
          <p class="flex-1 font-semibold">Nama:</p>
          <p class="flex-1 ">{{ parent?.user?.name }}</p>
        </div>

        <div class="flex">
          <p class="flex-1 font-semibold">Universitas:</p>
          <p class="flex-1 ">{{ parent?.user?.userdata?.university?.name }}</p>
        </div>
      </div>

      <Table
        :columns="columns"
        :table-props="tablePropsRef"
        :is-loading="isTableLoading"
        :handle-sort="handleSort"
        :hide-search-box="true"
        class="my-4"
      />
    </div>
  </div>
</template>