<script setup lang="ts">
import { ref, onMounted } from "vue";
import type { ActiveInternshipType } from "~/types";
import { useRouter } from 'vue-router';
import moment from "moment";
import {
  ChevronRight,
  Clock,
  Check,
  X,
  CircleCheck,
  CircleX,
} from "lucide-vue-next";

const router = useRouter();
const props = defineProps<{
  activeInternshipData: ActiveInternshipType,
  activeInternshipLoading: boolean,
}>();

const loading = ref({ miniLoading: false, finalReport: true });
const finalReport = ref<any>(null);
const dailyReports = ref<any>([]);
const monthlyReports = ref<any>([]);
const isLastWeekOfMonth = ref(false);
const isLastMonthofInternship = ref(false);
const statusModal = ref<{
  isOpen: boolean;
  variant: string;
  title: string;
  message: string;
}>({
  isOpen: false,
  variant: "",
  title: "",
  message: "",
});

const popupModal: any = ref<{
  isOpen: boolean;
  isEdit?: boolean;
  title: string;
  data: any;
  type: string;
}>({
  isOpen: false,
  isEdit: false,
  title: "",
  data: {},
  type: "daily",
});

const modalFormState = ref({
  activity: "",
  note: "",
  type: "daily",
});

const completed = ref({
  show: false,
  count: 0,
});

const buttonLoading = ref(false);

const mapFinalReportStatus = (status: string) => {
  switch (status) {
    case "empty":
      return "Belum Diunggah";
    case "pending":
      return "Menunggu Persetujuan";
    case "approved":
      return "Disetujui";
    case "rejected":
      return "Ditolak";
    default:
      return "Belum Diunggah";
  }
};

const createLogbook = async (data: any) => {
  buttonLoading.value = true;
  await useCustomFetch("/logbook/create-report", {
    method: "POST",
    body: JSON.stringify({
      id: data.id,
      activity: modalFormState.value.activity,
      note: modalFormState.value.note,
      // Format data.date to yyyy-mm-dd
      date: data.date.split("-").reverse().join("-"),
      type: modalFormState.value.type,
    }),
  })
    .then((response) => {
      if (response?.code === 200) {
        statusModal.value = {
          isOpen: true,
          variant: "success",
          title: "Berhasil",
          message: "Laporan berhasil dibuat",
        };
      } else {
        statusModal.value = {
          isOpen: true,
          variant: "error",
          title: "Gagal",
          message: response?.message,
        };
      }
    })
    .catch((error) => {
      console.log(error);
      statusModal.value = {
        isOpen: true,
        variant: "error",
        title: "Gagal",
        message: "Terjadi kesalahan saat membuat laporan",
      };
    })
    .finally(() => {
      popupModal.value.isOpen = false;
      buttonLoading.value = false;

      // Clear data
      modalFormState.value = {
        activity: "",
        note: "",
        type: "daily",
      };
      popupModal.value.data = {};

      getDailyReports();
      getMonthlyReports();
    });
};

const showLogbookDetail = (report: any, type: string = "daily") => {
  popupModal.value = {
    isOpen: true,
    title: "Detail Laporan",
    data: report,
  };

  if (report.status === "Approved" || report.status === "Pending") {
    popupModal.value.isEdit = false;
  } else {
    popupModal.value.isEdit = true;
  }

  modalFormState.value.type = type;
};

const dayFromDate = (dateString: string) => {
  const daysOfWeek = ["S", "S", "S", "R", "K", "J", "S"];
  const [day, month, year] = dateString.split("-").map(Number);
  const date = new Date(year, month - 1, day);
  return daysOfWeek[date.getDay()];
};

const lastWeekOfMonth = () => {
  const currentDate = moment();
  const lastDayOfMonth = moment().endOf("month");
  const lastWeek = lastDayOfMonth.week();
  const currentWeek = currentDate.week();

  if (currentWeek === lastWeek) {
    isLastWeekOfMonth.value = true;
  } else {
    isLastWeekOfMonth.value = false;
  }
};

const lastMonthofInternship = () => {
  if (!props.activeInternshipData) {
    isLastMonthofInternship.value = false;
    return;
  }

  const rawEndDate = props.activeInternshipData.raw_end_date; // Date is 31 August 2024
  if (!rawEndDate) {
    isLastMonthofInternship.value = false;
    return;
  }
  const endDate = moment(rawEndDate); // Assuming end_date is in 'YYYY-MM-DD' format
  const currentDate = moment();

  // DEBUG: current date set to next month
  // currentDate.add(1, 'month');
  getFinalReportStatus();

  // if (
  //   currentDate.month() === endDate.month() &&
  //   currentDate.year() === endDate.year()
  // ) {
  //   isLastMonthofInternship.value = true;
  //   getFinalReportStatus();
  // } else {
  //   isLastMonthofInternship.value = false;
  // }
};

const getFinalReportStatus = async () => {
  loading.value.finalReport = true;
  await useCustomFetch("/logbook/get-user-final-report", {
    method: "GET",
  }).then((response) => {
    finalReport.value = response?.data;
  }).catch((error) => {
    console.error(error);
  }).finally(() => {
    loading.value.finalReport = false;
  });
};

const getDailyReports = async () => {
  loading.value.miniLoading = true;
  await useCustomFetch("/logbook/get-daily-reports", {
    method: "GET",
  })
    .then((response) => {
      const data = response?.data;
      const dailyReportsData = data.map((each: any) => {
        if (each.completed) {
          completed.value.count++;
        }

        return {
          week: each.week,
          reports: each.data,
          weekRange: each.week_range,
          completed: each.completed,
        };
      });

      dailyReports.value = dailyReportsData;
    })
    .catch((error) => {
      console.log(error);
    })
    .finally(() => {
      loading.value.miniLoading = false;
    });
};

const getMonthlyReports = async () => {
  loading.value.miniLoading = true;
  await useCustomFetch("/logbook/get-monthly-reports", {
    method: "GET",
  })
    .then((response) => {
      const data = response?.data;
      monthlyReports.value = data;
    })
    .catch((error) => {
      console.log(error);
    })
    .finally(() => {
      loading.value.miniLoading = false;
    });
};

onMounted(() => {
  if (props.activeInternshipData) {
    getDailyReports();
    getMonthlyReports();
    lastWeekOfMonth();
    getFinalReportStatus();
    // lastMonthofInternship();
  }
});
</script>

<template>
  <ContainerLoader :is-loading="activeInternshipLoading">
    <div class="flex gap-4" v-if="activeInternshipData?.isAvailable">
      <div class="sidebar-logbook-active-activity flex flex-col gap-4 basis-1/5 cursor-pointer">
        <div class="max-w-screen-xl">
          <div class="card-header rounded-t-md p-4">
            <img class="inline-block h-24 w-24 rounded-md"
              src="https://www.gravatar.com/avatar/3b3be63a4c2a439b013787725dfce802?d=identicon" alt="" />
          </div>
          <div class="flex flex-col p-4 gap-2 bg-white rounded-b-md hover:bg-gray-50">
            <h5 class="font-semibold flex items-center">
              <div class="grow">Magang Reguler</div>
              <ChevronRight :size="18" />
            </h5>
            <h5 class="font-light">
              {{ activeInternshipData?.branch }} -
              {{ activeInternshipData?.division }}
            </h5>
            <h5 class="font-light text-grey-50">
              {{ activeInternshipData?.period }}
            </h5>
          </div>
        </div>
      </div>

      <Container :use-background="false" class="basis-4/5 flex flex-col gap-4">
        <!-- Summary Magang -->
        <Container class="border-t-8 border-blue-500 w-100">
          <div class="flex">
            <div class="grow flex flex-col gap-4">
              <h5 class="text-2xl font-semibold">
                {{ activeInternshipData?.branch }} -
                {{ activeInternshipData?.division }}
              </h5>
              <p class="text-md text-grey-50">
                {{ activeInternshipData?.start_date }} -
                {{ activeInternshipData?.end_date }}
              </p>
              <NuxtLink :to="`/logbook/offer-detail?id=${activeInternshipData?.offer_id}`" class="text-blue-500">
                Lihat Detail
              </NuxtLink>

              <ul class="list-disc list-inside" v-show="dailyReports?.length > 0">
                <li> {{ dailyReports?.length ? `${dailyReports?.length} minggu laporan belum dibuat` : "" }} </li>
              </ul>
            </div>
            <img src="~/assets/images/logo-ptp-colored.png" alt="Logo" class="w-1/2 h-fit" />
          </div>
        </Container>

        <!-- Laporan Akhir -->
        <div class="flex flex-col gap-4">
          <ContainerLoader :is-loading="loading.finalReport">
            <h5 class="text-2xl font-bold">Laporan Akhir</h5>
            <div class="flex flex-col gap-2 grow p-4 bg-white rounded-md cursor-pointer">
              <h5 class="text-md font-bold text-blue-500">
                <template v-if="finalReport?.status === 'approved'">
                  <CircleCheck class="inline mr-1" />
                </template>
                <template v-else-if="finalReport?.status === 'rejected'">
                  <CircleX class="inline mr-1" />
                </template>
                <template v-else>
                  <Clock class="inline mr-1" />
                </template>

                {{ mapFinalReportStatus(finalReport?.status) }}
              </h5>
              <h5 class="text-md font-semibold">Laporan Akhir</h5>
              <p class="text-md text-grey-50">
                Laporan akhir baru dapat disetujui setelah semua laporan mingguan kamu sudah kami terima dengan baik
              </p>

              <div class="button-container text-center my-4">
                <Button variant="primary" :label="finalReport?.status !== 'empty'
                    ? 'Lihat Status'
                    : 'Unggah Laporan'
                  " @click="router.push('/logbook/final-report')" />
              </div>
            </div>
          </ContainerLoader>
        </div>

        <!-- Laporan Bulanan. Show jika end of month -->
        <!-- <div class="flex flex-col gap-4" v-show="isLastWeekOfMonth">
          <h5 class="text-2xl font-bold">Laporan Bulanan</h5>
          <ContainerLoader :isLoading="loading.miniLoading" :useBackground="false">
            <div class="flex flex-col gap-2 grow p-4 bg-white rounded-md cursor-pointer">
              <h5 class="text-md font-semibold">Laporan Bulanan</h5>
              <p class="text-md text-grey-50">
                Harap isi laporan harian sebelum mengisi laporan bulanan
              </p>
              <div class="button-container text-center my-4">
                <Button variant="primary" :label="monthlyReports?.id ? 'Lihat Laporan' : 'Isi Laporan'"
                  @click="() => showLogbookDetail(monthlyReports, 'monthly')" />
              </div>
            </div>
          </ContainerLoader>
        </div> -->

        <!-- Laporan Harian -->
        <div class="flex flex-col gap-4">
          <h5 class="text-2xl font-bold" v-show="dailyReports?.length > 0">
            Laporan Harian
          </h5>
          <ContainerLoader :isLoading="loading.miniLoading" :useBackground="false">
            <!-- Toggle show hidden daily report -->
            <div class="flex justify-center gap-4 mb-4">
              <Button variant="outlinePrimary" :label="completed.show
                  ? `Tampilkan ${completed.count} Laporan Selesai`
                  : `Sembunyikan ${completed.count} Laporan Selesai`
                " @click="completed.show = !completed.show" size="sm" />
            </div>

            <div v-show="!dailyReport.completed || !completed.show"
              class="flex flex-col gap-2 grow p-4 mb-4 bg-white rounded-md" v-for="(dailyReport, index) in dailyReports"
              v-bind:key="index">
              <div class="flex" :is-loading="loading.miniLoading">
                <div class="grow">
                  <h5 class="text-md font-semibold">
                    {{ dailyReport?.weekRange }}
                    <ChevronRight class="inline" />
                  </h5>
                  <h5 class="text-md font-semibold">
                    Minggu ke-{{ dailyReport.week }}
                  </h5>
                </div>
                <div class="daily-recap flex gap-2">
                  <div class="flex flex-col text-center gap-2" v-for="(report, index) in dailyReport.reports"
                    :key="index">
                    <h5 class="font-bold">
                      {{ dayFromDate(report.date) }}
                    </h5>
                    <div class="rounded-full bg-green-400 hover:bg-green-500 transition-all cursor-pointer p-2"
                      v-if="report.status === 'Approved'" @click="() => showLogbookDetail(report)">
                      <Check class="text-white" />
                    </div>
                    <div class="rounded-full bg-yellow-400 hover:bg-yellow-500 transition-all cursor-pointer p-2"
                      v-else-if="report.status === 'Pending'" @click="() => showLogbookDetail(report)">
                      <Clock class="text-white" />
                    </div>
                    <div class="rounded-full bg-red-400 hover:bg-red-500 transition-all cursor-pointer p-2" v-else
                      @click="() => showLogbookDetail(report)">
                      <X class="text-white" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ContainerLoader>
        </div>
      </Container>
    </div>

    <Container variant="fluid" class="text-center py-8 my-4" v-else>
      <h5 class="text-xl font-semibold"> Anda belum terdaftar pada magang apapun </h5>
      <p class="text-md text-grey-5 my-4"> Silakan mendaftar pada magang yang tersedia </p>
    </Container>

    <PopupModal :is-open="popupModal.isOpen" :title="popupModal.title" size="md"
      @modal-close="popupModal.isOpen = false">
      <template v-if="popupModal.isEdit">
        <div class="flex flex-col gap-4">
          <!-- Input Activity -->
          <Input id="activity" label="Kegiatan" v-model="modalFormState.activity" placeholder="Kegiatan" />

          <!-- Input Textarea -->
          <Textarea id="note" label="Catatan" v-model="modalFormState.note" placeholder="Catatan"
            :value="popupModal.data.note" customClass="h-40" />

          <div class="flex flex-row-reverse gap-2">
            <Button label="Simpan" @click="() => createLogbook(popupModal.data)" :is-loading="buttonLoading"
              :disabled="buttonLoading" />
            <Button label="Batal" :disabled="buttonLoading" @click="() => (popupModal.isOpen = false)" />
          </div>
        </div>
      </template>
      <template v-else>
        <div class="flex flex-col gap-4">
          <div class="flex items-center justify-between">
            <h5 class="text-xl font-semibold">
              {{ popupModal.data.activity }}
            </h5>
            <p class="text-md text-grey-50">{{ popupModal.data.date }}</p>
          </div>
          <p class="text-md break-all">{{ popupModal.data.note }}</p>
        </div>
      </template>
    </PopupModal>

    <StatusModal :is-open="statusModal.isOpen" :variant="statusModal.variant" :title="statusModal.title"
      :description="statusModal.message" @modal-close="statusModal.isOpen = false" />
  </ContainerLoader>
</template>
