<script setup lang="ts">
const certificates = ref<any>([]);
const baseUrl = ref("");
const loading = ref(true);

const getCertificates = async () => {
  await useCustomFetch("/logbook/my-certificates", {
    method: "GET",
  })
    .then((response) => {
      certificates.value = response?.data?.data;
      baseUrl.value = response?.baseUrl;
    })
    .catch((error) => {
      console.error(error);
    }).finally(() => {
      loading.value = false;
    });
};

const onDownloadCertificate = (path: string) => {
  const url = `${baseUrl.value}/${path}`;
  window.open(url, "_blank");
};

onMounted(async () => {
  await getCertificates();
});
</script>

<template>
  <ContainerLoader :is-loading="loading">
    <Container class="my-4" v-if="certificates.length > 0">
      <div v-for="certificate in certificates" :key="certificate.id" class="pb-8 border-b">
      <!-- {{ certificate.offer.division.name }} -->
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <div class="ml-4">
              <h5 class="text-lg font-semibold">{{ certificate.offer.division.name }}</h5>
              <p class="text-md text-grey-5">{{ certificate.offer.division.description }}</p>

              <p class="text-md text-grey-5">
                {{ certificate.offer.start_date }} - {{ certificate.offer.end_date }}
              </p>
            </div>
          </div>
          <div>
            <Button @click="onDownloadCertificate(certificate.file.path)" variant="primary" class="px-4 py-2">
              Download
            </Button>
          </div>
        </div>
      </div>
    </Container>

    <Container variant="fluid" class="text-center py-8 my-4" v-else>
      <h5 class="text-xl font-semibold"> Anda belum memiliki sertifikat </h5>
      <p class="text-md text-grey-5 my-4">  
        Ikuti kegiatan dan dapatkan sertifikat dari kegiatan yang telah diikuti
      </p>
    </Container>
  </ContainerLoader>
</template>