<script setup lang="ts">
import { ref, onMounted } from "vue";
import {
  Book,
  Download,
} from "lucide-vue-next";

const loading = ref(true);
const silabusData = ref<any>([]);
const baseUrl = ref("");

  const getSilabus = async () => {
  await useCustomFetch("/logbook/get-silabus", {
    method: "GET",
  })
    .then((response) => {
      const dt = response?.data;
      dt.forEach((each: any) => {
        if (each.type === "SILABUS_PROFILE") {
          silabusData.value.push({
            type: "SILABUS_PROFILE",
            name: "Profile Perusahaan",
            path: each.path,
          });
        } else if (each.type === "SILABUS_ALUR") {
          silabusData.value.push({
            type: "SILABUS_ALUR",
            name: "Alur Bisnis",
            path: each.path,
          });
        } else if (each.type === "SILABUS_KNOWLEDGE") {
          silabusData.value.push({
            type: "SILABUS_KNOWLEDGE",
            name: "Knowledge Map",
            path: each.path,
          });
        }
      });

      baseUrl.value = response?.baseUrl;
    })
    .catch((error) => {
      console.log(error);
    })
    .finally(() => {
      loading.value = false;
    });
};

const downloadSilabus = (data: any) => {
  const url = `${baseUrl.value}/${data.path}`;
  window.open(url, "_blank");
};

onMounted(async () => {
  await getSilabus();
});
</script>

<template>
  <ContainerLoader :is-loading="loading">
    <div class="flex flex-col md:flex-row gap-4 mx-4 md:mx-auto my-4 min-h-96">
      <div class="sidebar-logbook-active-activity flex flex-col gap-4 w-full cursor-pointer basis-1/5">
        <div class="bg-white rounded-b-md hover:bg-gray-50 flex flex-col gap-2 p-4">
          <div class="grow flex flex-row">
            <h5 class="font-semibold grow">
              <Book class="inline mr-1" />
              Magang Reguler
            </h5>
            <Badge> Sudah Terdaftar </Badge>
          </div>
          <div class="flex gap-4 items-start">
            <img src="~/assets/images/default-log.png" width="64px" height="64px" class="rounded-md my-1" />
            <div class="flex flex-col gap-2">
              <h5 class="font-semibold">Kantor Pusat</h5>
              <h5 class="font-light">Divisi SDM & Umum</h5>
              <h5 class="font-light text-grey-50">Kota Jakarta Utara</h5>
            </div>
          </div>
        </div>
      </div>

      <Container class="w-full md:basis-4/5">
        <h1 class="text-2xl font-semibold">Silabus Magang</h1>
        <p class="text-md my-2">Download silabus magang Anda</p>

        <!-- Page -->
        <div class="flex flex-col gap-4 my-4">
          <div v-for="(each, key) in silabusData" :key="key" class="flex gap-2 cursor-pointer"
            @click="downloadSilabus(each)">
            <Download />
            <h5 class="font-semibold">{{ each?.name }}</h5>
          </div>
        </div>
      </Container>
    </div>
  </ContainerLoader>
</template>