<template>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sunt cupiditate laborum fugiat vitae impedit dolorem, delectus modi sint corrupti.
  </div>
</template>

<script>

</script>

<style>

</style>