<script setup lang="ts">
import { defineProps } from "vue";
// @ts-ignore
import Label from "~/components/global/Label.vue";

const props = defineProps<{
  id: number;
  uid?: string;
  profilePhoto: string;
  name: string;
  university: string;
  major: string;
  phoneNumber: string;
  cvUrl: string;
  status?: string;
  step?: string;
  showAction?: boolean;
  division?: string;
  reason?: string;
  action?: (type: string, data: any) => void;
  baseFileUrl?: string;
  onDownloadAll?: (row: any) => void;
  onDownloadAllLoading?: boolean;
  isSuperAdmin?: boolean;
  onSettings?: (id: number) => void;
}>();

const status = ref(props.status || "");

const gotoCvURL = () => {
  window.open(props.cvUrl, "_blank");
};
</script>

<template>
  <Container class="flex gap-4">
    <img :src="profilePhoto" class="w-16 h-16 md:w-32 md:h-32 rounded-lg" />
    <div class="flex flex-col grow">
      <div class="flex flex-row justify-between items-start gap-4">
        <div>
          <h2 class="font-bold text-xl">
            {{ name }}
          </h2>
          <p class="text-sm text-gray-500 my-2">
            {{ university }} {{ phoneNumber ? "- 0" + phoneNumber : "" }}
          </p>

          <div class="flex flex-col md:flex-row gap-4 justify-between mt-4">
            <div>
              <h2 class="text-md font-semibold">Program Studi / Jurusan</h2>
              <p class="text-sm text-gray-500">{{ major }}</p>
            </div>
            <div>
              <h2 class="text-md font-semibold">Divisi</h2>
              <p class="text-sm text-gray-500">{{ division || " - " }}</p>
            </div>
            <div>
              <h2 class="text-md font-semibold">Status</h2>
              <p class="text-sm text-gray-500">
                {{
                  status === "EXPIRED"
                    ? "Expired"
                    : status === "REJECTED"
                      ? "Rejected with reason: " + reason
                      : "-"
                }}
              </p>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <Badge
            class="text-center"
            v-show="step"
            :variant="
              ['REJECTED', 'EXPIRED'].includes(status) ? 'danger' : 'primary'
            "
          >
            {{ step }}
          </Badge>

          <Button
            label="Download CV"
            variant="secondary"
            size="sm"
            :onClick="gotoCvURL"
            :disabled="cvUrl === '' || cvUrl === null"
          />

          <Button
            label="Download All (ZIP)"
            variant="secondary"
            size="sm"
            :is-loading="onDownloadAllLoading"
            :onClick="() => onDownloadAll && onDownloadAll({ uid })"
            v-show="onDownloadAll"
          />

          <Button
            label="Settings"
            variant="primary"
            size="sm"
            :onClick="() => onSettings && onSettings(id)"
            v-show="isSuperAdmin"
          />

          <div
            class="flex gap-2 justify-between mt-4"
            v-show="showAction && !['REJECTED', 'EXPIRED'].includes(status)"
          >
            <Button
              :label="
                status === 'APPROVED' && step === 'ACTIVE'
                  ? 'Aktifkan'
                  : 'Terima'
              "
              variant="primary"
              size="sm"
              @click="
                () => {
                  const actionType =
                    status === 'APPROVED' && step === 'ACTIVE'
                      ? 'activate'
                      : 'accept';
                  action && action(actionType, { id });
                }
              "
              :hidden="step === 'ACTIVE'"
            />
            <Button
              :label="
                status === 'APPROVED' && step === 'ACTIVE'
                  ? 'Non Aktifkan'
                  : 'Tolak'
              "
              variant="danger"
              size="sm"
              @click="
                () => {
                  const actionType =
                    status === 'APPROVED' && step === 'ACTIVE'
                      ? 'deactivate'
                      : 'reject';
                  action && action(actionType, { id });
                }
              "
            />
            <Button
              label="Selesaikan"
              variant="primary"
              size="sm"
              @click="
                () => {
                  const actionType = 'finish';
                  action && action(actionType, { id });
                }
              "
              :hidden="step !== 'ACTIVE'"
            />
          </div>
        </div>
      </div>
    </div>
  </Container>
</template>
