<script setup lang="ts">
import { CheckCheck, CheckCircle, XCircle } from 'lucide-vue-next';
import moment from 'moment';
// @ts-ignore
import Button from '~/components/global/Button.vue';
import Div from '~/components/global/Div.vue';
import Badge from '~/components/global/Badge.vue';
import download from 'downloadjs';

useHeadTitle('Logbook Intern - User Daily Reports');

definePageMeta({
  layout: "admin",
  middleware: "auth",
});

const isLoading = ref(false);
const loading = ref({
  updateStatus: false,
  downloadReportPdf: false,
  downloadReportXlsx: false,
  approveAll: false
});
const statusModal = ref({
  show: false,
  message: "",
  type: ""
});

const router = useRouter();
const id = router.currentRoute.value.params.id;

const reportColumns = ref([
  { accessor: "date", value: "Tanggal" },
  { accessor: "activity", value: "Aktivitas", customWidth: "max-w-[200px]" },
  { accessor: "note", value: "Catatan", customWidth: "max-w-[400px]" },
  { 
    accessor: "status", 
    value: "Status", 
    customRender: (value: any) => {
      const statusVariant = value === "Approved" ? "primary" : "danger";
      return h(Badge, {
          variant: statusVariant,
        },      
        value
      );
    },
    customRenderType: "component",
  },
  { 
    accessor: "action", 
    value: "Aksi",
    customRender: (value: any, row: any) => {
      const date = moment();
      const isAfter5thNextMonth = moment().isAfter(date.clone().add(5, 'months').startOf('month'));

      // Approve and Reject
      const approveButton = h(Button, {
        onClick: () => updateStatus(row.id, 'approved'),
        size: 'sm',
        isLoading: loading.value.updateStatus,
        disabled: isAfter5thNextMonth,
      }, { default: () => h(CheckCircle, { size: 20 }) });

      // updateStatus
      const rejectButton = h(Button, {
        onClick: () => updateStatus(row.id, 'rejected'),
        size: 'sm',
        variant: 'danger',
        disabled: isAfter5thNextMonth,
        isLoading: loading.value.updateStatus,
      }, { default: () => h(XCircle, { size: 20 }) });

      const div = h(Div, {
        class: "flex space-x-2",
      }, { default: () => [approveButton, rejectButton] });

      return div;
    },
    customRenderType: "component",
  },
]);

const tableRef = toRefs(useTable(`/logbook/list-user-daily-reports?uid=${id}`, "created_at"));
const { loading: tableLoading, data, reload } = tableRef;

const capitalize = (str: string) => {
  return str.charAt(0).toUpperCase() + str.slice(1);
};

const updateStatus = async (id: number, status: string) => {
  loading.value.updateStatus = true;
  await useCustomFetch('/logbook/update-status-report', {
    method: 'POST',
    body: JSON.stringify({ id, status }),
  }).then(() => {
    const index = data.value.findIndex((item: any) => item.id === id);
    data.value[index].status = capitalize(status);

    statusModal.value = {
      show: true,
      message: "Status has been updated",
      type: "success"
    }
  }).catch((error: any) => {
    console.log("Error: ", error)
    statusModal.value = {
      show: true,
      message: error?.data?.message,
      type: "danger"
    }
  }).finally(() => {
    loading.value.updateStatus = false;
  });
};

const approveAll = async () => {
  loading.value.approveAll = true;
  await useCustomFetch(`/logbook/approve-all-reports`, {
    method: 'POST',
    body: {
      uid: id
    }
  }).then(() => {
    statusModal.value = {
      show: true,
      message: "All reports has been approved",
      type: "success"
    }
  }).catch((error: any) => {
    statusModal.value = {
      show: true,
      message: error?.data?.message,
      type: "danger"
    }
  }).finally(() => {
    loading.value.approveAll = false;
    reload.value();
  });
};

const downloadReport = async (type: string) => {
  if (type === 'pdf') {
    loading.value.downloadReportPdf = true;
  } else {
    loading.value.downloadReportXlsx = true;
  }

  await useCustomFetch(`/logbook/download-user-reports?uid=${id}&type=${type}`, {
    method: 'GET',
  }).then((response: any) => {
    download(response, `laporan-harian-${id}.${type}`, 
      type === 'pdf' ? 'application/pdf' : 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
    );
  }).catch((error: any) => {
    statusModal.value = {
      show: true,
      message: error?.data?.message,
      type: "danger"
    }
  }).finally(() => {
    if (type === 'pdf') {
      loading.value.downloadReportPdf = false;
    } else {
      loading.value.downloadReportXlsx = false;
    }
  });
};
</script>

<template>
  <div>
    <!-- Back button -->
    <NuxtLink to="/admin/logbook-intern" class="text-blue-500 flex gap-2 mb-4"> 
      <IconArrowLeft /> 
      Back 
    </NuxtLink>

    <h2 class="text-2xl font-semibold"> Logbook Intern </h2>
    <p class="text-md font-light my-2">
      Approval permohonan laporan harian peserta magang
    </p>

    <div class="flex justify-between gap-4 my-4" v-show="false">
      <Container variant="fluid" useCustomWidth="w-1/4" class="flex justify-between">
        <div>
          <p> Perlu Approval </p>
          <h2 class="text-2xl font-bold"> 0 </h2>
        </div>
        <Button variant="secondary">
          <CheckCheck class="w-6 h-6" />
        </Button>
      </Container>
      
      <Container variant="fluid" useCustomWidth="w-1/4" class="flex justify-between">
        <div>
          <p> Sudah Approve </p>
          <h2 class="text-2xl font-bold"> 0 </h2>
        </div>
        <Button variant="success">
          <Check class="w-6 h-6" />
        </Button>
      </Container>
    </div>

    <div class="flex justify-end gap-2">
      <Button
        variant="primary"
        @click="approveAll()"
        :is-loading="loading.approveAll"
        :disabled="loading.approveAll"
      >
        Approve All
      </Button>

      <Button
        variant="primary"
        @click="downloadReport('pdf')"
        :is-loading="loading.downloadReportPdf"
        :disabled="loading.downloadReportPdf"
      >
        Download Report as PDF
      </Button>

      <Button
        variant="primary"
        @click="downloadReport('xlsx')"
        :is-loading="loading.downloadReportXlsx"
        :disabled="loading.downloadReportXlsx"
      >
        Download Report as Xlsx
      </Button>
    </div>

    <Table 
      :columns="reportColumns"
      :table-props="tableRef"
      :is-loading="isLoading || tableLoading"
      class="my-4"
    />

    <StatusModal
      :isOpen="statusModal.show"
      :message="statusModal.message"
      :variant="statusModal.type"
      @modal-close="statusModal.show = false"
      :description="statusModal.message"
    />
  </div>
</template>