<script setup lang="ts">
import { File } from 'lucide-vue-next';
// @ts-ignore
import Button from '~/components/global/Button.vue';
// @ts-ignore
import Badge from '~/components/global/Badge.vue';
import Div from '~/components/global/Div.vue';

useHeadTitle('Laporan Akhir');

definePageMeta({
  layout: "admin",
  middleware: "auth",
});

const loading = ref({
  updateStatus: false,
})
const statusModal = ref({
  show: false,
  message: "",
  type: ""
});

const columns = ref([
  { 
    accessor: "sender", 
    value: "user.name",
    customRender: (value: any, row: any) => {
      const userContainer = h(Div, {
        class: "flex flex-col",
      }, { default: () => [
        h("p", { class: "text-md text-grey-50" }, { default: () => row.email }),
        h("h5", { class: "text-md font-semibold text-black" }, { default: () => row.sender }),
      ] });

      const div = h(Div, {
        class: "flex items-center gap-4",
      }, { default: () => [
        h("img", { src: row.profilePhoto, alt: row.name, class: "w-8 h-8 rounded-md" }),
        userContainer,
      ] });

      return div;
    }, 
    customRenderType: "component",
  },
  { accessor: "university.name", value: "Asal Sekolah/Universitas" },
  { accessor: "division.name", value: "Penempatan" },
  { 
    accessor: "reportFile", 
    value: "File Final Report",
    customRender: (value: any, row: any) => {
      const fileContainer = h(Div, {
        class: "flex flex-col",
      }, { default: () => [
        h("p", { class: "text-md text-grey-50" }, { default: () => "File Laporan Akhir" }),
        h("a", { class: "text-lg font-semibold text-black" }, { default: () => row.reportFileName }),
      ] });

      const div = h(Div, {
        class: "flex items-center gap-2",
      }, { default: () => [
        h(File, { size: 24 }),
        fileContainer,
      ] });

      return div;
    },
    customRenderType: "component",
  },
  {
    accessor: "status",
    value: "Status",
    customRender: (value: any) => {
      const badge = h(Badge, {
        variant: value === "approved" ? "success" : "danger",
      }, { default: () => value });

      return badge;
    },
    customRenderType: "component",
  },
  { 
    accessor: "action", 
    value: "Aksi",
    customRender: (value: any, row: any) => {
      const viewButton = h(Button, {
        onClick: () => window.open(row.reportFileFullPath, "_blank"),
        size: 'sm',
      }, "View");

      const approveButton = h(Button, {
        onClick: () => updateStatus(row.id, "approve"),
        size: 'sm',
        disabled: row.status === "approved" || loading.value.updateStatus,
        isLoading: loading.value.updateStatus,
      }, "Approve");

      const disapproveButton = h(Button, {
        onClick: () => updateStatus(row.id, "reject"),
        size: 'sm',
        variant: 'danger',
        disabled: row.status === "approved" || row.status === "reject" || loading.value.updateStatus,
        isLoading: loading.value.updateStatus,
      }, "Reject");

      const div = h(Div, {
        class: "flex space-x-2",
      }, { default: () => [viewButton, approveButton, disapproveButton] });

      return div;
    },
    customRenderType: "component",
  },
]);

const tablePropsRef = toRefs(useTable("/logbook/get-list-final-report", "created_at"));
const { loading: isTableLoading, reload } = tablePropsRef;

const updateStatus = async (id: number, action: string) => {
  loading.value.updateStatus = true;
  await useCustomFetch(`/logbook/update-final-report-status`, { 
    method: "POST", 
    body: { 
      id, action      
    } 
  }).then((res) => {
    statusModal.value = {
      show: true,
      message: res?.data?.message || "Berhasil mengubah status",
      type: "success"
    }
  }).catch((error) => {
    statusModal.value = {
      show: true,
      message: error?.data?.message || "Internal Server Error",
      type: "danger"
    }
  }).finally(() => {
    loading.value.updateStatus = false;

    // Update status in table
    reload.value();
  });
}

</script>

<template>
  <ContainerLoader :use-icon="true" customClass="h-[80vh]">
    <h2 class="text-2xl font-semibold"> Laporan Akhir </h2>
    <p class="text-md font-light my-2">
      Bank Data Laporan Akhir Peserta Magang
    </p>

    <Table 
      :columns="columns"
      :table-props="tablePropsRef"
      :is-loading="isTableLoading"
      class="my-4"
    />

    <StatusModal
      :isOpen="statusModal.show"
      :message="statusModal.message"
      :variant="statusModal.type"
      @modal-close="statusModal.show = false"
      :description="statusModal.message"
    />
  </ContainerLoader>
</template>