<script setup lang="ts">
import { Bell, Users } from 'lucide-vue-next';
import { Skeleton } from '~/components/ui/skeleton';
import { useAuth } from '~/stores/useAuth';

definePageMeta({
  layout: "admin",
  middleware: "auth",
});

useHeadTitle("Dashboard");

const loading = ref({
  branch: true,
  participants: true
});
const summary = ref<{
  unregisteredParticipant: number;
  activeCount: number;
}>({
  unregisteredParticipant: 0,
  activeCount: 0,
});
const preview: any = ref([]);
const branch: any = ref([]);
const router = useRouter();
const { getRoles } = useAuth();
const { authenticated } = storeToRefs(useAuth());
const baseUrl = ref(process.env.APP_SERVICE_URL);

const getBranch = async () => {
  try {
    loading.value.branch = true;
    const response = await useCustomFetch("/register/get-branch", "GET");

    if (response.code === 200) {
      branch.value = response.data;
    }
  } catch (error) {
    console.error(error);
  }

  loading.value.branch = false;
};

const getDashboardSummary = async () => {
  loading.value.participants = true;
  await useCustomFetch("/admin/get-dashboard", "GET")
    .then((response: any) => {
      summary.value.unregisteredParticipant = response?.data?.unregisteredInternshipUser;
      summary.value.activeCount = response?.data?.activeCount;
      preview.value = response?.data?.preview;
      baseUrl.value = response.baseFileUrl as string;
    }).catch((error) => {
      console.error(error);
    }).finally(() => {
      loading.value.participants = false;
    });
}

onMounted(async () => {
  if (!authenticated) {
    router.push("/");
  }

  const roles = await getRoles();
  if (!roles.find((role: any) => role.code.startsWith("Admin"))) {
    router.push("/");
  }

  await getBranch();
  await getDashboardSummary();
});

</script>

<template>
  <div>
    <UnauthorizedOverlay v-show="!authenticated" />

    <h1 class="text-2xl font-semibold"> Dashboard Admin </h1>

    <div class="flex flex-col md:flex-row justify-between gap-4 my-4">
      <Container variant="fluid" useCustomWidth="w-full md:w-1/4" class="flex justify-between">
        <div>
          <p> Data Peserta Aktif </p>
          <h2 :class="['text-2xl', loading.participants ? 'italic font-normal !text-sm my-2' : 'not-italic font-bold']"> 
            {{ loading.participants ? "Loading" : summary?.activeCount }} 
          </h2>
        </div>
        <Button variant="primary">
          <Bell class="w-6 h-6" />
        </Button>
      </Container>
      
      <Container variant="fluid" useCustomWidth="w-full md:w-1/4" class="flex justify-between">
        <div>
          <p> Peserta Pendaftar </p>
          <h2 :class="['text-2xl', loading.participants ? 'italic font-normal !text-sm my-2' : 'not-italic font-bold']"> 
            {{ loading.participants ? "Loading" : summary?.unregisteredParticipant }} 
          </h2>
        </div>
        <Button variant="primary">
          <Users class="w-6 h-6" />
        </Button>
      </Container>
    </div>

    <section>
      <h1 class="text-xl font-semibold mb-4"> Daftar Peserta </h1>

      <ContainerLoader :is-loading="loading.participants">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
          <Card v-for="(item, index) in preview" :key="index">
            <img 
              :src="item.files.length > 0 ? baseUrl + '/' + item?.files[0]?.path : 'https://www.gravatar.com/avatar/3b3be63a4c2a439b013787725dfce802?d=identicon'" 
              alt="Image Profile" 
              class="w-32 h-32 object-cover rounded-full mx-auto border p-1"
            >
            <div class="flex flex-col text-center my-2 gap-2">
              <h5 class="text-lg font-semibold"> {{ item?.name }} </h5>
              <p class="text-md font-semibold"> {{ item?.userdata?.university?.name }} </p>
              <p class="text-sm"> {{ item?.userdata?.major?.name }} </p>
            </div>
          </Card>
        </div>

        <Container v-show="!preview.length" class="text-center">
          Data tidak ditemukan
        </Container>
      </ContainerLoader>
    </section>

    <section>
      <h1 class="text-xl font-semibold my-4"> Daftar Kantor </h1>
    
      <ContainerLoader :is-loading="loading.branch">
        <div class="grid grid-cols-2 md:grid-cols-5 text-center gap-4">
          <Card 
            v-for="(item, index) in branch" 
            :key="index" 
            :style="`background: url(${item.cover}) center;`"
            class="text-center font-bold text-white bg-gray-800 bg-cover bg-center bg-no-repeat h-25"  
          >
            {{ item.name }}
          </Card>
        </div>
      </ContainerLoader>
    </section>
  </div>
</template>