<script setup lang="ts">
import { definePageMeta, useHeadTitle } from '#imports';
import { ref, h } from 'vue';
import { onMounted } from 'vue';
import { useCustomFetch } from '#imports';
import { formatMoney } from '@/utils';
import { type Column } from '@/types';
import Button from '~/components/global/Button.vue';
definePageMeta({
  layout: 'admin',
  middleware: 'auth',
});
useHeadTitle('Klasifikasi Peserta');

const loading = ref(true);
const editData = ref({
  id: 0,
  category: '',
  description: '',
  rawDescription: 0,
  level: '',
  isOpen: false,
});
const statusModal = ref({
  isOpen: false,
  message: '',
  type: 'success',
});
const columns = ref<Column[]>([
  {
    accessor: 'category',
    value: 'Kategori',
  },
  {
    accessor: 'description',
    value: 'Rincian Uang Saku',
  },
  {
    accessor: 'level',
    value: 'Jenjang Peserta',
  },
  {
    accessor: 'action',
    value: 'Aksi',
    customRender: (value: any, row: any) => {
      return h(Button, {
        onClick: () => {
          editData.value = {
            id: row.id,
            category: row.category,
            description: row.description,
            rawDescription: row.rawDescription,
            level: row.level,
            isOpen: true,
          };
        },
        type: 'button',
        variant: 'primary',
        size: 'sm',
      }, 'Edit');
    },
    customRenderType: 'component'
  },
]);

const data = ref<any>([]);

const mapLevel = (code: string) => {
  switch (code) {
    case 'PKL':
      return {
        category: "Magang Siswa Reguler (PKL)",
        level: "SMK"
      };
    case 'INTERND':
      return {
        category: "Magang Mahasiswa Diploma (Internship D)",
        level: "D-I / D-II / D-III / D-IV"
      };
    case 'INTERNS':
      return {
        category: "Magang Mahasiswa Strata (Internship S)",
        level: "S1"
      };
    case 'FRESHGRAD':
      return {
        category: "Magang Mahasiswa Freshgraduate (Freshgraduate)",
        level: "Lulus S1"
      };

    default:
      return {
        category: "Undefined",
        level: "Undefined"
      };
  }
};

const getPaymentAmounts = async () => {
  await useCustomFetch('/setting/parameter/by-type?type=sys_payment_amount').then((res) => {
    res.data.forEach((item: any) => {
      const map = mapLevel(item.code);

      data.value.push({
        id: item.id,
        category: map.category,
        description: formatMoney(item.name),
        level: map.level,
        rawDescription: item.name,
      });
    });
  }).catch((err) => {
    console.log(err);
  }).finally(() => {
    loading.value = false;
  });
};

const updateParameter = async () => {
  loading.value = true;
  await useCustomFetch('/setting/parameter/update', {
    body: {
      id: editData.value.id,
      name: editData.value.rawDescription,
    },
    method: 'POST',
  }).then(() => {
    editData.value.isOpen = false;
    data.value = [];
    getPaymentAmounts();

    statusModal.value = {
      isOpen: true,
      message: 'Berhasil mengubah data',
      type: 'success',
    };
  }).catch((err) => {
    statusModal.value = {
      isOpen: true,
      message: err.message,
      type: 'danger',
    };
  }).finally(() => {
    loading.value = false;
  });
};

onMounted(async () => {
  await getPaymentAmounts();
});
</script>

<template>
  <div>
    <h1 class="text-2xl font-semibold"> Klasifikasi Peserta </h1>

    <ContainerLoader :isLoading="loading" :useIcon="true">
      <Table :columns="columns" :data="data" :hide-search-box="true"/>
    </ContainerLoader>

    <PopupModal
      :isOpen="editData.isOpen"
      @modal-close="editData.isOpen = false"
      title="Edit Klasifikasi Peserta"
      size="md"
    >
      <FormController
        name="code"
        label="Category"
      >
        <template #render>
          <Input
            v-model="editData.category"
            label="Kategori"
            placeholder="Kategori"
            :value="editData.category"
            disabled
          />
        </template>
      </FormController>

      <FormController
        name="description"
        label="Rincian Uang Saku"
      >
        <template #render>
          <Input
            type="number"
            v-model="editData.rawDescription"
            label="Uang Saku"
            placeholder="Uang Saku"
            :value="editData.rawDescription"
          />
        </template>
      </FormController>

      <div class="flex justify-end gap-2 mt-4">
        <Button
          type="button"
          variant="secondary"
          @click="editData.isOpen = false"
          :disabled="loading"
        >
          Batal
        </Button>
        <Button
          type="button"
          variant="primary"
          @click="updateParameter"
          :disabled="!editData.rawDescription || loading"
          :isLoading="loading"
        >
          Simpan
        </Button>
      </div>
    </PopupModal>

    <StatusModal
      :isOpen="statusModal.isOpen"
      :description="statusModal.message"
      :variant="statusModal.type"
      @modal-close="statusModal.isOpen = false"
    />
  </div>
</template>a
