<script setup lang="ts">
import { h } from "vue";
import Div from "~/components/global/Div.vue";
import Button from "~/components/global/Button.vue";
import { Eye, Printer } from 'lucide-vue-next';

definePageMeta({
  layout: "admin",
});

useHeadTitle("Laporan");

const handleActionClick = (item: any, row: any) => {
  console.log(row.sender);
};

const columns = ref([
  { accessor: "fileName", value: "Nama File" },
  { accessor: "sender", value: "Pengirim" },
  { accessor: "lastModified", value: "Terakhir Diubah" },
  { accessor: "fileSize", value: "Ukuran" },
  { 
    accessor: "action", 
    value: "Aksi",
    customRender: (value: any, row: any) => {
      const viewButton = h(Button, {
        onClick: () => handleActionClick(value, row),
        size: 'sm',
      }, { default: () => h(Eye, { size: 20 }) });

      const printButton = h(Button, {
        onClick: () => handleActionClick(value, row),
        size: 'sm',
      }, { default: () => h(Printer, { size: 20 }) });

      const div = h(Div, {
        class: "flex space-x-2",
      }, { default: () => [viewButton, printButton] });

      return div;
    },
    customRenderType: "component",
  },
]);

const data = ref([
  {
    fileName: "Surat Keterangan Aktif Kuliah.pdf",
    sender: "BAAK",
    lastModified: "2 jam yang lalu",
    fileSize: "1.2 MB",
    action: "Lihat",
  },
  {
    fileName: "Surat Keterangan Aktif Kuliah.pdf",
    sender: "BAAK",
    lastModified: "2 jam yang lalu",
    fileSize: "1.2 MB",
    action: "Lihat",
  },
  {
    fileName: "Surat Keterangan Aktif Kuliah.pdf",
    sender: "BAAK",
    lastModified: "2 jam yang lalu",
    fileSize: "1.2 MB",
    action: "Lihat",
  },
  {
    fileName: "Surat Keterangan Aktif Kuliah.pdf",
    sender: "BAAK",
    lastModified: "2 jam yang lalu",
    fileSize: "1.2 MB",
    action: "Lihat",
  }
]);
</script>

<template>
  <div>
    <h1 class="text-2xl font-semibold"> Laporan </h1>
    
    <Table 
      :columns="columns"
      :data="data"
      class="my-4" 
    />
  </div>
</template>