<script setup lang="ts">
import { useAuth } from "#imports";
import LoadingOverlay from "~/components/global/LoadingOverlay.vue";
import { Branch } from '~/schema';
useHeadTitle('Manage Branch');

definePageMeta({
  layout: "admin",
  middleware: "auth",
});

const { authenticated } = storeToRefs(useAuth());
const { getPermissions } = useAuth();
const router = useRouter();
const branch: any = ref([]);
const previewUrl = ref("");
const loading = ref(true);
const unauthorized = ref(false);
const idEdit = ref(0);
const schema = toTypedSchema(Branch);
const { errors, handleSubmit, defineField, setErrors, resetForm } = useForm({
  validationSchema: schema
});
const [name, nameAttrs] = defineField("name");
const [cover, coverAttrs] = defineField("cover");
const popupData = ref({
  show: false,
  title: "Create Branch"
});
const statusModal = ref({
  show: false,
  title: "",
  message: "",
  type: ""
});
const isModalVisible = ref(false);

const getBranch = async (page: number) => {
  await useCustomFetch(`/register/get-branch?page=${page}`, "GET")
    .then((response) => {
      if (response.code === 200) {
        branch.value = response.data;
      }
    }).catch((error) => {
      console.error(error);

      statusModal.value.show = true;
      statusModal.value.title = "Error";
      statusModal.value.message = "Failed to fetch branch data";
    }).finally(() => {
      loading.value = false;
    });
};

const showEditBranch = (item: any) => {
  name.value = item?.name;
  previewUrl.value = item?.cover;

  popupData.value.show = true;
  popupData.value.title = "Edit Branch";
  idEdit.value = item?.id;
};

const showAddBranch = () => {
  popupData.value.show = true;
  popupData.value.title = "Create Branch";
};

const handleBranchSubmit = handleSubmit(async (values) => {
  loading.value = true;

  const formData = new FormData();
  formData.append("name", values.name);
  formData.append("cover", values.cover);

  if (idEdit.value) {
    formData.append("id", idEdit.value as any);
  }

  await useCustomFetch(idEdit.value ? "/register/update-branch" : "/register/create-branch", {
    method: "POST",
    body: formData
  })
    .then((response) => {
      if (response.code === 200) {
        getBranch(1);
        popupData.value.show = false;
        resetForm();
      }
    }).catch((error) => {
      setErrors(error.response.data);
    }).finally(() => {
      loading.value = false;
    });
});

const handleImageChange = (e: any) => {
  const file = e.target.files[0];
  cover.value = file;
  previewUrl.value = URL.createObjectURL(file);
};

const preDelete = () => {
  isModalVisible.value = true;
};

const deleteBranch = async () => {
  loading.value = true;

  await useCustomFetch(`/register/delete-branch`, {
    method: "DELETE",
    body: JSON.stringify({ id: idEdit.value })
  })
    .then((response) => {
      if (response.code === 200) {
        getBranch(1);
        isModalVisible.value = false;
        statusModal.value.show = true;
        statusModal.value.title = "Success";
        statusModal.value.message = "Successfully deleted branch data";

        setTimeout(() => {
          statusModal.value.show = false;
        }, 3000);
      }
    }).catch((error) => {
      console.error(error);
    }).finally(() => {
      loading.value = false;
    });
};

onMounted(async () => { 
  // if (!authenticated.value) {
  //   router.push("/");
  // }

  const permissions: any = await getPermissions();
  const hasPermission = permissions?.data?.includes("manage-branch");

  if (!hasPermission) {
    unauthorized.value = true;
  }

  await getBranch(1);
});
</script>

<template>
  <div>
    <!-- <LoadingOverlay v-show="loading" /> -->
    <UnauthorizedOverlay v-show="unauthorized" />

    <h2 class="text-2xl font-semibold"> Manage Branch </h2>
    <p class="my-2"> You can manage company branch here. </p>

    <div class="flex mt-8">
      <Button 
        variant="primary" 
        @click="showAddBranch"
        :disabled="loading"
      > 
        Add Branch 
      </Button>
    </div>

    <div class="my-4">
      <ContainerLoader :is-loading="loading" :use-icon="true">
        <div class="grid grid-cols-5 text-center gap-4">
          <Card 
            v-for="(item, index) in branch" 
            :key="index" 
            :style="`background: url(${item.cover}) center;`"
            class="text-center cursor-pointer font-bold text-white bg-gray-800 bg-cover bg-center bg-no-repeat h-25"  
            @click="showEditBranch(item)"
          >
            {{ item.name }}
          </Card>
        </div>
      </ContainerLoader>
    </div>

    <!-- Create Branch Modal -->
    <PopupModal
      :isOpen="popupData.show"
      :title="popupData.title"
      :onModal-close="() => {
        resetForm();
        popupData.show = false;
      }"
      size="md"
    >
      <div class="space-y-4">
        <Controller
          type="text"
          name="name"
          placeholder="Cabang Kantor Pusat"
          label="Nama Cabang"
          v-bind="nameAttrs"
          v-model="name"
          :error-message="errors.name"
        />
        <div class="controller">
          <label class="block text-sm font-medium text-gray-700">Background Cover</label>
          <input 
            type="file" 
            @change="handleImageChange" 
            v-bind="coverAttrs"
            class="mt-1 block w-full px-3 py-2 text-sm border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />

          <span class="text-sm text-red-500 mt-4"> {{ errors.cover }} </span>
        </div>
        <!-- Preview Image -->
        <div v-if="previewUrl" class="w-full h-40 bg-cover bg-center bg-no-repeat rounded-lg text-center py-12" :style="`background-image: url(${previewUrl})`">
          <span class="text-white font-bold text-2xl">
            {{ name }}
          </span>
        </div>
      </div>
      
      <div class="flex justify-end gap-2 mt-4">
        <Button 
          variant="danger" 
          label="Delete" 
          @click="() => preDelete()"
          v-show="idEdit"
        />
        <Button 
          variant="primary" 
          label="Save" 
          @click="handleBranchSubmit"
        />
      </div>
    </PopupModal>

    <!-- Response Modal -->
    <StatusModal
      :is-open="statusModal.show"
      :title="statusModal.title"
      :description="statusModal.message"
      :variant="'success'"
      @modal-close="statusModal.show = false"
    />

    <!-- Confirm Modal -->
    <PopupModal 
      title="Delete Confirmation"
      size="sm"
      :isOpen="isModalVisible"
      :onModal-close="() => {
        isModalVisible = false;
      }"
    >
      <div class="flex items-center gap-4">
        <p> Are you sure want to delete this branch? </p>
      </div>
      <div class="flex justify-end gap-2 mt-4">
        <Button 
          variant="danger" 
          label="Delete" 
          @click="deleteBranch"
        />
        <Button 
          variant="primary" 
          label="Cancel" 
          @click="() => {
            isModalVisible = false;
          }"
        />
      </div>
    </PopupModal>
  </div>
</template>