<script setup lang="ts">
// @ts-ignore
import Button from "~/components/global/Button.vue";
useHeadTitle("Master Uker");
definePageMeta({
  layout: 'admin',
  middleware: 'auth',
  name: 'Master Uker',
});

const { getPermissions } = useAuth();
const { authenticated } = storeToRefs(useAuth());

const uker: any = ref([]);
const isLoading = ref(false);
const tinyLoading = ref(false);
const popupModal = ref({
  isOpen: false,
  title: "",
  variant: "",
});
const responseStatusModal = ref({
  isOpen: false,
  message: "",
  variant: "",
});
const confirmModal = ref({
  isOpen: false,
  title: "",
  message: "",
  onConfirm: () => {},
});
const ukerData = ref({
  isEdit: false,
  id: "",
  name: "",
});

const columns = ref([
  { accessor: "id", value: "ID", hidden: true },
  { accessor: "name", value: "Nama Unit Kerja", sortable: true },
  { 
    accessor: "action", 
    value: "Aksi",
    customRender: (value: any, row: any) => {
      const div = h("div", { class: "flex items-center gap-2" }, [
        h(Button, {
          variant: "primary",
          size: "sm",
          onClick: () => {
            ukerData.value.isEdit = true;
            ukerData.value.id = row.id;
            ukerData.value.name = row.name;
            popupModal.value.isOpen = true;
            popupModal.value.title = "Edit Unit Kerja";
          },
        }, "Edit"),
        h(Button, {
          variant: "danger",
          size: "sm",
          onClick: () => {
            ukerData.value.id = row.id;
            confirmModal.value.isOpen = true;
            confirmModal.value.title = "Hapus Unit Kerja";
            confirmModal.value.message = "Apakah Anda yakin ingin menghapus unit kerja ini?";
          },
        }, "Hapus"),

      ]);

      return div;
    },
    customRenderType: "component",
  }
]);

const mapUker = (data: any) => {
  return data.map((item: any) => {
    return {
      id: item.id,
      name: item.name
    };
  });
};

const getUker = async () => {
  isLoading.value = true;
  await useCustomFetch("/admin/unit-kerja/list", {
    method: "GET",
  }).then((res) => {
    uker.value = mapUker(res.data.data);
  }).catch((err) => {
    responseStatusModal.value.isOpen = true;
    responseStatusModal.value.message = err;
    responseStatusModal.value.variant = "danger";
  }).finally(() => {
    isLoading.value = false;
  });
};

const tableProps = useTable("/admin/unit-kerja/list", "created_at", mapUker);
const tablePropsRef = toRefs(tableProps);

const handleSort = (column: any) => {
  tablePropsRef.sortColumn.value = column.accessor;
  tablePropsRef.sortDirection.value = tablePropsRef.sortDirection.value === "asc" ? "desc" : "asc";
};

const addUkerButton = () => {
  popupModal.value.isOpen = true;
  popupModal.value.title = "Tambah Unit Kerja";
  ukerData.value.isEdit = false;
};

const handleUpdateUker = async () => {
  const payload = {
    id: ukerData.value.id,
    name: ukerData.value.name,
    type: ukerData.value.isEdit ? "update" : "create"
  }

  tinyLoading.value = true;
  await useCustomFetch("/admin/unit-kerja/update", {
    method: "POST",
    body: JSON.stringify(payload),
  }).then((res) => {
    getUker();
    popupModal.value.isOpen = false;
  }).catch((err) => {
    responseStatusModal.value.isOpen = true;
    responseStatusModal.value.message = err.data.message;
    responseStatusModal.value.variant = "danger";
  }).finally(() => {
    tinyLoading.value = false;
  });
};

const handleDeleteUker = async () => {
  tinyLoading.value = true;
  await useCustomFetch(`/admin/unit-kerja/delete`, {
    method: "POST",
    body: JSON.stringify({ id: ukerData.value.id }),
  }).then((res) => {
    getUker();
    confirmModal.value.isOpen = false;
  }).catch((err) => {
    responseStatusModal.value.isOpen = true;
    responseStatusModal.value.message = err.data.message;
    responseStatusModal.value.variant = "danger";
  }).finally(() => {
    tinyLoading.value = false;
  });
};

onMounted(async () => {
  // TODO: Check permissions
  
  // await getUker();
});
</script>

<template>
  <div>
    <LoadingOverlay v-show="isLoading" />
    <UnauthorizedOverlay v-show="!authenticated" />

    <h1 class="text-2xl font-semibold"> Master Unit Kerja </h1>

    <Button
      variant="primary"
      class="my-4"
      @click="addUkerButton"
    >
      Tambah Unit Kerja
    </Button>

    <div class="my-4">
      <Table 
        :columns="columns" 
        :is-loading="tablePropsRef.loading.value"
        :table-props="tablePropsRef"  
        :handle-sort="handleSort"
      />
    </div>

    <PopupModal
      :isOpen="popupModal.isOpen"
      :title="popupModal.title"
      size="md"
      :onModal-close="() => {
        popupModal.isOpen = false;
      }"
    >
      <FormController
        name="name"
        control="name"
        label="Nama Unit Kerja"
      >
        <template #render>
          <Input
            v-model="ukerData.name"
            label="Nama Unit Kerja"
            placeholder="Masukkan nama unit kerja"
          />
        </template>
      </FormController>

      <div class="flex justify-end gap-2 mt-4">
        <Button
          variant="secondary"
          @click="() => {
            popupModal.isOpen = false;
          }"
        >
          Batal
        </Button>
        <Button
          variant="primary"
          @click="handleUpdateUker"
          :isLoading="tinyLoading"
          :disabled="ukerData.name.length < 3"
        >
          Simpan
        </Button>
      </div>
    </PopupModal>

    <StatusModal 
      :isOpen="responseStatusModal.isOpen"
      :description="responseStatusModal.message"
      :variant="responseStatusModal.variant"
      title="Response"
      @modal-close="responseStatusModal.isOpen = false"
    /> 

    <ConfirmModal
      :isOpen="confirmModal.isOpen"
      :title="confirmModal.title"
      message="Apakah kamu yakin ingin menghapus dokumen ini?"
      @confirm="handleDeleteUker"
      @cancel="confirmModal.isOpen = false"
      variant="danger"
      :isLoading="tinyLoading"
    />
  </div>
</template>