<script setup lang="ts">
import { h } from "vue";
// @ts-ignore
import Badge from "~/components/global/Badge.vue";
// @ts-ignore
import Button from "~/components/global/Button.vue";

definePageMeta({
  layout: "admin",
  middleware: "auth"
});

useHeadTitle("Uang Saku");

const loading = ref({
  page: true,
  table: false,
  update: false
});
const tableFilter = ref({
  month: "",
  year: "",
  status: ""
});
const confirmModal = ref({
  open: false,
  body: null,
});
const statusModal = ref({
  show: false,
  message: "",
  type: ""
});

const columns = ref([
  { accessor: "name", value: "Nama" },
  { accessor: "period", value: "Periode Bulan" },
  { 
    accessor: "total_work_days", 
    value: "Jumlah Hari Kerja", 
    customRender: (value: number) => () => h("span", value ? value + " Hari" : 0),
    customRenderType: "component"
  },
  { 
    accessor: "total_payment", 
    value: "Total",
    customRender: (value: number) => () => h("span", formatMoney(value) || 0), 
    customRenderType: "component"
  },
  { 
    accessor: "status", 
    value: "Status",
    customRender: (value: string) => () => h(Badge, value.split("_").join(" ")),
    customRenderType: "component"
  },
  {
    accessor: "action",
    value: "Action",
    customRender:  (value: any, row: any) => {
      const updateButton = h(Button, {  
        onClick: () => preUpdateStatus(row),
        disabled: row.status === "SUCCESS" || row.total_work_days === 0,
        loading: false,
        size: "sm",
        title: row.total_work_days === 0 ? "Jumlah hari kerja masih 0" : "",
        class: "cursor-pointer",
      }, "Update");

      return updateButton;
    },
    customRenderType: "component"
  }
]);

const data = ref([]);

const getListUangSaku = async (page: number) => {
  const params = {
    month: tableFilter.value.month,
    year: tableFilter.value.year,
    status: tableFilter.value.status,
    page: page,
  };

  loading.value.table = true;
  await useCustomFetch('uang-saku/get-list-payments', {
    method: 'GET',
    params
  }).then((response) => {
    data.value = response?.data?.data;
  }).catch((error) => {
    statusModal.value = {
      show: true,
      message: error?.data?.message || "Internal Server Error",
      type: "danger"
    }

    data.value = [];
  }).finally(() => {
    loading.value.table = false;
  });
};

const preUpdateStatus = (body: any) => {
  confirmModal.value.body = body;
  confirmModal.value.open = true;
};

const updateStatus = async () => {
  loading.value.update = true;
  await useCustomFetch('uang-saku/update-status', {
    method: 'POST',
    body: confirmModal.value.body,
  }).then(() => {
    statusModal.value = {
      show: true,
      message: "Status berhasil diubah",
      type: "success"
    }

    getListUangSaku(1);
  }).catch((error) => {
    statusModal.value = {
      show: true,
      message: error?.data?.message || "Internal Server Error",
      type: "danger"
    }
  }).finally(() => {
    confirmModal.value.open = false;
    loading.value.update = false;
  });
};

const monthOptions = ref([
  { id: "1", name: "Januari" },
  { id: "2", name: "Februari" },
  { id: "3", name: "Maret" },
  { id: "4", name: "April" },
  { id: "5", name: "Mei" },
  { id: "6", name: "Juni" },
  { id: "7", name: "Juli" },
  { id: "8", name: "Agustus" },
  { id: "9", name: "September" },
  { id: "10", name: "Oktober" },
  { id: "11", name: "November" },
  { id: "12", name: "Desember" },
]);

const yearOptions = computed(() => {
  const currentYear = new Date().getFullYear();
  const years = [];

  for (let i = currentYear; i >= currentYear - 5; i--) {
    years.push({ id: i.toString(), name: i.toString() });
  }

  return years;
});

const statusOptions = ref([
  { id: "PENDING", name: "-" },
  { id: "VERIFICATION_FILE", name: "Verifikasi Berkas" },
  { id: "PROCESSING", name: "Diproses" },
  { id: "SUCCESS", name: "Sudah Dibayar" },
]);

onMounted(() => {
  getListUangSaku(1);
});
</script>

<template>
  <div>
    <h1 class="text-2xl font-semibold"> Uang Saku </h1>
    
    <div class="space-y-2 mt-4">
      <p class="text-small"> Filter </p>
      <div class="flex gap-2">
        <Select 
          v-model="tableFilter.month"
          :name="'Bulan'"
          :options="monthOptions"
          :renderOptions="true"
        />
        <Select 
          v-model="tableFilter.year"
          :name="'Tahun'"
          :options="yearOptions"
          customClass="w-1/3"
          :renderOptions="true"
        />
        <Select 
          v-model="tableFilter.status"
          :name="'Status'"
          :options="statusOptions"
          :renderOptions="true"
        />
        <Button 
          @click="getListUangSaku(1)"
          :loading="false"
          :disabled="false"
        >
          Apply
        </Button>
      </div>
    </div>


    <div class="space-y-4 my-6">
      <p class="font-semibold"> Keterangan </p>
      <ul class="list-disc list-inside">
        <li> Jumlah hari kerja dihitung dari jumlah absensi peserta magang pada logbook </li>
        <li> Upah harian dihitung sesuai dengan jenjang mahasiswa dan diatur dalam halaman Klasifikasi Peserta </li>
        <li> Jumlah hari kerja dan upah harian dihitung dari tanggal 20 sampai tanggal 20 </li>
      </ul>
    </div>

    <Table 
      :columns="columns"
      :data="data"
      :is-loading="loading.table"
      class="my-4" 
    />

    <ConfirmModal
      :is-open="confirmModal.open"
      title="Update Status"
      message="Apakah anda yakin ingin mengubah status?"
      @confirm="updateStatus"
      @cancel="confirmModal.open = false"
      variant="question"
      :isLoading="loading.update"
    />
    <StatusModal
      :isOpen="statusModal.show"
      :message="statusModal.message"
      :variant="statusModal.type"
      @modal-close="statusModal.show = false"
      :description="statusModal.message"
    />
  </div>
</template>