<script setup lang="ts">
useHeadTitle('Edit Settings');
definePageMeta({
  layout: 'admin',
  middleware: 'auth',
});
const route = useRoute();
const router = useRouter();
const loading = ref({
  page: true,
  update: false,
});

const parameter = ref({
  id: 0,
  code: '',
  name: '',
  description: '',
  form_type: '',
});

const statusModal = ref({
  show: false,
  title: '',
  message: '',
});

const handleSubmit = async () => {
  loading.value.update = true;
  await useCustomFetch(`/setting/update-setting`, {
    method: 'POST',
    body: JSON.stringify(parameter.value),
  }).then((response) => {
    if (response?.code === 200) {
      statusModal.value.show = true;
      statusModal.value.title = 'Success';
      statusModal.value.message = response?.message;

      router.push('/admin/settings');
    }
  }).catch((error) => {
    statusModal.value.show = true;
    statusModal.value.title = 'Error';
    statusModal.value.message = error?.data?.message;
  }).finally(() => {
    loading.value.update = false;
  });
};

const fetchData = async (id: string, code: string) => {
  loading.value.page = true;
  await useCustomFetch(`/setting/get-setting?id=${id}&code=${code}`, {
    method: 'GET',
  }).then((response) => {
    parameter.value = response?.data;
  }).catch((error) => {
    console.error(error);
  }).finally(() => {
    loading.value.page = false;
  });
};

onBeforeMount(async () => {
  const { id, code } = route.query;
  await fetchData(id as string, code as string);
});

</script>

<template>
  <ContainerLoader :is-loading="loading.page">
    <NuxtLink to="/admin/settings" class="text-blue-500 flex gap-2 mb-4"> 
      <IconArrowLeft /> 
      Back 
    </NuxtLink>
    
    <div class="space-y-4">
      <h2 class="font-semibold text-2xl"> Edit Setting: {{ parameter.name }} </h2>
    </div>

    <template v-if="parameter.form_type === 'textarea'">
      <TipTapEditor 
        class="mt-8"
        :content="parameter.description"
        v-model="parameter.description"
      />
    </template>
    <template v-else>
      <FormController
        name="description"
        :label="'Description'"
        :placeholder="'Description'"
        class="mt-8"
      >
        <template #render>
          <Input 
            :placeholder="'Description'"
            v-model:model-value="parameter.description"
            @update:model-value="parameter.description = $event"
          />
        </template>
      </FormController>
      
    </template>

    <div class="flex justify-end mt-4">
      <Button 
        @click="handleSubmit"
        :is-loading="loading.update"
        :disabled="loading.update" 
        label="Save"
      />
    </div>

    <StatusModal
      :is-open="statusModal.show"
      :title="statusModal.title"
      :description="statusModal.message"
      :variant="'success'"
      @modal-close="statusModal.show = false"
    />
  </ContainerLoader>
</template>