<script setup lang="ts">
import { Pencil } from 'lucide-vue-next';
import Button from '~/components/global/Button.vue';

useHeadTitle('Settings');
definePageMeta({
  layout: 'admin',
  middleware: 'auth',
});

const loading = ref(true);
const data = ref([]);

const columns = ref([
  { accessor: "code", value: "Kode" },
  { accessor: "name", value: "Nama" },
  { 
    accessor: "description",
    value: "Deskripsi",
    customRender: (value: string) => {
      const text = value.length > 50 ? value.substring(0, 50).replace(/(<([^>]+)>)/ig, '') + '...' : value.replace(/(<([^>]+)>)/ig, '');
      return h('p', { class: 'text-base' }, text);
    },
    customRenderType: "component",
  },
  { 
    accessor: "action", 
    value: "Aksi",
    customRender: (value: string, row: any) => {
      const router = useRouter();
      const viewButton = h(Button, {
        onClick: () => router.push(`/admin/settings/edit?id=${row.id}&code=${row.code}`),
        size: 'sm',
        label: 'Edit',
        icon: Pencil,
      });
  
      const div = h('div', { class: 'flex gap-2' }, { default: () => [viewButton] });
      return div;
    },
    customRenderType: "component",
  },
]);

const tableProps = toRefs(useTable("/setting/list-settings", "created_at"));
const { loading: tableLoading } = tableProps;
</script>

<template>
  <div>
    <div class="space-y-4">
      <h2 class="font-semibold text-2xl"> List Application Settings </h2>
      <p class="text-base"> You can customize parameterized settings here. </p>
    </div>

    <div class="mt-8">
      <Table
        :columns="columns"
        :table-props="tableProps"
        :is-loading="tableLoading"
      />
    </div>

  </div>

</template>