
<script setup lang="ts">
import { ref, defineEmits, defineProps } from 'vue';
import { Check, Briefcase, Download, FileText, School, Trash } from "lucide-vue-next";

const props = defineProps<{
  step: number;
  availableFiles?: any;
  files: any;
}>();
// define model
const overview = defineModel<any>();
const isLoading = ref(false);

const checkbox = ref({
  check1: false,
  check2: false,
  check3: false,
  check4: false,
  check5: false
});

const emits = defineEmits(['update:checked', 'update:changed']);

const deleteFile = async (type: string) => {
  isLoading.value = true;

  await useCustomFetch("/profile/delete-file", {
    method: "POST",
    body: JSON.stringify({
      type: type 
    }),
  }).then(() => {
      props.availableFiles[type].name = null;
      props.availableFiles[type].path = null;
      emits('update:changed', props.availableFiles);
    }).catch((error) => {
      console.error(error);
    }).finally(() => {
      isLoading.value = false;
    });
}

const handleFileUpload = (type: string, event: any) => {
  props.files[type] = event?.target?.files[0];
  props.availableFiles[type].name = props.files[type].name;
  props.availableFiles[type].path = URL.createObjectURL(props.files[type]);
  emits('update:changed', props.availableFiles);
}

const getIsCheckedAll = () => {
  let isCheckboxesAreChecked = Object.values(checkbox.value).every((value) => value === true);
  emits('update:checked', isCheckboxesAreChecked);
}

</script>

<template>
  <div>
    <template v-if="props.step == 1">
      <section id="curriculum-vitae" class="border-bottom">
        <h6 class="mb-2"> <b> Curriculum Vitae (Wajib) </b> </h6>

        <!-- Show download if available -->
        <div v-if="availableFiles.CV.name != null" class="border border-black border-dotted rounded-md p-4">
          <div class="card-body text-center">
            <div class="flex justify-center mb-2">
              <FileText />
              <strong> {{ availableFiles.CV.name }} </strong>
            </div>
            
            <div class="flex gap-2 justify-center">
              <Button 
                type="a"
                :href="availableFiles.CV.path" 
                :download="availableFiles.CV.name" 
                variant="primary"
                size="sm"
              >
                <Download class="inline-block align-middle mr-1" :size="16" />
                Download
              </Button>
              <Button size="sm" aria-label="Close" @click="deleteFile('CV')" variant="danger" :is-loading="isLoading">
                <Trash class="inline-block align-middle mr-1" :size="16" />
                Delete
              </Button>
            </div>
          </div>
        </div>
        <!-- Show download if available -->

        <div v-else class="border border-black border-dotted rounded-md p-4">
          <input 
            type="file" 
            name="file-cv" 
            id="file-cv" 
            class="form-control my-2" 
            @change="handleFileUpload('CV', $event)"
            accept=".pdf, .jpg, .jpeg, .png"
          >
        </div>
      </section>

      <section id="transkrip-nilai" class="border-bottom">
        <h6 class="mb-2 mt-4"> <b> Transkrip Nilai (Wajib) </b> </h6>

        <!-- Show download if available -->
        <div v-if="availableFiles.TRANSKRIP_NILAI.name != null" class="border border-black border-dotted rounded-md p-4">
          <div class="card-body text-center">
            <div class="flex justify-center mb-2">
              <FileText />
              <strong> {{ availableFiles.TRANSKRIP_NILAI.name }} </strong>
            </div>
           
            <div class="flex gap-2 justify-center">
              <Button 
                type="a"
                :href="availableFiles.TRANSKRIP_NILAI.path" 
                :download="availableFiles.TRANSKRIP_NILAI.name" 
                variant="primary"
                size="sm"
              >
                <Download class="inline-block align-middle mr-1" :size="16" />
                Download
              </Button>
              <Button size="sm" aria-label="Close" @click="deleteFile('TRANSKRIP_NILAI')" variant="danger" :is-loading="isLoading">
                <Trash class="inline-block align-middle mr-1" :size="16" />
                Delete
              </Button>
            </div>
          </div>
        </div>
        <!-- Show download if available -->

        <div v-else class="border border-black border-dotted rounded-md p-4">
          <input 
            type="file" 
            name="file-cv" 
            id="file-cv" 
            class="form-control my-2" 
            @change="handleFileUpload('TRANSKRIP_NILAI', $event)"
            accept=".pdf, .jpg, .jpeg, .png"
          >
        </div>
      </section>

      <section id="ktp" class="border-bottom">
        <h6 class="mb-2 mt-4"> <b> KTP (Wajib) </b> </h6>

        <!-- Show download if available -->
        <div v-if="availableFiles.KTP.name != null" class="border border-black border-dotted rounded-md p-4">
          <div class="card-body text-center">
            <div class="flex justify-center mb-2">
              <FileText />
              <strong> {{ availableFiles.KTP.name }} </strong>
            </div>
            
            <div class="flex gap-2 justify-center">
              <Button 
                type="a"
                :href="availableFiles.KTP.path" 
                :download="availableFiles.KTP.name" 
                variant="primary"
                size="sm"
              >
                <Download class="inline-block align-middle mr-1" :size="16" />
                Download
              </Button>
              <Button size="sm" aria-label="Close" @click="deleteFile('KTP')" variant="danger" :is-loading="isLoading">
                <Trash class="inline-block align-middle mr-1" :size="16" />
                Delete
              </Button>
            </div>
          </div>
        </div>
        <!-- Show download if available -->

        <div v-else class="border border-black border-dotted rounded-md p-4">
          <input 
            type="file" 
            name="file-cv" 
            id="file-cv" 
            class="form-control my-2" 
            @change="handleFileUpload('KTP', $event)"
            accept=".pdf, .jpg, .jpeg, .png"  
          >
        </div>
      </section>

      <section id="surat-permohonan-magang" class="border-bottom">
        <h6 class="mb-2 mt-4"> <b> Surat Permohonan Magang (Wajib) </b> </h6>
        
        <!-- Show download if available -->
        <div v-if="availableFiles.SPM.name != null" class="border border-black border-dotted rounded-md p-4">
          <div class="card-body text-center">
            <div class="flex justify-center mb-2">
              <strong> {{ availableFiles.SPM.name }} </strong>
            </div>
            
            <div class="flex gap-2 justify-center">
              <Button 
                type="a"
                :href="availableFiles.SPM.path" 
                :download="availableFiles.SPM.name" 
                variant="primary"
                size="sm"
              >
                <Download class="inline-block align-middle mr-1" :size="16" />
                Download
              </Button>
              <Button size="sm" aria-label="Close" @click="deleteFile('SPM')" variant="danger" :is-loading="isLoading">
                <Trash class="inline-block align-middle mr-1" :size="16" />
                Delete
              </Button>
            </div>
          </div>
        </div>
        <!-- Show download if available -->

        <div v-else class="border border-black border-dotted rounded-md p-4">
          <input 
            type="file" 
            name="file-cv" 
            id="file-cv" 
            class="form-control my-2" 
            @change="handleFileUpload('SPM', $event)"
            accept=".pdf, .jpg, .jpeg, .png"  
          >
        </div>
      </section>
    </template>

    <template v-if="props.step == 2">
      <div class="card">
        <div class="card-body">
          <div class="flex flex-rows gap-4">
            <div class="grow">
              <div class="row">
                <div class="flex gap-3" id="card-header">
                  <h2 class="text-xl font-semibold"> {{ overview?.division?.name || "-" }} </h2>
              
                  <!-- Badge -->
                  <Badge>
                    <h6> {{ overview?.type || "-" }} </h6>
                  </Badge>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 border-right">
                  <p class="lead text-sm">
                    {{ overview.address || "-" }}
                  </p>
                 
                  <!-- Available Slots 2 . 10 Orang Pelamar -->
                  <div class="flex gap-3">
                    <p class="text-sm">
                      Slot Tersedia <b> 
                      {{ overview.availableSlot || "-" }} </b>
                    </p>
                    <p class="text-sm" v-show="overview.employer">
                      Orang Pelamar
                      <b> {{ overview.employer }} </b> 
                    </p>
                  </div>
                </div>
                <div class="flex justify-between gap-4 my-4">
                  <div>
                    <b class="text-sm">
                      Durasi Magang
                    </b>
                    <p class="text-sm">
                      {{ overview.type }}
                    </p>
                  </div>
                  <div>
                    <b class="text-sm">
                      Tanggal Penutupan
                    </b>
                    <p class="text-sm">
                      {{ overview.closingDate }}
                    </p>
                  </div>
                  <div>
                    <b class="text-sm">
                      Tanggal Pengumuman
                    </b>
                    <p class="text-sm">
                      {{ overview.announcementDate }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <section id="list-detail" class="w-100">
                  <div class="flex gap-3 my-2">
                      <Check class="my-1" />
                      <div class="my-0 px-0">
                        <h5 class="text-md font-semibold">
                          {{
                            overview.isCertified
                              ? "Bersertifikat"
                              : "Tidak Bersertifikat"
                          }}
                        </h5>
                        <p class="text-grey-50">
                          {{
                            overview.certificateDescription
                              ? overview.certificateDescription
                              : "-"
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="flex gap-3 my-2">
                      <Briefcase class="my-1" />
                      <div class="d-block">
                        <h5 class="text-md font-semibold">{{ overview.workingLocation }}</h5>
                        <p class="text-grey-50">
                          {{
                            overview.workingLocationDescription
                              ? overview.workingLocationDescription
                              : "-"
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="flex gap-3 my-2">
                      <School class="my-1" />
                      <div class="d-block">
                        <h5 class="text-md font-semibold">
                          {{ $t("educationalLevel") }}
                          {{
                            overview.minimumEducation
                              ? "(" + overview.minimumEducation + ")"
                              : ""
                          }}
                        </h5>
                        <p class="text-grey-50">
                          {{
                            overview.minimumEducationDescription
                              ? overview.minimumEducationDescription
                              : "-"
                          }}
                        </p>
                      </div>
                    </div>
                </section>
              </div>
            </div>
            
            <img :src="overview?.division?.icon" alt="Division Description" class="w-1/4 rounded-md">
          </div>
        </div>
      </div>
      <section class="my-4" id="agreement">
        <div id="heading">
          <h5> Pernyataan Kesanggupan dan Komitmen </h5>
          <p class="lead text-small">
            Dengan ini saya menyatakan persetujuan dan komitmen kepesertaan Program MAGNIT sebagai berikut:
          </p>
        </div>
        <div id="checkboxes">
          <div class="form-check my-2">
            <input class="form-check-input rounded" type="checkbox" v-model="checkbox.check1" @change="getIsCheckedAll" id="check-1">
            <label class="form-check-label cursor-pointer" for="check-1">
              Menjalankan seluruh rangkaian proses Program MAGNIT dengan penuh tanggung jawab, termasuk namun tidak terbatas pada proses seleksi, pembekalan, pelaksanaan, dan pembuatan laporan akhir Program.
            </label>
          </div>
          <div class="form-check my-2">
            <input class="form-check-input rounded" type="checkbox" v-model="checkbox.check2" @change="getIsCheckedAll" id="check-2">
            <label class="form-check-label cursor-pointer" for="check-2">
              Menyediakan segala dokumen yang diperlukan sehubungan dengan pelaksanaan Program.
            </label>
          </div>
          <div class="form-check my-2">
            <input class="form-check-input rounded" type="checkbox" v-model="checkbox.check3" @change="getIsCheckedAll" id="check-3">
            <label class="form-check-label cursor-pointer" for="check-3">
              Bersedia ditempatkan di lokasi penempatan Program yang telah ditetapkan oleh Divisi SDM & Umum.
            </label>
          </div>
          <div class="form-check my-2">
            <input class="form-check-input rounded" type="checkbox" v-model="checkbox.check4" @change="getIsCheckedAll" id="check-4">
            <label class="form-check-label cursor-pointer" for="check-4">
              Menjaga nama baik, etika, dan citra diri sendiri, perguruan tinggi dan PT Pelabuhan Tanjung Priok
            </label>
          </div>
          <div class="form-check my-2">
            <input class="form-check-input rounded" type="checkbox" v-model="checkbox.check5" @change="getIsCheckedAll" id="check-5">
            <label class="form-check-label cursor-pointer" for="check-5">
              Dengan ini saya menyatakan dengan sesungguhnya bahwa semua data/informasi yang disampaikan dalam seluruh dokumen serta lampiran-lampirannya ini adalah benar sesuai dengan yang aslinya.
            </label>
          </div>
        </div>
      </section>
    </template>
  </div>
</template>