<script setup lang="ts">
import { ref } from "vue";
import { useRouter } from "vue-router";
import { useAuth } from "@/stores/useAuth";
import LoadingOverlay from "~/components/global/LoadingOverlay.vue";

definePageMeta({
  middleware: "auth",
});

const branches: any = ref([]);
const router = useRouter();
const isLoading = ref(true);
const { authenticated } = storeToRefs(useAuth());

const goToSelectDivisi = (cabang: string) => {
  router.push({
    path: "daftar-magang/select-divisi",
    query: {
      cabang: cabang,
    },
  });
};

const getBranches = async () => {
  isLoading.value = true;

  /* Get branches */
  try {
    const response = await useCustomFetch("/register/get-branch");
    const data = response.data;

    if (response.code === 200) {
      branches.value = data;
    }
  } catch (error) {
    console.error(error);
  } finally {
    isLoading.value = false;
  }
};

onMounted(() => {
  if (!authenticated.value) router.push("/");

  getBranches();
});
</script>

<template>
  <div id="root">
    <LoadingOverlay v-show="isLoading" />

    <div
      class="w-full mx-auto py-32 sm:py-32 lg:py-56 text-white"
      id="jumbotron"
    >
      <div class="container mx-auto">
        <div class="flex flex-wrap justify-between items-center">
          <div class="flex flex-col gap-4">
            <div class="text-7xl font-extrabold">PTP MAGNIT</div>

            <div class="font-medium text-2xl">
              Program Magang Nusantara untuk Inovasi dan Talenta
            </div>
          </div>
          <div>
            <img
              src="@/assets/images/logo-ptp-homepage.png"
              class="w-100"
              alt="Homepage Logo"
            />
          </div>
        </div>
      </div>
    </div>

    <div id="branches" class="container mt-4 mb-12 py-4">
      <div class="row">
        <h2 class="text-4xl py-8 text-center"> Pilih Penempatan Magang </h2>

        <div class="grid grid-cols-6 gap-4">
          <div
            class="w-full h-60 rounded-lg bg-cover bg-center cursor-pointer hover:bg-gray-800 transition duration-300 ease-in-out flex items-center justify-center"
            :style="'background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(' + each.cover + ')'"
            v-for="each in branches"
            @click="goToSelectDivisi(each?.name)"
            :key="each?.id"
            type="button"
          >
            <h3 class="text-white font-medium text-2xl text-center"> {{ each.name }} </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
#jumbotron {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("~/assets/images/background-harbor.png");
  background-repeat: no-repeat;
}
</style>