<script setup lang="ts">
import { Download, Upload } from 'lucide-vue-next';
import Button from '~/components/global/Button.vue';
import Div from '~/components/global/Div.vue';

useHeadTitle("Files");
definePageMeta({
  middleware: "auth",
  layout: "admin"
});

const loading = ref({
  fetchFiles: false,
  upload: false
});
const uploadModal = ref({
  show: false
});
const statusModal = ref({
  show: false,
  message: "",
  type: "success"
});
const confirmModal = ref({
  isOpen: false,
  title: "",
  message: "",
  action: "",
  id: ""
});

const data = ref([]);
const baseUrl = ref("");
const columns = ref([
  {
    accessor: "type",
    value: "Type",
    customRender: (value: string, row: any) => {
      switch (value) {
        case "CERT":
          return h('p', {}, "Certificate");
        case "SILABUS":
          return h('p', {}, "Silabus");
        case "SILABUS_PROFILE":
          return h('p', {}, "Profile Perusahaan");
        case "SILABUS_ALUR":
          return h('p', {}, "Alur Bisnis");
        case "SILABUS_KNOWLEDGE":
          return h('p', {}, "Knowledge Map");

        default:
          return h('p', {}, "Unknown");
      }
    },
    customRenderType: "component"
  },
  {
    accessor: "path",
    value: "Name",
    customRender: (value: string, row: any) => {
      const val = value.split("/");
      return h('p', {}, val[1]);
    },
    customRenderType: "component"
  },
  { accessor: "path", value: "Path" },
  // { accessor: "created_at", value: "Uploaded At" },
  {
    accessor: "action",
    value: "Action",
    customRender: (value: string, row: any) => {
      const downloadButton = h(Button, {
        onClick: () => {
          window.open(`${baseUrl.value + "/" + row.path}`, "_blank");
        },
        size: 'sm',
        label: 'Download',
        icon: Download,
      });

      const deleteButton = h(Button, {
        onClick: () => {
          confirmModal.value.isOpen = true;
          confirmModal.value.title = "Delete File";
          confirmModal.value.message = "Are you sure you want to delete this file?";
          confirmModal.value.action = "delete";
          confirmModal.value.id = row.id;
        },
        size: 'sm',
        label: 'Delete',
        variant: 'danger',
      });

      const div = h(Div, {
        class: "flex gap-2",
      }, { default: () => [downloadButton, deleteButton] });

      return div;
    },
    customRenderType: "component"
  }
])
const typeOptions = ref([
  { name: "Profile Perusahaan", id: "SILABUS_PROFILE" },
  { name: "Alur Bisnis", id: "SILABUS_ALUR" },
  { name: "Knowledge Map", id: "SILABUS_KNOWLEDGE" }
]);
const form = ref({
  type: "",
  file: ""
});

const tableProps = toRefs(useTable("/admin/file/list-files", "created_at"));
const { loading: isLoading, pageIndex, search, response, reload } = tableProps;

const openUploadModal = () => {
  uploadModal.value.show = true;
}

const handleChangeFile = (title: string, files: FileList | any) => {
  const file = files[0];
  form.value.file = file;
};

const handleSubmit = async () => {
  loading.value.upload = true;
  const formData = new FormData();
  formData.append("type", form.value.type);
  formData.append("file", form.value.file);

  await useCustomFetch("/admin/file/upload-file", {
    method: "POST",
    body: formData,
  }).then((response) => {
    if (response?.code === 200) {
      statusModal.value.show = true;
      statusModal.value.message = "File uploaded successfully";
      statusModal.value.type = "success";
      uploadModal.value.show = false;
      reload.value();
    }
  }).catch((err) => {
    statusModal.value.show = true;
    statusModal.value.message = err?.message || "Failed to upload file";
    statusModal.value.type = "danger";
  }).finally(() => {
    loading.value.upload = false;
  });
}

const onDeleteFile = async (id: any) => {
  loading.value.upload = true;

  await useCustomFetch(`/admin/file/delete-file/${id}`, {
    method: "DELETE",
  }).then((response) => {
    confirmModal.value.isOpen = false;

    if (response?.code === 200) {
      statusModal.value.show = true;
      statusModal.value.message = "File deleted successfully";
      statusModal.value.type = "success";
      reload.value();
    }
  }).catch((err) => {
    statusModal.value.show = true;
    statusModal.value.message = err?.message || "Failed to delete file";
    statusModal.value.type = "danger";
  }).finally(() => {
    loading.value.upload = false;
  });
}

watch (() => response.value, (newVal: any) => {
  baseUrl.value = newVal?.baseUrl;
});

</script>

<template>
  <div>
    <div class="space-y-4">
      <h2 class="text-2xl font-semibold"> File Manager </h2>
      <p class="text-md"> Upload file silabus magang </p>
    </div>

    <div class="flex flex-wrap gap-2 mb-4 mt-8">
      <Button
        variant="primary"
        label="Upload File"
        :icon="Upload"
        @click="openUploadModal"
      />
    </div>

    <Table
      :table-props="tableProps"
      :columns="columns"
      :is-loading="loading.fetchFiles || isLoading"
      class="my-4"
    />

    <PopupModal
      title="Upload File"
      size="sm"
      :isOpen="uploadModal.show"
      :onModal-close="() => (uploadModal.show = false)"
    >
      <div class="space-y-4">
        <FormController
          label="Type"
          name="type"
        >
          <template #render>
            <Select
              name="type"
              v-model="form.type"
              :options="typeOptions"
              :render-options="true"
            />
          </template>
        </FormController>

        <FormController
          label="File"
          name="file"
        >
          <template #render>
            <ProfileDocumentContainer
              v-model="form.file"
              id="file"
              description="Upload file silabus magang"
              @changed="handleChangeFile"
            />
          </template>
        </FormController>

        <div class="flex justify-end space-x-2">
          <Button
            variant="secondary"
            label="Cancel"
            @click="() => (uploadModal.show = false)"
          />
          <Button
            variant="primary"
            label="Upload"
            @click="handleSubmit"
            :is-loading="loading.upload"
            :disabled="!form.type || !form.file || loading.upload"
          />
        </div>
      </div>
    </PopupModal>

    <StatusModal
      :isOpen="statusModal.show"
      :message="statusModal.message"
      :variant="statusModal.type"
      @modal-close="statusModal.show = false"
      :description="statusModal.message"
    />

    <PopupModal
      :title="confirmModal.title"
      size="sm"
      :isOpen="confirmModal.isOpen"
      :onModal-close="() => (confirmModal.isOpen = false)"
    >
      <p> {{ confirmModal.message }} </p>
      <div class="flex w-100 gap-2 mt-8">
        <Button class="grow" size="sm" variant="danger" @click="() => confirmModal.isOpen = false" :disabled="loading.upload"> Cancel </Button>
        <Button
          class="grow"
          size="sm"
          variant="primary"
          @click="() => onDeleteFile(confirmModal.id)"
          :disabled="loading.upload"
          :is-loading="loading.upload"
        >
          Confirm
        </Button>
      </div>
    </PopupModal>
  </div>
</template>
