<script setup lang="ts">
const data: any = ref({});
const isEditing = ref(false);
const isLoading = ref(false);
const { user } = storeToRefs(useAuth());
const supportedBanks: any = [
  { id: "Bank Mandiri", name: "Bank Mandiri" },
  { id: "Bank Syariah Indonesia", name: "Bank Syariah Indonesia" },
  { id: "Bank Negara Indonesia", name: "Bank Negara Indonesia" },
  { id: "Bank Central Asia", name: "Bank Central Asia" }
]

const getUserdata = async () => {
  isLoading.value = true;
  await useCustomFetch(`/userdata?id=${user.value?.username}`, {
    method: "GET"
  }).then((response: any) => {
    isLoading.value = response.data;
    data.value = response.data;

    // Empty user bank details handling
    if (!data.value.userBankDetail) {
      data.value.userBankDetail = {
        bankName: "",
        account: "",
        ownerName: ""
      }
    };
  }).catch((error: any) => {
    console.log(error);
  }).finally(() => {
    isLoading.value = false;
  });
};

const handleSaveData = async () => {
  const payload = {
    uid: data?.value.id,
    data: {
      bank_name: data.value.userBankDetail.bankName,
      account: data.value.userBankDetail.account,
      owner_name: data.value.userBankDetail.ownerName
    }
  };

  isLoading.value = true;
  await useCustomFetch("/profile/update-user", {
    method: "POST",
    body: JSON.stringify(payload)
  }).then((response: any) => {
    isEditing.value = false;
  }).catch((error: any) => {
    console.log(error);
  }).finally(() => {
    isLoading.value = false;
  });
};

const cancelEditing = () => {
  isEditing.value = false;
};

onMounted(() => {
  getUserdata();
});
</script>

<template>
  <div class="w-full">
    <LoadingOverlay v-show="isLoading" />

    <div :class="`flex flex-col mb-4 gap-4 ${isEditing ? 'px-2' : ''}`">
      <Alert
        variant="warning"
        title="Perhatian"
        message="Perhatian: Pastikan kamu mengisi nomor rekening dengan benar dan sesuai dengan yang tertera di buku rekening. Hal ini penting agar proses administrasi berjalan lancar dan tidak ada kesalahan dalam pengiriman dana. Terima kasih atas kerjasamanya!"
      />

      <div class="grid grid-cols-4 gap-4">
        <ProfileField
          label="Nama Bank"
          :value="data?.userBankDetail?.bankName || '-'"
          :edit="isEditing"
        >
          <Controller
            type="select"
            name="bank_name"
            :model-value="data?.userBankDetail?.bankName"
            :options="supportedBanks"
            @update:model-value="($event) => data.userBankDetail.bankName = $event"
          />
        </ProfileField>

        <ProfileField
          label="Nomor Rekening"
          :value="data?.userBankDetail?.account || '-'"
          :edit="isEditing"
        >
          <Controller
            type="text"
            name="account"
            :model-value="data?.userBankDetail?.account"
            @update:model-value="($event) => data.userBankDetail.account = $event"
          />
        </ProfileField>

        <ProfileField
          label="Nama Pemilik"
          :value="data?.userBankDetail?.ownerName || '-'"
          :edit="isEditing"
        >
          <Controller
            type="text"
            name="owner_name"
            :model-value="data?.userBankDetail?.ownerName"
            @update:model-value="($event) => data.userBankDetail.ownerName = $event"
          />
        </ProfileField>
      </div>
    </div>

    <div class="flex justify-end mt-4 gap-2">
      <Button v-if="isEditing" @click="cancelEditing"> Batal </Button>
      <Button v-if="!isEditing" @click="isEditing = true"> Edit </Button>
      <Button v-if="isEditing" @click="handleSaveData" :is-loading="isLoading"> Simpan </Button>
    </div>
  </div>
</template>
