<script setup lang="ts">
const loading = ref({
  delete: false,
  page: true
});
const documents = ref<{ title: any; description: any; file: any; }[]>([]);
const isConfirmModalOpen = ref(false);
const _type = ref("");

const { user } = storeToRefs(useAuth());
const globalFormData = ref(new FormData());

const statusModal = ref({
  show: false,
  message: "",
  variant: "",
});

const availableFiles = ref({
  CV: {
    name: null,
    description: null,
    path: null,
  },
  TRANSKRIP_NILAI: {
    name: null,
    description: null,
    path: null,
  },
  KTP: {
    name: null,
    description: null,
    path: null,
  },
  SPM: {
    name: null,
    description: null,
    path: null,
  },
  IJAZAH: {
    name: null,
    description: null,
    path: null,
  },
} as Record<string, { name: null | string; description: null | string; path: null | string; }>);

const fetchDocuments = async () => {
  loading.value.page = true;
  await useCustomFetch("/profile/get-documents", {
    method: "GET",
    headers: {
      "Content-Type": "application/json",
    },
  }).then((response) => {
    const newData = response.data;

    availableFiles.value = newData.reduce((acc: any, data: any) => {
      acc[data.type] = {
        name: data.type,
        description: data.name,
        path: data.path,
      };
      return acc;
    }, {});
  }).catch((error) => {
    console.error(error);
  }).finally(() => {
    loading.value.page = false;
  });
};

const preDeleteDocument = (type: string) => {
  _type.value = type;
  isConfirmModalOpen.value = true;
};

const deleteDocument = async () => {
  loading.value.delete = true;
  await useCustomFetch("/profile/delete-file", {
    method: "POST",
    body: JSON.stringify({
      type: _type.value,
    }),
  }).then((response) => {
    // Set available file [type] to null but don't remove the key
    availableFiles.value[_type.value] = {
      name: _type.value,
      description: '',
      path: '',
    };

    statusModal.value = {
      show: true,
      message: "Dokumen berhasil dihapus",
      variant: "success",
    };
  }).catch((error) => {
    statusModal.value = {
      show: true,
      message: "Gagal menghapus dokumen",
      variant: "danger",
    };
  }).finally(() => {
    loading.value.delete = false;
    isConfirmModalOpen.value = false;
    _type.value = "";

    fetchDocuments();
  });
};

const updateAvailableFiles = (fileType: string, files: FileList | null) => {
  if (!files) return;

  const file = files[0];

  globalFormData.value.append(`file[${fileType}]`, file);

  availableFiles.value[fileType] = {
    name: fileType,
    description: file.name,
    path: URL.createObjectURL(file),
  };
}

const saveChanges = async () => {
  loading.value.page = true;
  await useCustomFetch("/profile/upload-document", {
    method: "POST",
    body: globalFormData.value,
  }).then((response) => {
    statusModal.value = {
      show: true,
      message: "Dokumen berhasil diunggah",
      variant: "success",
    };

    fetchDocuments();
  }).catch((error) => {
    statusModal.value = {
      show: true,
      message: "Gagal mengunggah dokumen",
      variant: "danger",
    };
  }).finally(() => {
    loading.value.page = false;
  });
};

const onCloseModal = () => {
  statusModal.value.show = false;
};

onMounted(async () => {
  await fetchDocuments();
  globalFormData.value.append("uid", user.value?.id.toString() || "");
});
</script>

<template>
  <div>
    <p class="text-md">
      Lengkapi profil dan dokumenmu untuk dapat mendaftar program. Informasimu akan kami simpan dengan aman.
    </p>

    <ContainerLoader :isLoading="loading.page">
      <ProfileDocumentContainer
        v-for="(document, i) in availableFiles" 
        :key="i" 
        :id="i"
        :title="document.name || ''" 
        :description="document.description || 'File belum diunggah'" 
        :file="document.path || ''"
        :custom-allowed-types="'application/pdf'"
        @deleted="preDeleteDocument"
        @changed="updateAvailableFiles"
      />

      <div v-if="loading" class="text-center">
        <Spinner />
      </div>

      <div class="button-group text-center">
        <Button variant="warning" label="Simpan Perubahan" class="mt-4" @click="saveChanges" />
      </div>
    </ContainerLoader>

    <ConfirmModal
      :isOpen="isConfirmModalOpen"
      title="Hapus Dokumen"
      message="Apakah kamu yakin ingin menghapus dokumen ini?"
      @confirm="deleteDocument"
      @cancel="() => { isConfirmModalOpen = false; }"
      variant="danger"
      :is-loading="loading.delete"
    />

    <StatusModal
      :isOpen="statusModal.show"
      :message="statusModal.message"
      :variant="statusModal.variant"
      @modal-close="onCloseModal"
      :description="statusModal.message"
    />
  </div>
</template>