<script setup lang="ts">
import { defineProps, defineEmits } from "vue";

const props = defineProps<{
  id?: string;
  title?: string;
  description?: string;
  file?: string;
  customAllowedTypes?: string;
}>();

const fileName = ref(props.file);
const description = ref(props.description);
const isDragging = ref(false);

// const emit = defineEmits(["clicked", "changed", "deleted"]);

const emit = defineEmits<{
  (event: "clicked", tab: string): void;
  (event: "changed", type: string, files: FileList | null): void;
  (event: "deleted", type: string): void;
}>();

const openInput = () => {
  const input = props.id
    ? (document.getElementById(props.id) as HTMLInputElement)
    : null;
  input?.click();
};

const handleChange = (event: Event) => {
  const input = event.target as HTMLInputElement;

  // Validate file type and size
  if (input.files && input.files.length > 0) {
    const file = input.files[0];
    const allowedTypes = props.customAllowedTypes?.split(",") || [
      "application/pdf",
      "image/png",
      "image/jpg",
      "image/jpeg",
    ];
    const allowedSize = 10 * 1024 * 1024; // 5MB

    if (!allowedTypes.includes(file.type) || file.size > allowedSize) {
      alert(
        "File tidak valid. Silahkan upload file dengan format .pdf, .png, .jpg, .jpeg dan ukuran maksimal 10MB.",
      );
      return;
    }
  }

  fileName.value = input.files ? input.files[0].name : "";
  description.value = input.files ? input.files[0].name : "";
  emit("changed", props.title || "", input.files);
};

const handleDelete = (type: string) => {
  emit("deleted", type);
};

const downloadFile = () => {
  // Download props.file and open it in new tab
  window.open(props.file, "_blank");
};

const handleDragOver = (event: DragEvent) => {
  event.preventDefault();
  isDragging.value = true;
};

const handleDragLeave = (event: DragEvent) => {
  event.preventDefault();
  isDragging.value = false;
};

const handleDrop = (event: DragEvent) => {
  event.preventDefault();
  isDragging.value = false;

  // Validate file type and size
  if (event.dataTransfer?.files && event.dataTransfer.files.length > 0) {
    const file = event.dataTransfer.files[0];
    const allowedTypes = props.customAllowedTypes?.split(",") || [
      "application/pdf",
      "image/png",
      "image/jpg",
      "image/jpeg",
    ];
    const allowedSize = 10 * 1024 * 1024; // 5MB

    if (!allowedTypes.includes(file.type) || file.size > allowedSize) {
      alert(
        "File tidak valid. Silahkan upload file dengan format .pdf, .png, .jpg, .jpeg dan ukuran maksimal 10MB.",
      );
      return;
    }
  }

  fileName.value = event.dataTransfer?.files ? event.dataTransfer.files[0].name : "";
  description.value = event.dataTransfer?.files ? event.dataTransfer.files[0].name : "";
  emit("changed", props.title || "", event.dataTransfer?.files as any);
};

watch(
  () => props.file,
  (newValue) => {
    fileName.value = newValue;
  },
);

watch(
  () => props.description,
  (newValue) => {
    description.value = newValue;
  },
);
</script>

<template>
  <div class="my-4">
    <h5 class="text-md font-semibold">{{ title }}</h5>

    <div
      class="drop-area border-2 border-black border-dotted rounded-md p-4 my-4"
      :class="{
        'bg-blue-100': isDragging,
        'bg-white': !isDragging,
      }"
      @dragover.prevent="handleDragOver"
      @dragleave="handleDragLeave"
      @drop.prevent="handleDrop"
    >
      <p class="text-md text-gray-500">{{ description }}</p>

      <input
        type="file"
        class="hidden"
        @change="handleChange"
        :id="id"
        :accept="customAllowedTypes ?? '.pdf, .png, .jpg, .jpeg'"
      />

      <footer class="text-right flex gap-2 flex-row-reverse mt-4">
        <Button variant="primary" @click="openInput" size="sm" v-show="!file">
          Upload
        </Button>

        <Button variant="primary" @click="downloadFile" size="sm" v-show="file">
          Download
        </Button>
        <Button
          variant="primary"
          label="Ganti File"
          @click="openInput"
          size="sm"
          v-show="file"
        />
        <Button
          variant="danger"
          label="Hapus"
          size="sm"
          @click="handleDelete(title || '')"
          v-show="file"
        />
      </footer>
    </div>

    <Separator />
  </div>
</template>
