
<script setup lang="ts">
const props = defineProps<{
  label: string;
  value: string;
  edit: boolean;
}>();
</script>

<template>
  <div>
    <h6 class="font-semibold my-2 text-lg"> {{ label }} </h6>
    <p v-if="!props.edit" class="text-gray-600"> {{ value }} </p>
    <div v-else>
      <slot />
    </div>
  </div>

</template>