<script setup lang="ts"">
const props = defineProps<{
  profilePageTab: string;
  data?: any;
}>();
</script>

<template>
  <template v-if="profilePageTab === 'information'">
    <ProfileInformation :data="data" />
  </template>
  <template v-else-if="profilePageTab === 'update-password'">
    <ProfileUpdatePassword />
  </template>
  <template v-else-if="profilePageTab === 'document'">
    <ProfileDocument />
  </template>
  <template v-else-if="profilePageTab === 'loan'">
    <ProfilePayment />
  </template>
  <template v-else-if="profilePageTab === 'bank-account'">
    <ProfileBankAccount />
  </template>
</template>