<script setup lang="ts">
import PaymentStatus from "@/consts/payment";
import moment from "moment";

const loading = ref({
  page: true,
  data: false,
});

const statusModal = ref({
  show: false,
  message: "",
  type: ""
});

const payments = ref<any>([]);

const getStatusDetail = (status: string) => {
  return PaymentStatus.find((item: any) => item.status === status);
}

const getPaymentHistory = async () => {
  loading.value.data = true;
  await useCustomFetch('uang-saku/get-payment-history', {
    method: 'GET',
  }).then((response) => {
    payments.value = response?.data;
  }).catch((error) => {
    statusModal.value = {
      show: true,
      message: error?.data?.message || "Internal Server Error",
      type: "danger"
    }

    payments.value = [];
  }).finally(() => {
    loading.value.data = false;
  });
};

const getMonthFromData = (data: any) => {
  return moment(data).format("MMMM YYYY");
}

onMounted(() => {
  getPaymentHistory();
});

</script>

<template>
  <div>
    <p class="text-md"> Cek dan lacak Uang Saku Magang mu. </p>

    <ContainerLoader :is-loading="loading.data">
      <div 
        class="status my-4"
        v-for="payment in payments"
        :key="payment.periode"
      >
        <h5 :class="'flex gap-1 font-semibold text-md ' + getStatusDetail(payment.payroll.status)?.color"> 
          <component :is="getStatusDetail(payment.payroll.status)?.icon" class="h-6 w-6 shrink-0" aria-hidden="true" />
          {{ getStatusDetail(payment.payroll.status)?.label }}
        </h5>
        <p class="text-md my-2 font-semibold text-black"> Uang Saku Magang Bulan {{ getMonthFromData(payment.payroll.end_date) }} </p>
        <p class="text-md text-gray-500"> {{ moment(payment.updated_at).format("DD-MM-YYYY hh:mm") }} </p>

        <Separator class="my-4" /> 
      </div>
      
      <Card v-if="!payments.length" class="text-center my-4">
        <p class="text-md"> Belum ada data </p>
      </Card>

    </ContainerLoader>
  </div>  
</template>