<script setup lang="ts">
import { User, FileCheck2, Banknote, Lock, PencilLine } from "lucide-vue-next";
import { defineEmits } from "vue";
import { useAuth } from "#imports";

const data: any = ref({});
const isLoading = ref(false);
const props = defineProps<{
  profilePageTab: string;
}>();
const user = ref<any>(null);
const { getUser } = useAuth();

const navigation = [
  { id: 'information', name: 'Profil', icon: User },
  { id: 'bank-account', name: 'Rekening Bank', icon: Banknote },
  { id: 'update-password', name: 'Ubah Kata Sandi', icon: Lock },
  { id: 'document', name: 'Lengkapi Dokumen', icon: FileCheck2 },
  { id: 'loan', name: 'Lacak Status Pembiayaan', icon: Banknote },
]

const emit = defineEmits(["clicked"]);

const onPageChange = (tab: string) => {
  emit("clicked", tab);
}

const getUserdata = async () => {
  isLoading.value = true;
  await useCustomFetch(`/userdata?id=${user.value?.username}`, {
    method: "GET"
  }).then((response: any) => {
    isLoading.value = response.data;
  }).catch((error: any) => {
    console.log(error);
  }).finally(() => {
    isLoading.value = false;
  });
};

const previewModal = ref({
  open: false,
  changedFile: ""
});

const onOpenFile = () => {
  const fileInput = document.getElementById("profile-photo");
  fileInput?.click();
};

const onFileChange = (e: any) => {
  const file = e.target.files[0];
  if (file) {
    const reader = new FileReader();
    reader.onload = (e) => {
      previewModal.value.changedFile = e.target?.result as string;
      previewModal.value.open = true;
    };
    reader.readAsDataURL(file);
  }
};

const saveProfilePicture = async () => {
  isLoading.value = true;
  const fileInput = document.getElementById("profile-photo") as HTMLInputElement;
  const file = fileInput.files?.[0];
  if (file) {
    const formData = new FormData();
    formData.append("file", file);
    await useCustomFetch(`/profile/update-profile-picture`, {
      method: "POST",
      body: formData
    }).then((response: any) => {
      user.value.photo = response.data;
      previewModal.value.open = false;
    }).catch((error: any) => {
      console.log(error);
    });

    fileInput.value = "";
    isLoading.value = false;
  }
};

onMounted(async () => {
  user.value = await getUser();
  getUserdata();
});

</script>

<template>
  <div>
    <nav class="bg-white p-4 rounded-md flex flex-1 flex-col">
      <span class="relative inline-block mx-auto my-4">
        <img  
          class="h-32 w-32 rounded-full border p-2 object-cover" 
          :src="user?.photo || 'https://www.gravatar.com/avatar/3b3be63a4c2a439b013787725dfce802?d=identicon'" 
          alt="Profile Photo" 
        />
        <span 
          class="absolute bottom-0 right-0 block h-4 w-4 cursor-pointer" 
          title="Ganti Foto Profil" 
          @click="onOpenFile"
        > 
          <PencilLine class="p-1 border rounded-full hover:bg-gray-100" />
        </span>
      </span>

      <input type="file" class="hidden" accept="image/*" id="profile-photo" @change="onFileChange" />

      <div class="my-2 mx-auto text-center" id="profile-information">
        <h5 class="text-xl font-bold">
          {{ data.name }}
        </h5>
        <span>
          {{ data.userdata?.university?.name }}
        </span>
      </div>

      <ul role="list" class="list-none  flex flex-1 flex-col gap-y-7">
        <li>
          <ul role="list" class="list-none -mx-2 space-y-1">
            <li v-for="item in navigation" :key="item.name">
              <a @click="onPageChange(item.id)" :class="[profilePageTab === item.id ? 'text-blue-600' : 'text-gray-700 cursor-pointer hover:text-blue-600 hover:bg-gray-50', 'group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold']">
                <component :is="item.icon" :class="[profilePageTab === item.id ? 'text-blue-600' : 'text-gray-400 group-hover:text-blue-600', 'h-6 w-6 shrink-0']" aria-hidden="true" />
                {{ item.name }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>  

    <PopupModal
      title="Preview Photo"
      size="md"
      :isOpen="previewModal.open"
      @modal-close="previewModal.open = false"
    >
      <div class="relative w-full pt-[100%] overflow-hidden">
        <img 
          :src="previewModal.changedFile" 
          class="absolute inset-0 w-full h-full object-cover" 
          alt="Preview" 
        />
      </div>

      <div class="flex justify-end mt-4">
        <Button 
          @click="saveProfilePicture" 
          label="Save"
          :loading="isLoading"
          :disabled="isLoading"
        />
      </div>
    </PopupModal>
  </div>
</template>