<script setup lang="ts">

const isLoading = ref(false);
const isConfirmPasswordValid = computed(() => {
  return form.value.password === form.value.confirmPassword;
});
const statusModal = ref({
  show: false,
  message: "",
  type: ""
});
const form = ref({
  oldPassword: "",
  password: "",
  confirmPassword: ""
});

const submit = async () => {
  if (!isConfirmPasswordValid.value) {
    return;
  }

  const payload = {
    oldPassword: form.value.oldPassword,
    newPassword: form.value.password
  }

  isLoading.value = true;
  await useCustomFetch("/profile/update-password", {
    method: "POST",
    body: JSON.stringify(payload)
  }).then((response: any) => {
    statusModal.value = {
      show: true,
      message: response.message,
      type: "success"
    }
  }).catch((error: any) => {
    statusModal.value = {
      show: true,
      message: error?.data?.message,
      type: "danger"
    }
  }).finally(() => {
    isLoading.value = false;
  });
}

</script>

<template>
  <div>
    <p class="text-md">
      Pilih sandi yang kuat dan jangan gunakan lagi untuk akun lain.
    </p>

    <div class="space-y-4 mt-4">
      <FormController
        name="password"
        control="control"
        label="Kata Sandi Lama"
        >
        <template #render>
          <Input
            v-model="form.oldPassword"
            type="password"
            placeholder="Kata Sandi Lama"
          />
        </template>
      </FormController>

      <FormController
        name="password"
        control="control"
        label="Kata Sandi Baru"
      >
        <template #render>
          <Input
            v-model="form.password"
            type="password"
            placeholder="Kata Sandi Baru"
          />
        </template>
      </FormController>

      <FormController
        name="password"
        control="control"
        label="Konfirmasi Kata Sandi Baru"
      >
        <template #render>
          <Input
            v-model="form.confirmPassword"
            type="password"
            placeholder="Konfirmasi Kata Sandi Baru"
          />

          <Label class="text-sm text-red-500" v-show="!isConfirmPasswordValid">
            Kata sandi harus sama dengan kata sandi baru.
          </Label>
        </template>
      </FormController>

      <Button
        variant="primary"
        class="mt-8 cursor-pointer"
        @click="submit"
        :isLoading="isLoading"
        :disabled="!isConfirmPasswordValid"
      >
        Simpan
      </Button>
    </div>

    <StatusModal
      :isOpen="statusModal.show"
      :message="statusModal.message"
      :variant="statusModal.type"
      @modal-close="statusModal.show = false"
      :description="statusModal.message"
    />

  </div>  
</template>