<script setup lang="ts">
import { ArrowLeft } from 'lucide-vue-next';

definePageMeta({
  middleware: 'auth',
});

useHeadTitle('Logbook - Final Report');

const { user } = storeToRefs(useAuth());
const finalReport = ref<any>(null);
const loading = ref({
  page: true,
  submit: false,
});

const finalReportForm = ref<any>({
  file: '',
});

const statusModal = ref<{
  isOpen: boolean;
  variant: string;
  title: string;
  message: string;
}>({
  isOpen: false,
  variant: "",
  title: "",
  message: "",
});

const getFinalReportStatus = async () => {
  loading.value.page = true;
  await useCustomFetch('/logbook/get-user-final-report', {
    method: 'GET'
  }).then((response) => {
    finalReport.value = response;
  }).catch((error) => {
    console.error(error);
  }).finally(() => {
    loading.value.page = false;
  });
};

const downloadFile = () => {
  const url = finalReport.value.prefixPath + finalReport.value.data.file.path;
  window.open(url, '_blank');
};

const statusToVariant = (status: string) => {
  switch (status) {
    case 'approved':
      return 'success';
    case 'rejected':
      return 'danger';
    case 'pending':
      return 'warning';
    default:
      return 'primary';
  }
};

const messageMapping = (status: string) => {
  switch (status) {
    case 'approved':
      return 'Laporan akhir kamu telah disetujui. Terima kasih telah mengikuti program magang ini.';
    case 'rejected':
      return 'Laporan akhir kamu ditolak. Silahkan perbaiki laporan akhir kamu dan kirim ulang.';
    case 'pending':
      return 'Laporan akhir kamu sedang dalam proses pengecekan. Mohon tunggu beberapa saat.';
    default:
      return 'Laporan akhir kamu belum diunggah.';
  }
};

const handleChangeFile = (title: string, files: FileList | any) => {
  const file = files[0];
  finalReportForm.value.file = file;
};

const submitFinalReport = async () => {
  const formData = new FormData();
  formData.append('file', finalReportForm.value.file);

  loading.value.submit = true;
  await useCustomFetch('/logbook/upload-final-report', {
    method: 'POST',
    body: formData,
  }).then((response) => {
    if (response?.code === 200) {
      statusModal.value = {
        isOpen: true,
        variant: "success",
        title: "Berhasil",
        message: "Laporan berhasil dibuat",
      };
    } else {
      statusModal.value = {
        isOpen: true,
        variant: "error",
        title: "Gagal",
        message: response?.message,
      };
    }

    getFinalReportStatus();
  }).catch((error) => {
    console.error(error);
  }).finally(() => {
    loading.value.submit = false;
  });
};

onMounted(async () => {
  await getFinalReportStatus();
});

</script>

<template>
  <Container>
    <NuxtLink to="/logbook" class="flex items-center text-blue-500">
      <ArrowLeft class="w-6 h-6 mr-2" />
      Back
    </NuxtLink>

    <h1 class="text-2xl font-bold mt-4"> Laporan Akhir </h1>
    <p class="my-4" v-show="finalReport?.data?.status === 'empty' || finalReport?.data?.status === 'rejected'"> 
      Silahkan upload laporan akhir kamu di sini. Ketentuan laporan akhir dapat kamu dapatkan di sini. 
    </p>

    <ContainerLoader :is-loading="loading.page" v-show="finalReport?.data?.status !== 'empty'">
      <Alert 
        :variant="statusToVariant(finalReport?.data?.status)"
        title="Status Laporan Akhir" 
        :message="messageMapping(finalReport?.data?.status)"
        class="my-4"
      />

      <div class="mt-8">
        <h5 class="uppercase text-gray-500 text-sm font-bold"> File Info </h5>

        <div class="flex flex-col gap-2 mt-4 w-1/2 p-4 bg-blue-100 rounded-lg">
          <div class="flex flex-row justify-between items-center">
            <p> Nama File </p>
            <p> {{ finalReport?.data?.file?.path }} </p>
          </div>
          <div class="flex flex-row justify-between items-center">
            <p> Tipe File </p>
            <p> {{ finalReport?.data?.file?.extension }} </p>
          </div>
          <div class="flex flex-row justify-between items-center">
            <p> Status </p>
            <Badge :variant="statusToVariant(finalReport?.data?.status)"> {{ finalReport?.data?.status }} </Badge>
          </div>
          <div class="flex flex-row justify-between items-center">
            <p> Download File </p>
            <Button 
              label="Download" 
              variant="primary" 
              size="sm" 
              @click="downloadFile"
            />
          </div>
        </div>

        <StatusModal :is-open="statusModal.isOpen" :variant="statusModal.variant" :title="statusModal.title"
          :description="statusModal.message" @modal-close="statusModal.isOpen = false" />
      </div>
    </ContainerLoader>


    <ContainerLoader :isLoading="loading.page" v-show="finalReport?.data?.status === 'empty' || finalReport?.data?.status === 'rejected'">
      <div class="my-4">
        <p> Ketentuan File Laporan </p>

        <ul class="list-disc list-inside my-2 ml-4">
          <li> File laporan harus berformat PDF </li>
          <li> File laporan tidak boleh lebih dari 10MB </li>
          <li> File laporan harus sesuai dengan template yang telah disediakan </li>
        </ul>

        <div class="my-4">
          <ProfileDocumentContainer 
            id="final-report"
            title="Laporan Akhir" 
            description="Upload file laporan akhir kamu di sini"
            custom-allowed-types="application/pdf"
            @changed="handleChangeFile"
            :file="finalReportForm.file"
          />
        </div>
      </div>

      <div class="text-center mt-4">
        <Button 
          variant="primary" 
          label="Kirim Laporan Akhir" 
          @click="submitFinalReport"
          :is-loading="loading.submit"
          :disabled="!finalReportForm.file || loading.submit"
        />
      </div>
    </ContainerLoader>
  </Container>
</template>