<script setup lang="ts">
import { useAuth } from "#imports";
import voca from "voca";
import moment from "moment";
import type { ActiveInternshipType } from "~/types";

useHeadTitle("Logbook");
definePageMeta({
  middleware: "auth",
});

const tabs = ref([
  { id: "kegiatan-aktif", name: "Kegiatan Aktif", href: "#", current: true },
  { id: "status-pendaftaran", name: "Status Pendaftaran", href: "#", current: false },
  { id: "silabus-magang", name: "Silabus Magang", href: "#", current: false },
  { id: "sertifikat", name: "Sertifikat", href: "#", current: false },
]);
const activeTab = ref("Kegiatan Aktif");
const { getAuthenticated } = useAuth();
const router = useRouter();
const route = useRoute();
const initTab = computed(() => {
  return (route.query.tab as string) || "kegiatan-aktif";
});
const activeTabPhone = ref("Kegiatan Aktif");
const loading = ref(true);

const activeInternshipData = ref<ActiveInternshipType>({
  isAvailable: false,
});

const getActiveActivity = async () => {
  await useCustomFetch("/logbook/get-active-activity", {
    method: "GET",
  })
    .then((response) => {
      const data = response?.data;
      let period = "";

      if (data?.offer?.start_date && data?.offer?.end_date) {
        const startDate = new Date(data?.offer?.start_date);
        const endDate = new Date(data?.offer?.end_date);

        if (startDate.getFullYear() === endDate.getFullYear()) {
          period = `Semester ${startDate.getMonth() < 6 ? "Ganjil" : "Genap"} ${startDate.getFullYear()}/${endDate.getFullYear()}`;
        } else {
          period = `Tahun Ajaran ${startDate.getFullYear()}/${endDate.getFullYear()}`;
        }
      }

      const formattedStartDate = new Date(
        data?.offer?.start_date,
      ).toLocaleDateString("id-ID", {
        year: "numeric",
        month: "long",
        day: "numeric",
      });
      const formattedEndDate = new Date(
        data?.offer?.end_date,
      ).toLocaleDateString("id-ID", {
        year: "numeric",
        month: "long",
        day: "numeric",
      });
      const internshipMonth = moment(data?.offer?.end_date).diff(
        moment(data?.offer?.start_date),
        "months",
        true,
      );

      activeInternshipData.value = {
        isAvailable: true,
        branch: data?.offer?.division?.branch?.name,
        division: voca.titleCase(data?.offer?.division?.name),
        period: period,
        start_date: formattedStartDate,
        end_date: formattedEndDate,
        raw_end_date: data?.offer?.end_date,
        internship_month: Math.ceil(internshipMonth),
        offer_id: data?.oid,
      };
    })
    .catch((error) => {
      if (error?.response?.status === 404) {
        activeInternshipData.value = {
          isAvailable: false,
        };
      }
    })
    .finally(() => {
      loading.value = false;
    });
};

const handleTab = (e: Event, isMobile: boolean = false) => {
  const target = e.target as HTMLAnchorElement;
  tabs.value.forEach((tab) => {
    if (tab.name === target.innerText) {
      tab.current = true;
      router.push({ query: { tab: tab.id } });
    } else {
      tab.current = false;
    }

    activeTab.value = target.innerText;
  });

  if (isMobile) activeTab.value = activeTabPhone.value;
};

onMounted(async () => {
  if (initTab.value) {
    activeTab.value = initTab.value;
    tabs.value.forEach((tab) => {
      if (tab.id === initTab.value) {
        tab.current = true;
        activeTab.value = tab.name;
      } else {
        tab.current = false;
      }
    });
  }

  if (!getAuthenticated()) {
    router.push("/");
  }

  await getActiveActivity();
});
</script>

<template>
  <div class="min-h-[32rem]">
    <LoadingOverlay v-show="loading" />

    <Container>
      <h1 class="text-2xl font-semibold">Logbook Harian</h1>

      <div>
        <div class="sm:hidden">
          <label for="tabs" class="sr-only">Select a tab</label>
          <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
          <select id="tabs" name="tabs"
            class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-blue-500 focus:outline-none focus:ring-blue-500 sm:text-sm my-4"
            @change="handleTab($event, true)" v-model="activeTabPhone">
            <option v-for="tab in tabs" :key="tab.id" :selected="tab.current">
              {{ tab.name }}
            </option>
          </select>
        </div>
        <div class="hidden sm:block">
          <div>
            <nav class="-mb-px flex space-x-4" aria-label="Tabs">
              <a v-for="tab in tabs" :key="tab.id" :class="[
                tab.current
                  ? 'border-blue-500 text-blue-600'
                  : 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700',
                'whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium cursor-pointer',
              ]" @click="handleTab">{{ tab.name }}</a>
            </nav>
          </div>
        </div>
      </div>
    </Container>

    <Container v-if="activeTab === 'Kegiatan Aktif'" :use-background="false">
      <LogbookKegiatanAktif :active-internship-data="activeInternshipData" :active-internship-loading="loading" />
    </Container>

    <Container v-else-if="activeTab === 'Status Pendaftaran'" :use-background="false">
      <LogbookStatusPendaftaran />
    </Container>

    <Container v-else-if="activeTab === 'Silabus Magang'" :use-background="false">
      <LogbookSilabusMagang />
    </Container>

    <Container v-else-if="activeTab === 'Sertifikat'" :use-background="false">
      <LogbookSertifikat />
    </Container>
  </div>
</template>

<style>
.card-header {
  background-image: url("~/assets/images/background-harbor.png");
  background-size: cover;
  background-position: center;
}
</style>
