<script setup lang="ts">
import { useAuth } from '#imports';
import { CheckIcon, SchoolIcon } from 'lucide-vue-next';
import { useRouter, useRoute } from 'vue-router';
useHeadTitle('Offer Detail');
definePageMeta({
  layout: "default",
  middleware: 'auth' 
});

const route = useRoute();
const router = useRouter();
const { authenticated } = storeToRefs(useAuth());
const loading = ref(true);

const offerId = route.query.id as string;
const data = ref<any>();
const durationMonth = computed(() => {
  const startDate = new Date(data.value?.startDate);
  const endDate = new Date(data.value?.endDate);
  const diffTime = Math.abs(endDate.getTime() - startDate.getTime());
  const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
  return Math.ceil(diffDays / 30);
});

const getOffer = async (offerId: string) => {
  loading.value = true;
  await useCustomFetch('/register/get-offer?id=' + offerId, { 
    offerId 
  }).then((res) => {
    data.value = res.data;
    console.log(res.data);
  }).catch((err) => {
    console.log(err);
  }).finally(() => {
    loading.value = false;
  });
};

onMounted(async () => {
  // if (!authenticated.value) {
  //   router.push({ name: 'login' });
  // }

  await getOffer(offerId);
});
</script>

<template>
  <ContainerLoader :isLoading="loading" customClass="min-h-lvh" :useIcon="true">
    <Container v-show="data" class="mb-16">
      <NuxtLink to="/logbook" class="text-blue-500 flex gap-2 mb-4"> 
        <IconArrowLeft /> 
        Back 
      </NuxtLink>

      <div class="flex gap-4">
        <div class="grow">
          <div class="row">
            <div class="flex gap-3" id="card-header">
              <h2 class="text-xl font-semibold"> {{ data?.division?.name || "-" }} </h2>
          
              <!-- Badge -->
              <Badge>
                <h6> {{ data?.type || "-" }} </h6>
              </Badge>
            </div>
          </div>
          <div class="row">
            <div class="space-y-4 mt-4 mb-8">
              <p class="lead text-medium">
                {{ data?.division?.address || "-" }}
              </p>
            </div>
            <div class="flex justify-between gap-4 my-4">
              <div class="space-y-2">
                <b class="text-sm"> Durasi Magang </b>
                <p class="text-sm"> {{ durationMonth }} Bulan </p>
              </div>
              <div class="space-y-2">
                <b class="text-sm"> Mulai Pada </b>
                <p class="text-sm"> {{ data?.startDate || "-" }} </p>
              </div>
              <div class="space-y-2">
                <b class="text-sm"> Selesai Pada </b>
                <p class="text-sm"> {{ data?.endDate || "-" }} </p>
              </div>
            </div>
          </div>
          <div class="row">
            <section id="list-detail" class="w-100">
              <div class="flex gap-3 my-2">
                <CheckIcon class="my-1" />
                <div class="my-0 px-0">
                  <h5 class="text-md font-semibold">
                    {{
                      data?.isCertified
                        ? "Bersertifikat"
                        : "Tidak Bersertifikat"
                    }}
                  </h5>
                  <p class="text-grey-50">
                    {{
                      data?.certificateDescription
                        ? data?.certificateDescription
                        : "-"
                    }}
                  </p>
                </div>
              </div>
              <div class="flex gap-3 my-2">
                <SchoolIcon class="my-1" />
                <div class="d-block">
                  <h5 class="text-md font-semibold">
                    {{ $t("educationalLevel") }}
                    {{
                      data?.minimumEducation
                        ? "(" + data?.minimumEducation + ")"
                        : ""
                    }}
                  </h5>
                  <p class="text-grey-50">
                    {{
                      data?.minimumEducationDescription
                        ? data?.minimumEducationDescription
                        : "-"
                    }}
                  </p>
                </div>
              </div>
            </section>
          </div>
        </div>
        
        <img :src="data?.division?.icon" alt="Division Description" class="w-1/4 rounded-md">
      </div>
    </Container>

    <Container class="h-fit" v-show="!data">
      <div class="text-center h-full py-72">
        <h1 class="text-2xl font-semibold my-4"> Data tidak ditemukan </h1>
        <NuxtLink to="/logbook" class="text-blue-500"> Kembali ke Logbook </NuxtLink>
      </div>
    </Container>
  </ContainerLoader>
</template>