<script setup lang="ts">
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import type { Column } from '~/types';

// @ts-ignore
import Badge from '~/components/global/Badge.vue';
import Button from '~/components/global/Button.vue';

const router = useRouter();

useHeadTitle("Payroll Submission");
definePageMeta({
  layout: "admin",
  middleware: "auth"  
});

const isActionLoading = ref(false);
const confirmModal = ref({
  show: false,
  message: "",
  title: "",
  onConfirm: () => {},
  onCancel: () => {},
});

const columns = ref<Column[]>([
  {
    accessor: "id",
    value: "Transaction ID",
    customRender: (value) => {
      return h("a", {
        onClick: () => router.push(`/admin/payroll/submission/${value}`),
        class: "text-blue-600 hover:underline cursor-pointer"
      }, value);
    },
    customRenderType: "component"
  },
  { 
    accessor: "end_date", 
    value: "Periode Bulan", 
    customRender: (value) => {
      const month = new Date(value).toLocaleString("default", { month: "long" });
      const year = new Date(value).getFullYear();
      return h("span", `${month} ${year}`);
    },
    customRenderType: "component"
  },
  { accessor: "total_items", value: "Total Mahasiswa" },
  { 
    accessor: "total_amount", 
    value: "Total Nominal",
    customRender: (value) => {
      return h("span", formatMoney(value, "IDR"));
    },
    customRenderType: "component"
  },
  { 
    accessor: "status", 
    value: "Status",
    customRender: (value) => {
      return h(Badge, { variant: value === "pending" ? "warning" : value === "approved" ? "success" : "danger" }, value);
    },
    customRenderType: "component"
  },
  {
    accessor: "action",
    value: "Action",
    customRender: (value, row) => {
      return h("div", [
        h(Button, {
          onClick: () => preDeleteAction(row.id),
          size: "sm",
          variant: "danger"
        }, "Delete")
      ]);
    },
    customRenderType: "component"
  }
]);

const tableProps = useTable("/uang-saku/get-list-payroll", "created_at");
const tablePropsRef = toRefs(tableProps);
const { loading: isTableLoading, reload } = tablePropsRef;

const handleSort = (column: any) => {
  tablePropsRef.sortColumn.value = column.accessor;
  tablePropsRef.sortDirection.value = tablePropsRef.sortDirection.value === "asc" ? "desc" : "asc";
};

const preDeleteAction = (id: number) => {
  confirmModal.value = {
    show: true,
    title: "Hapus Pengajuan",
    message: "Apakah Anda yakin ingin menghapus pengajuan ini?",
    onConfirm: () => deleteAction(id),
    onCancel: () => confirmModal.value.show = false
  };
};

const deleteAction = async (id: number) => {
  isActionLoading.value = true;
  try {
    await useCustomFetch(`/uang-saku/delete-payroll`, {
      method: "DELETE",
      body: JSON.stringify({ id })
    });
    reload.value();
    confirmModal.value.show = false;
  } catch (error) {
    console.error(error);
  } finally {
    isActionLoading.value = false;
  }
};
</script>

<template>
  <div>
    <h2 class="text-2xl font-semibold"> Pengajuan Uang Saku </h2>    
    <div class="space-x-2 my-8">
      <Button @click="router.push('/admin/payroll/submission/create')">Buat Pengajuan</Button>
    </div>

    <Table 
      :columns="columns" 
      :table-props="tablePropsRef" 
      :is-loading="isTableLoading" 
      :handle-sort="handleSort"
      :hide-search-box="true"
    />

    <ConfirmModal 
      :isOpen="confirmModal.show"
      :title="confirmModal.title"
      :message="confirmModal.message"
      @confirm="confirmModal.onConfirm"
      @cancel="confirmModal.onCancel"
      variant="question"
      :is-loading="isActionLoading"
    />
  </div>
</template>