@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.tiptap {
  padding: .4rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  background-color: #fff;
  min-height: 200px;
  max-height: 50vh;
  overflow: scroll;
}

.is-editor-empty {
  color: #a0aec0;
}