<script setup lang="ts">
useHeadTitle("Detail Report");
import { ArrowLeft } from "lucide-vue-next";
import type { Column } from "~/types";

definePageMeta({
  layout: "admin",
  middleware: "auth",
});

const loading = ref(false);

const route = useRoute();
const internshipId = route.params.id;
const uid = route.params.uid;
const period = route.params.period;

const tableProps = useTable(`/uang-saku/get-reports-for-payroll?uid=${uid}&internshipId=${internshipId}&month=${period}`, "created_at");
const tablePropsRef = toRefs(tableProps);
const { loading: isTableLoading, response } = tablePropsRef;

const columns = ref<Column[]>([
  {
    accessor: "activity",
    value: "Activity",
  },
  {
    accessor: "note",
    value: "Note",
  },
  {
    accessor: "date",
    value: "Date",
  },
  {
    accessor: "status",
    value: "Status",
  },
]);

const handleSort = (column: any) => {
  tablePropsRef.sortColumn.value = column.accessor;
  tablePropsRef.sortDirection.value =
    tablePropsRef.sortDirection.value === "asc" ? "desc" : "asc";
};
</script>

<template>
  <div>
    <LoadingOverlay v-show="loading" />
    <NuxtLink to="/admin/payroll/submission/create" class="text-blue-500 flex gap-2">
      <ArrowLeft />
      Back
    </NuxtLink>

    <div class="page-content my-8">
      <h2 class="text-2xl font-semibold"> Detail Laporan </h2>

      <!-- Name -->
      <div class="flex gap-2 mt-8 mb-4">
        <p class="font-semibold">Nama:</p>
        <p>{{ response?.data?.user?.name }}</p>
      </div>

      <Table
        :columns="columns"
        :table-props="tablePropsRef"
        :is-loading="isTableLoading"
        :handle-sort="handleSort"
        :hide-search-box="true"
        class="my-4"
      />
    </div>
  </div>
</template>