<script setup lang="ts">
import { useAuth } from "@/stores/useAuth";
import { useRouter } from "vue-router";
const profilePageTab = ref("information");
const { getAuthenticated } = useAuth();
const { authenticated, user } = storeToRefs(useAuth());
const router = useRouter();
const route = useRoute();
useHeadTitle("Profile");
definePageMeta({
  middleware: "auth"
});

const currentTab = computed(() => {
  return route.query.tab as string || "information";
});

const mapTitle = (tab: string) => {
  switch (tab) {
    case "information":
      return "Lihat / Edit Profil";
    case "update-password":
      return "Ubah Kata Sandi";
    case "document":
      return "Lengkapi Dokumen";
    case "loan":
      return "Status Pembiayaan";
    case "bank-account":
      return "Rekening Bank";
    default:
      return "Informasi Profil";
  }
};

const handleChangeTab = (tab: string) => {
  profilePageTab.value = tab;
  router.push({ query: { tab } });
};

const validateTab = (tab: string) => {
  return ["information", "update-password", "document", "loan"].includes(tab);
};

onBeforeMount(() => {
  if (currentTab.value && validateTab(currentTab.value)) {
    profilePageTab.value = currentTab.value;
  } 
  
  getAuthenticated().then((authenticated) => {
    if (authenticated) {
      router.push("/profile");
    }
  });
});
</script>

<template>
  <Container class="min-h-lvh" :useBackground="false">
    <div class="flex flex-row gap-8"> 
      <div class="basis-1/5">
        <ProfileSidebar :profilePageTab="profilePageTab" @clicked="(tab) => handleChangeTab(tab)" />
      </div>

      <!-- Right page -->
      <Container class="basis-4/5 min-h-96">
        <h1 class="text-2xl font-bold"> {{ mapTitle(profilePageTab) }} </h1>

        <Separator class="my-4" />
        
        <ProfilePageContainer :profilePageTab="profilePageTab" />
      </Container>
    </div>
  </Container>
</template>