<script setup lang="ts">
import { CheckCheck, Check, Eye, CheckCircle, XCircle } from 'lucide-vue-next';
// @ts-ignore
import Button from '~/components/global/Button.vue';
// @ts-ignore
import Badge from '~/components/global/Badge.vue';
import Div from '~/components/global/Div.vue';
import moment from 'moment';

useHeadTitle('Logbook Intern');

definePageMeta({
  layout: "admin",
  middleware: "auth",
});

const gradeForm = ref({
  perhatianTerhadapPetunjuk: 0,
  inisiatifKerja: 0,
  disiplin: 0,
  pengetahuanTentangPekerjaan: 0,
  kualitasKeterampilanPekerjaan: 0,
  kerjaSama: 0,
  efektivitasPenggunaanWaktuKerja: 0,
  etikaKomunikasiKantor: 0,
  kebersihan: 0,
  tanggungJawab: 0,
  kesopanan: 0,
  total: 0,
  median: 0,
});
const popupModal = ref({
  isOpen: false,
  title: "",
  action: "",
});
const columns = ref([
  { accessor: "user.name", value: "Nama" },
  { accessor: "user.username", value: "Username" },
  { accessor: "offer.division.name", value: "Divisi" },
  { 
    accessor: "updated_at", 
    value: "Updated At", 
    customRender: (value: any) => {
      return h('span', {}, { default: () => moment(value).format('DD MMMM YYYY H:mm') });
    },
    customRenderType: 'component', 
  },
  { 
    accessor: "action", 
    value: "Aksi",
    customRender: (value: any, row: any) => {
      const viewButton = h(Button, { variant: "primary", size: "sm", onClick: () => handleViewData(value, row) }, { default: () => 'Lihat Nilai' });
      const div = h(Div, { class: "flex space-x-2" }, { default: () => [viewButton] });
      return div;
    },
    customRenderType: 'component',  
  },
]);

function calculateTotal() {
  const grades = Object.keys(gradeForm.value)
    .filter(key => key !== 'total' && key !== 'median')
    // @ts-ignore
    .map(key => Number(gradeForm.value[key])); // Ensure the values are treated as numbers

  const total = grades.reduce((sum, grade) => sum + grade, 0);
  gradeForm.value.total = total;
}

function calculateAverage() {
  const grades = Object.keys(gradeForm.value)
    .filter(key => key !== 'total' && key !== 'median')
    // @ts-ignore
    .map(key => Number(gradeForm.value[key])); // Ensure the values are treated as numbers

  const average = grades.reduce((sum, grade) => sum + grade, 0) / grades.length;
  gradeForm.value.median = Number(average.toFixed(2));
}

const handleViewData = (value: any, row: any) => {
  popupModal.value.isOpen = true;
  popupModal.value.title = `Nilai ${row.user.name}`;
  gradeForm.value = {
    perhatianTerhadapPetunjuk: row.perhatian_terhadap_petunjuk,
    inisiatifKerja: row.inisiatif_kerja,
    disiplin: row.disiplin,
    pengetahuanTentangPekerjaan: row.pengetahuan_tentang_pekerjaan,
    kualitasKeterampilanPekerjaan: row.kualitas_keterampilan_pekerjaan,
    kerjaSama: row.kerja_sama,
    efektivitasPenggunaanWaktuKerja: row.efektivitas_penggunaan_waktu_kerja,
    etikaKomunikasiKantor: row.etika_komunikasi_kantor,
    kebersihan: row.kebersihan,
    tanggungJawab: row.tanggung_jawab,
    kesopanan: row.kesopanan,
    total: row.total,
    median: row.median,
  };
}

const handleSort = (column: any) => {
  tablePropsRef.sortColumn.value = column.accessor;
  tablePropsRef.sortDirection.value = tablePropsRef.sortDirection.value === "asc" ? "desc" : "asc";
}

const tableProps = useTable("/logbook/list-grades", "created_at");
const tablePropsRef = toRefs(tableProps);
const { loading } = tablePropsRef;

watch(gradeForm, (newVal, oldVal) => {
  calculateTotal();
  calculateAverage();
}, { deep: true });
</script>

<template>
  <div>
    <h2 class="text-2xl font-semibold"> List Nilai </h2>
    <p class="text-md font-light my-2">
      Daftar nilai mahasiswa
    </p>

    <Table 
      :columns="columns"
      :table-props="tablePropsRef"
      :is-loading="loading"
      :handle-sort="handleSort"
    />

    <PopupModal
      :is-open="popupModal.isOpen"
      :title="popupModal.title"
      @modal-close="popupModal.isOpen = false"
      size="full"
    >
      <div class="grid grid-cols-3 gap-4">
        <div class="border-l-8 border-blue-500 rounded-lg p-4">
          <h2 class="text-2xl font-semibold"> Motivasi </h2>
          
          <div class="space-y-4 mt-4">
            <FormController
              name="perhatianTerhadapPetunjuk"
              control="perhatianTerhadapPetunjuk"
              label="Perhatian Terhadap Petunjuk"
            >
              <template #render>
                <Input
                  v-model="gradeForm.perhatianTerhadapPetunjuk"
                  type="number"
                  maxLength="100"
                  readonly
                />
              </template>
            </FormController>

            <FormController
              name="inisiatifKerja"
              control="inisiatifKerja"
              label="Inisiatif Kerja"
            >
              <template #render>
                <Input
                  v-model="gradeForm.inisiatifKerja"
                  type="number"
                  maxLength="100"
                  readonly
                />
              </template>
            </FormController>

            <FormController
              name="disiplin"
              control="disiplin"
              label="Disiplin"
            >
              <template #render>
                <Input
                  v-model="gradeForm.disiplin"
                  type="number"
                  maxLength="100"
                  readonly
                />
              </template>
            </FormController>
          </div>
        </div>

        <div class="border-l-8 border-blue-500 rounded-lg p-4 my-4">
          <h2 class="text-2xl font-semibold"> Kemampuan Kerja </h2>
          
          <div class="space-y-4 mt-4">
            <FormController
              name="pengetahuanTentangPekerjaan"
              control="pengetahuanTentangPekerjaan"
              label="Pengetahuan Tentang Pekerjaan"
            >
              <template #render>
                <Input
                  v-model="gradeForm.pengetahuanTentangPekerjaan"
                  type="number"
                  maxLength="100"
                  readonly
                />
              </template>
            </FormController>
            <FormController
              name="kualitasKeterampilanPekerjaan"
              control="kualitasKeterampilanPekerjaan"
              label="Kualitas Keterampilan Pekerjaan"
            >
              <template #render>
                <Input
                  v-model="gradeForm.kualitasKeterampilanPekerjaan"
                  type="number"
                  maxLength="100"
                  readonly
                />
              </template>
            </FormController>
            <FormController
              name="kerjaSama"
              control="kerjaSama"
              label="Kerja Sama"
            >
              <template #render>
                <Input
                  v-model="gradeForm.kerjaSama"
                  type="number"
                  maxLength="100"
                  readonly
                />
              </template>
            </FormController>
            <FormController
              name="efektivitasPenggunaanWaktuKerja"
              control="efektivitasPenggunaanWaktuKerja"
              label="Efektivitas Penggunaan Waktu Kerja"
            >
              <template #render>
                <Input
                  v-model="gradeForm.efektivitasPenggunaanWaktuKerja"
                  type="number"
                  maxLength="100"
                  readonly
                />
              </template>
            </FormController>

            <FormController
              name="etikaKomunikasiKantor"
              control="etikaKomunikasiKantor"
              label="Etika Komunikasi Kantor"
            >
              <template #render>
                <Input
                  v-model="gradeForm.etikaKomunikasiKantor"
                  type="number"
                  maxLength="100"
                  readonly
                />
              </template>
            </FormController>
          </div>
        </div>

        <div class="border-l-8 border-blue-500 rounded-lg p-4 my-4">
          <h2 class="text-2xl font-semibold"> Kepribadian </h2>
          
          <div class="space-y-4 mt-4">
            <FormController
              name="kebersihan"
              control="kebersihan"
              label="Kebersihan"
            >
              <template #render>
                <Input
                  v-model="gradeForm.kebersihan"
                  type="number"
                  maxLength="100"
                  readonly
                />
              </template>
            </FormController>
            <FormController
              name="tanggungJawab"
              control="tanggungJawab"
              label="Tanggung Jawab"
            >
              <template #render>
                <Input
                  v-model="gradeForm.tanggungJawab"
                  type="number"
                  maxLength="100"
                  readonly
                />
              </template>
            </FormController>
            <FormController
              name="kesopanan"
              control="kesopanan"
              label="Kesopanan"
            >
              <template #render>
                <Input
                  v-model="gradeForm.kesopanan"
                  type="number"
                  maxLength="100"
                  readonly
                />
              </template>
            </FormController>
          </div>
        </div>
      </div>

      <div class="flex justify-end">
        <div class="flex gap-4 items-center">
          <span>
            Total Nilai: {{ gradeForm.total }}
          </span>

          <span class="ml-auto">
            Rata-rata: {{ gradeForm.median }}
          </span>
        </div>
      </div>
    </PopupModal>
  </div>
</template>