
<script setup lang="ts">
import { ref } from 'vue'
import {
  Dialog,
  DialogPanel,
  Menu,
  MenuButton,
  MenuItem,
  MenuItems,
  TransitionChild,
  TransitionRoot,
} from '@headlessui/vue'
import * as icons from 'lucide-vue-next';
import { ChevronDownIcon, MagnifyingGlassIcon, Bars3Icon } from '@heroicons/vue/20/solid';
import { useRoute } from 'vue-router';
import { useAuth } from '@/stores/useAuth';

const { user } = storeToRefs(useAuth());
const { signOut } = useAuth();
const route = useRoute();
const notifications = ref<any>([]);
const loading = ref({
  notifications: false,
});

const navigation: any = ref([
  { name: 'Dashboard', href: '/admin', icon: icons.Home, current: false },
]);

const userNavigation = [
  { name: 'Sign out', href: '#' },
];

const confirmModalOpen = ref(false);

const fetchNotificatios = async () => {
  loading.value.notifications = true;
  await useCustomFetch("/profile/get-notifications")
  .then((response) => {
    notifications.value = response.data;
  }).catch((error) => {
    console.error(error);
  }).finally(() => {
    loading.value.notifications = false;
  });
}

const getMenu = async () => {
  try {
    await useCustomFetch("/admin/get-menu", {
      method: "GET",
    }).then((response) => {
      const data = response.data;
      data.forEach((item: any) => {
        navigation.value.push({
          name: item.name,
          href: item.url,
          icon: icons[item.icon as keyof typeof icons],
          current: false
        })
      })
    }).catch((error: any) => {
      if (error.statusCode === 401) {
        window.location.href = "/";
      }
    })
  } catch (error) {
    console.error(error);
  }
}

const handleLogout = async () => {
  await signOut();
  // Refresh
  window.location.href = "/";
}

definePageMeta({
  middleware: 'auth',
  layout: 'admin',
});

watch(() => route.name, () => {
  navigation.value.forEach((item: any) => {
    const current = () => {
      if (route.meta.name !== undefined) {
        return route.meta.name;
      } else {
        return route.path;
      }
    }

    item.current = item.href === current();
  })
}, { immediate: true })

onMounted(async () => {
  await getMenu();
  await fetchNotificatios();
})

const sidebarOpen = ref(false)
</script>

<template>
  <div>
    <TransitionRoot as="template" :show="sidebarOpen">
      <Dialog class="relative z-5 lg:hidden" @close="sidebarOpen = false">
        <TransitionChild as="template" enter="transition-opacity ease-linear duration-300" enter-from="opacity-0" enter-to="opacity-100" leave="transition-opacity ease-linear duration-300" leave-from="opacity-100" leave-to="opacity-0">
          <div class="fixed inset-0 bg-gray-900/80" />
        </TransitionChild>

        <div class="fixed inset-0 flex">
          <TransitionChild as="template" enter="transition ease-in-out duration-300 transform" enter-from="-translate-x-full" enter-to="translate-x-0" leave="transition ease-in-out duration-300 transform" leave-from="translate-x-0" leave-to="-translate-x-full">
            <DialogPanel class="relative mr-16 flex w-full max-w-xs flex-1">
              <TransitionChild as="template" enter="ease-in-out duration-300" enter-from="opacity-0" enter-to="opacity-100" leave="ease-in-out duration-300" leave-from="opacity-100" leave-to="opacity-0">
                <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
                  <button type="button" class="-m-2.5 p-2.5" @click="sidebarOpen = false">
                    <span class="sr-only">Close sidebar</span>
                    <XMarkIcon class="h-6 w-6 text-white" aria-hidden="true" />
                  </button>
                </div>
              </TransitionChild>
              <!-- Sidebar component, swap this element with another sidebar if you like -->
              <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-white  px-6 pb-4">
                <div class="flex h-16 shrink-0 items-center">
                  <img class="h-8 w-auto" src="~/assets/images/logo-ptp-navbar.png" a alt="Your Company" />
                </div>
                <nav class="flex flex-1 flex-col">
                  <ul class="list-none flex flex-1 flex-col gap-y-7">
                    <li>
                      <ul role="list" class="list-none -mx-2 space-y-1">
                        <li v-for="item in navigation" :key="item.name">
                          <NuxtLink :to="item.href" :class="[item.current ? 'bg-blue-700 text-white' : 'text-grey-200 hover:text-white hover:bg-blue-700', 'group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold']">
                            <component :is="item.icon" :class="[item.current ? 'text-white' : 'text-grey-200 group-hover:text-white', 'h-6 w-6 shrink-0']" aria-hidden="true" />
                            {{ item.name }}
                          </NuxtLink>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </DialogPanel>
          </TransitionChild>
        </div>
      </Dialog>
    </TransitionRoot>

    <!-- Static sidebar for desktop -->
    <div class="hidden lg:fixed lg:inset-y-0 lg:z-5 lg:flex lg:w-72 lg:flex-col">
      <!-- Sidebar component, swap this element with another sidebar if you like -->
      <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-white px-6 pb-4">
        <div class="flex h-16 shrink-0 items-center">
          <NuxtLink to="/" > <img class="h-8 w-auto" src="~/assets/images/logo-ptp-navbar.png" alt="Your Company" /> </NuxtLink>
        </div>
        <nav class="flex flex-1 flex-col">
          <ul class="list-none flex flex-1 flex-col gap-y-7">
            <li>
              <ul role="list" class="list-none -mx-2 space-y-1">
                <li v-for="item in navigation" :key="item.name">
                  <NuxtLink :to="item.href" :class="[item.current ? 'bg-blue-700 text-white' : 'text-black hover:text-white hover:bg-blue-700', 'group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold']">
                    <component :is="item.icon" :class="[item.current ? 'text-white' : 'text-black group-hover:text-white', 'h-6 w-6 shrink-0']" aria-hidden="true" />
                    {{ item.name }}
                  </NuxtLink>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="lg:pl-72">
      <div class="sticky top-0 z-4 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8">
        <button type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden" @click="sidebarOpen = true">
          <span class="sr-only">Open sidebar</span>
          <Bars3Icon class="h-6 w-6" aria-hidden="true" />
        </button>

        <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">
          <div class="relative flex flex-1"></div>

          <div class="flex items-center gap-x-4 lg:gap-x-6">
            <!-- Notification. -->
            <Menu as="div" class="relative">
              <MenuButton class="flex items-center gap-4" @click="fetchNotificatios">
                <IconBell class="w-6 h-6" />
              </MenuButton>
              <transition enter-active-class="transition ease-out duration-100" enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100" leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100" leave-to-class="transform opacity-0 scale-95">
                <MenuItems class="absolute right-0 z-10 mt-2.5 w-80 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none">
                  <MenuItem v-if="loading.notifications" v-slot="{ active }">
                    <span class="block px-3 py-1 text-sm leading-6 text-gray-900"> Loading... </span>
                  </MenuItem>
                  <MenuItem v-else v-for="item in notifications" :key="item.id" v-slot="{ active }">
                    <NuxtLink :to="item?.data?.route" :class="[active ? 'bg-gray-50' : '', 'block px-3 py-1 text-sm leading-6 text-gray-900', 'cursor-pointer']">
                      <h5 class="font-semibold flex gap-2 items-center">
                        {{ item?.data?.title }}
                        <div class="rounded-full bg-red-600 w-2 h-2" v-show="item.read_at === null"></div>
                      </h5>
                      <p class="text-sm"> {{ item?.data?.message }} </p>

                      <small class="text-xs text-gray-500"> {{ item?.created_at }} </small>
                    </NuxtLink>
                  </MenuItem>
                  <MenuItem v-show="notifications.length === 0" v-slot="{ active }">
                    <span class="block px-3 py-1 text-sm leading-6 text-gray-900"> No notifications </span>
                  </MenuItem>
                </MenuItems>
              </transition>
            </Menu>

            <Menu as="div" class="relative">
              <MenuButton class="-m-1.5 flex items-center p-1.5">
                <span class="sr-only">Open user menu</span>
                <span class="hidden lg:flex lg:items-center">
                  <div class="flex flex-col text-right mr-4">
                    <span> {{ user?.name }} </span>
                    <small> {{ user?.username }} </small>
                  </div>
                  <!-- <ChevronDownIcon class="ml-2 h-5 w-5 text-gray-400" aria-hidden="true" /> -->
                </span>
                <img class="h-8 w-8 rounded-full bg-gray-50" src="https://www.gravatar.com/avatar/3b3be63a4c2a439b013787725dfce802?d=identicon" alt="" />
              </MenuButton>
              <transition enter-active-class="transition ease-out duration-100" enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100" leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100" leave-to-class="transform opacity-0 scale-95">
                <MenuItems class="absolute right-0 z-10 mt-2.5 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none">
                  <MenuItem v-for="item in userNavigation" :key="item.name" v-slot="{ active }">
                    <NuxtLink v-if="item.name !== 'Sign out'" :to="item.href" :class="[active ? 'bg-gray-50' : '', 'block px-3 py-1 text-sm leading-6 text-gray-900']">{{ item.name }}</NuxtLink>
                    <a v-else @click="() => confirmModalOpen = true" :class="[active ? 'bg-gray-50 cursor-pointer' : '', 'block px-3 py-1 text-sm leading-6 text-gray-900']">{{ item.name }}</a>
                  </MenuItem>
                </MenuItems>
              </transition>
            </Menu>
          </div>
        </div>
      </div>

      <main class="py-10 bg-gray-50 h-screen">
        <div class="px-4 sm:px-6 lg:px-8 pb-8">
          <slot></slot>
        </div>
      </main>
    </div>

    <PopupModal
      title="Logout"
      size="sm"
      :isOpen="confirmModalOpen"
      :onModal-close="() => (confirmModalOpen = false)"
    >
      <div class="flex flex-col gap-4">
        <p>Are you sure you want to logout?</p>
        <div class="flex gap-4">
          <Button
            label="No"
            class="flex-1"
            @click="() => confirmModalOpen = false"
          />
          <Button
            label="Yes"
            class="flex-1"
            @click="() => {
              confirmModalOpen = false;
              handleLogout();
            }"
          />
        </div>
      </div>
    </PopupModal>
  </div>
</template>
