<script setup lang="ts">
import { watch, onMounted } from "vue";
import { useRoute } from "vue-router";
import BreadcrumbConfigs from "~/consts/breadcrumb";
import { useParameter } from "~/stores/useParameter";

const { getAuthenticated, getRoles } = useAuth();
const colorMode = useColorMode();
const route = useRoute();
const breadcrumbParams: any = ref({});
const authenticated = ref(false);
const roles = ref<any>([]);
const userLoading = ref(true);
colorMode.preference = "light";

const handleBreadcrumbUpdate = (url: string) => {
  const breadcrumb = BreadcrumbConfigs.find((item: any) => item.url === url);
  if (breadcrumb) {
    breadcrumbParams.value = breadcrumb.pages;
  }
};

onBeforeMount(async () => {
  const { setParameters } = useParameter();
  await useCustomFetch("/parameter/get-settings", {
    method: "GET",
  })
    .then((res) => {
      setParameters(res.data);
    })
    .catch((err) => {
      console.log(err);
    });
});

onMounted(async () => {
  await getAuthenticated()
    .then(async (res) => {
      authenticated.value = res;

      if (authenticated.value) {
        await getRoles()
          .then((res) => {
            roles.value = res;
          })
          .catch((err) => {
            console.log(err);
          });
      }
    }).catch((err) => {
      console.log(err);
    }).finally(() => {
      userLoading.value = false;
    });

  const url = route.path;
  handleBreadcrumbUpdate(url);
});

watch(
  () => route.path,
  (url) => {
    if (url) handleBreadcrumbUpdate(url);
  },
  { immediate: true },
);

provide("authenticated", authenticated);
provide("roles", roles);
</script>

<template>
  <div class="bg-gray-50" id="root">
    <Navbar
      :authenticated="authenticated"
      :user-loading="userLoading"
      :roles="roles"
    />

    <Container class="py-4 mt-4">
      <Breadcrumb :pages="breadcrumbParams" />
    </Container>

    <div class="my-4">
      <slot />
    </div>

    <Footer />
  </div>
</template>
