<script setup lang="ts">
const colorMode = useColorMode();
colorMode.preference = "light";

const { getAuthenticated, getRoles } = useAuth();
const authenticated = ref(false);
const roles = ref<any>([]);
const userLoading = ref(true);

onMounted(async () => {
  try {
    const { setParameters } = useParameter();
    const settings = await useCustomFetch("/parameter/get-settings", {
      method: "GET",
    });
    setParameters(settings.data);

    const isAuthenticated = await getAuthenticated();
    authenticated.value = isAuthenticated;

    if (authenticated.value) {
      const data = await getRoles();
      roles.value = data;
    }
  } catch (err) {
    console.error(err);
  } finally {
    userLoading.value = false;
  }
});

provide("authenticated", authenticated);
provide("roles", roles);
</script>

<template>
  <div id="root">
    <Navbar
      :authenticated="authenticated"
      :user-loading="userLoading"
      :roles="roles"
    />

    <div>
      <slot />
    </div>

    <Footer />
  </div>
</template>
