<script setup lang="ts">
import { ref } from 'vue';
import { ArrowLeft } from 'lucide-vue-next';
import type { Column } from '~/types';
import Input from '~/components/global/Input.vue';

const route = useRoute();

useHeadTitle("Payroll Submission Detail");
definePageMeta({
  layout: "admin",
  middleware: "auth"  
});

const router = useRouter();
const tableProps = useTable(`/uang-saku/get-list-payroll-items?id=${route?.params?.id}`, "created_at");
const tablePropsRef = toRefs(tableProps);
const { loading: isTableLoading, parent } = tablePropsRef;

const id = route?.params?.id;
const downloading = ref(false);

const columns = ref<Column[]>([
  {
    accessor: "user.name",
    value: "Nama",
    customRender: (value, row) => {
      return h("a", {
        onClick: () => router.push(`/admin/payroll/submission/${id}/${row.id}`),
        class: "text-blue-600 hover:underline cursor-pointer"
      }, row.user.name);
    },
    customRenderType: "component",
  },
  { 
    accessor: "end_date", 
    value: "Periode Bulan", 
    customRender: () => {
      const month = new Date(parent.value.end_date).toLocaleString("default", { month: "long" });
      const year = new Date(parent.value.end_date).getFullYear();
      return h("span", `${month} ${year}`);
    },
    customRenderType: "component"
  },
  {
    accessor: "total_workdays",
    value: "Total Work Days",
    customRender: (value) => {
      return h("span", value);
    },
    customRenderType: "component"
  },
  {
    accessor: "amount_perday",
    value: "Uang Saku / Hari",
    customRender: (value) => {
      return h("span", formatMoney(value, "IDR"));
    },
    customRenderType: "component"
  },
  {
    accessor: "total_amount",
    value: "Total Pembayaran",
    customRender: (value, row) => {
      return h("span", formatMoney(value, "IDR"));
    },
    customRenderType: "component"
  },
]);

const handleSort = (column: any) => {
  tablePropsRef.sortColumn.value = column.accessor;
  tablePropsRef.sortDirection.value = tablePropsRef.sortDirection.value === "asc" ? "desc" : "asc";
};

const downloadFile = async (url: string) => {
  downloading.value = true;
  try {
    const blob = await useCustomFetch(url, {
      method: "GET",
      responseType: "blob",
      headers: {
        "Content-Type": "application/json",
        Authorization: `Bearer ${localStorage.getItem("token")}`,
      },
    });

    const urlDownload = window.URL.createObjectURL(new Blob([blob]));
    const link = document.createElement("a");
    link.href = urlDownload;
    link.setAttribute("download", "list-pengajuan-uang-saku." + url.split("type=")[1]);
    document.body.appendChild(link);
    link.click();
  } catch (error) {
    console.error(error);
  } finally {
    downloading.value = false;
  }
};
</script>

<template>
  <div>
    <NuxtLink to="/admin/payroll/submission" class="text-blue-500 flex gap-2"> 
      <ArrowLeft /> 
      Back 
    </NuxtLink>

    <div class="page-content my-8">
      <div class="flex justify-between">
        <h2 class="text-2xl font-semibold"> Detail Pengajuan </h2>

        <div class="flex gap-4">
          <Button
            variant="primary"
            :is-loading="downloading"
            @click="() => downloadFile(`/uang-saku/download-list-payroll-item?id=${id}&type=pdf`)"
          >
            Download as PDF
          </Button>

          <Button
            variant="primary"
            :is-loading="downloading"
            @click="() => downloadFile(`/uang-saku/download-list-payroll-item?id=${id}&type=xlsx`)"
          >
            Download as Xlsx
          </Button>
        </div>
      </div>
      
      <Table 
        :columns="columns" 
        :table-props="tablePropsRef" 
        :is-loading="isTableLoading" 
        :handle-sort="handleSort"
        :hide-search-box="true"
        class="my-4"
      />
    </div>
  </div>
</template>