<script setup lang="ts">
import { ref } from 'vue';
import { ArrowLeft } from 'lucide-vue-next';
import type { Column } from '~/types';

const route = useRoute();
const router = useRouter();

useHeadTitle("Payroll Submission Detail");
definePageMeta({
  layout: "admin",
  middleware: "auth"  
});

const tableProps = useTable(`/uang-saku/get-list-payroll-items?id=${route?.params?.id}`, "created_at");
const tablePropsRef = toRefs(tableProps);
const { loading: isTableLoading, parent } = tablePropsRef;

const loading = ref(false);
const processActionType = ref("");
const confirmModalOpen = ref(false);
const statusModal = ref({
  show: false,
  message: "",
  variant: "",
});

const columns = ref<Column[]>([
  {
    accessor: "user.name",
    value: "Nama",
  },
  { 
    accessor: "end_date", 
    value: "Periode Bulan", 
    customRender: () => {
      const month = new Date(parent.value.end_date).toLocaleString("default", { month: "long" });
      const year = new Date(parent.value.end_date).getFullYear();
      return h("span", `${month} ${year}`);
    },
    customRenderType: "component"
  },
  {
    accessor: "total_workdays",
    value: "Total Work Days",
    customRender: (value) => {
      return h("span", value);
    },
    customRenderType: "component"
  },
  {
    accessor: "amount_perday",
    value: "Uang Saku / Hari",
    customRender: (value) => {
      return h("span", formatMoney(value, "IDR"));
    },
    customRenderType: "component"
  },
  {
    accessor: "total_amount",
    value: "Total Pembayaran",
    customRender: (value, row) => {
      return h("span", formatMoney(value, "IDR"));
    },
    customRenderType: "component"
  },
]);

const handleSort = (column: any) => {
  tablePropsRef.sortColumn.value = column.accessor;
  tablePropsRef.sortDirection.value = tablePropsRef.sortDirection.value === "asc" ? "desc" : "asc";
};

const updateStatus = async () => {
  loading.value = true;

  await useCustomFetch(`/uang-saku/update-status`, {
    method: "POST",
    body: JSON.stringify({ 
      id: route?.params?.id,
      status: processActionType.value
    })
  }).then(() => {
    statusModal.value.show = true;
    statusModal.value.message = `Pengajuan uang saku berhasil ${processActionType.value === "approve" ? "disetujui" : "ditolak"}`;
    statusModal.value.variant = "success";

    setTimeout(() => {
      router.push("/admin/payroll/process");
    }, 2000);
  }).catch((err) => {
    statusModal.value.show = true;
    statusModal.value.message = `Pengajuan uang saku gagal ${processActionType.value === "approve" ? "disetujui" : "ditolak"}`;
    statusModal.value.variant = "danger";
  }).finally(() => {
    loading.value = false;
    confirmModalOpen.value = false;
  });
};
</script>

<template>
  <div>
    <NuxtLink to="/admin/payroll/process" class="text-blue-500 flex gap-2"> 
      <ArrowLeft /> 
      Back 
    </NuxtLink>

    <div class="page-content my-8">
      <div class="flex justify-between">
        <h2 class="text-2xl font-semibold"> Detail Pengajuan </h2>
      
        <div class="flex gap-2">
          <Button 
            variant="primary" 
            v-if="parent?.status === 'pending'"
            @click="() => { processActionType = 'approve'; confirmModalOpen = true; }"
          >
            Proses
          </Button>
          <Button 
            variant="danger" 
            v-if="parent?.status === 'pending'"
            @click="() => { processActionType = 'reject'; confirmModalOpen = true; }"
          >
            Tolak
          </Button>
        </div>
      </div>
      
      <Table 
        :columns="columns" 
        :table-props="tablePropsRef" 
        :is-loading="isTableLoading" 
        :handle-sort="handleSort"
        :hide-search-box="true"
        class="my-4"
      />
    </div>

    <ConfirmModal
      :isOpen="confirmModalOpen"
      title="Proses Pengajuan"
      :message="`Apakah Anda yakin ingin ${processActionType === 'approve' ? 'menyetujui' : 'menolak'} pengajuan uang saku ini?`"
      @confirm="updateStatus"
      @cancel="() => { confirmModalOpen = false; }"
      variant="question"
      :is-loading="loading"
    />

    <StatusModal
      :isOpen="statusModal.show"
      :message="statusModal.message"
      :variant="statusModal.variant"
      @modal-close="statusModal.show = false"
      :description="statusModal.message"
    />
  </div>
</template>