<script setup lang="ts">
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import type { Column } from '~/types';

// @ts-ignore
import Badge from '~/components/global/Badge.vue';

const router = useRouter();

useHeadTitle("Process Payroll");
definePageMeta({
  layout: "admin",
  middleware: "auth"  
});

const columns = ref<Column[]>([
  {
    accessor: "id",
    value: "Transaction ID",
    customRender: (value) => {
      return h("a", {
        onClick: () => router.push(`/admin/payroll/process/${value}`),
        class: "text-blue-600 hover:underline cursor-pointer"
      }, value);
    },
    customRenderType: "component",
    sortable: true
  },
  { 
    accessor: "end_date", 
    value: "Periode Bulan", 
    customRender: (value) => {
      const month = new Date(value).toLocaleString("default", { month: "long" });
      const year = new Date(value).getFullYear();
      return h("span", `${month} ${year}`);
    },
    customRenderType: "component"
  },
  { accessor: "total_items", value: "Total Mahasiswa" },
  { 
    accessor: "total_amount", 
    value: "Total Nominal",
    customRender: (value) => {
      return h("span", formatMoney(value, "IDR"));
    },
    customRenderType: "component"
  },
  { 
    accessor: "status", 
    value: "Status",
    customRender: (value) => {
      return h(Badge, { variant: value === "pending" ? "warning" : value === "approved" ? "success" : "danger" }, value);
    },
    customRenderType: "component"
  },
]);

const tableProps = useTable("/uang-saku/get-list-payroll", "id");
const tablePropsRef = toRefs(tableProps);
const { loading: isTableLoading } = tablePropsRef;

const handleSort = (column: any) => {
  tablePropsRef.sortColumn.value = column.accessor;
  tablePropsRef.sortDirection.value = tablePropsRef.sortDirection.value === "asc" ? "desc" : "asc";
};
</script>

<template>
  <div>
    <h2 class="text-2xl font-semibold"> Proses Uang Saku </h2>

    <Table 
      :columns="columns" 
      :table-props="tablePropsRef" 
      :is-loading="isTableLoading" 
      :handle-sort="handleSort"
      :hide-search-box="true"
    />
  </div>
</template>