<script setup lang="ts">
useHeadTitle("About");
const param = useParameter();
</script>

<template>
  <div class="min-h-[25rem]">
    <Container>
      <h1 class="text-2xl font-semibold mb-4"> Perkenalan PT Pelabuhan Tanjung Priok </h1>
      <article v-html="param.getParameterByCode('about')" class="leading-loose" />
    </Container>
  </div>
</template>