<script setup lang="ts">
useHeadTitle("Contact");
const param = useParameter();
</script>

<template>
  <div class="min-h-[25rem]">
    <Container>
      <h1 class="text-2xl font-semibold mb-4"> Kontak Kami </h1>
      <article v-html="param.getParameterByCode('contact')" class="leading-loose" />
    </Container>
  </div>
</template>