<script setup lang="ts">
definePageMeta({
  layout: 'default',
})

import { ref } from 'vue';

const email = ref('');
const isLoading = ref(false);
const submitted = ref(false);
const statusModal = ref({
  show: false,
  message: "",
  type: ""
});
useHeadTitle("Forgot Password");

const handleSendReset = async (e: Event) => {
  isLoading.value = true;
  await useCustomFetch("/forgot-password", {
    method: "POST",
    body: JSON.stringify({ email: email.value }),
  }).then(() => {
    isLoading.value = false;
    submitted.value = true;
  }).catch((error) => {
    statusModal.value = {
      show: true,
      message: error.message,
      type: "error",
    };
  }).finally(() => {
    isLoading.value = false;
  });
}

</script>

<template>
  <div class="h-[50vh]">
    <Container>
      <div class="space-y-4">
        <h2 class="text-2xl font-semibold"> Forgot Password </h2>
        <p class="text-sm">
          Enter your email address and we will send you a link to reset your password.
        </p>
      </div>

      <div class="mt-8 space-y-6" v-show="!submitted">
        <Controller
          type="email"
          name="email"
          placeholder="Email address"
          label="Email address"
          v-model="email"
        />

        <Button class="w-full" @click="handleSendReset" :is-loading="isLoading">
          Send Reset Link
        </Button>
      </div>

      <div class="mt-8 space-y-6" v-show="submitted">
        <p class="text-sm">
          We will send you an email with a link to reset your password.
        </p>
        <p class="text-sm">
          If you don't receive an email, please check your spam folder.
        </p>
      </div>
    </Container>

    <StatusModal
      :isOpen="statusModal.show"
      :message="statusModal.message"
      :variant="statusModal.type"
      @modal-close="statusModal.show = false"
      :description="statusModal.message"
    />
  </div>
</template>