<script setup lang="ts">
import { useAuth } from "@/stores/useAuth";

const pageName = "Dashboard";
const { getActiveInternship } = useAuth();
const internship = ref<any>(null);

const loading = ref(true);
const isAdmin = ref(true);
const authenticated: any = inject("authenticated");
const roles: any = inject("roles");

definePageMeta({
  layout: "plain",
  middleware: "auth",
});

useHeadTitle(pageName);

const fetchActive = async () => {
  loading.value = true;
  if (authenticated.value) {
    await getActiveInternship()
    .then((response) => {
      internship.value = response;
    })
    .finally(() => {
      loading.value = false;
    });
  }
};

watch (() => authenticated.value,
  async (value) => {
    if (value) {
      await fetchActive();
    }
  },
);

watch(() => roles.value,
  async (value) => {
    if (value) {
      isAdmin.value = value.some((role: any) => role.code.startsWith("Admin"));
    } else {
      isAdmin.value = false;
    }
  },
);

onMounted(async () => {
  await fetchActive();
});
</script>

<template>
  <div id="root">
    <section
      class="bg-center bg-no-repeat bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] bg-gray-700 bg-blend-multiply"
    >
      <div
        class="flex mx-auto max-w-screen-xl h-lvh items-center justify-between px-4"
      >
        <div>
          <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"
          >
            PTP Magnit
          </h1>
          <p class="text-xl md:text-2xl text-white">
            Program Magang Nusantara untuk Inovasi dan Talenta
          </p>

          <div class="flex gap-2 mt-8" v-show="!isAdmin && !loading">
            <Button
              v-show="authenticated && internship?.code !== 200"
              type="nuxt-link"
              to="/daftar-magang"
              label="Daftar Magang"
            />
            <Button
              v-show="authenticated"
              type="nuxt-link"
              to="/logbook"
              label="Logbook"
            />
          </div>
        </div>
        <div>
          <img
            src="~/assets/images/logo-ptp-light.png"
            alt="Hero Image"
            class="w-96 h-auto ml-auto text-end hidden md:block"
          />
        </div>
      </div>
    </section>
  </div>
</template>
