<script setup lang="ts">
useHeadTitle("Selengkapnya");
const param = useParameter();
</script>

<template>
  <div class="min-h-[25rem]">
    <Container>
      <h1 class="text-2xl font-semibold mb-4">Selengkapnya tentang Magnit</h1>
      <article v-html="param.getParameterByCode('lihat-selengkapnya')" class="leading-6" />
    </Container>
  </div>
</template>