<script setup lang="ts">
/*
 * The login itself actually is in the navbar component. This page is for after
 * the reset password is successful.
 */
import { LoginSchema } from '~/schema';
import { useForm } from 'vee-validate';
import { toTypedSchema } from '@vee-validate/zod';
import type { Credentials } from "~/types";
const schema = toTypedSchema(LoginSchema);
const { errors, handleSubmit, defineField, setErrors } = useForm({
  validationSchema: schema
});

useHeadTitle("Login");
definePageMeta({
  layout: 'default',
})

const { signIn, getRoles, getAuthenticated } = useAuth();
const { authenticated } = storeToRefs(useAuth());
const router = useRouter();
const isLoading = ref(false);
const [emailOrUsername, emailOrUsernameAttrs] = defineField("emailOrUsername");
const [password, passwordAttrs] = defineField("password");

const handleLogin = handleSubmit(async (values) => {
  try {
    const credentials: Credentials = {
      emailOrUsername: values.emailOrUsername,
      password: values.password
    };

    isLoading.value = true;
    const response = await signIn(credentials);
    if (response.code === 200) {
      const roles = await getRoles();
      if (roles.find((role: any) => role.code.startsWith("Admin"))) {
        router.push("/admin");
      } else {
        router.push("/profile");
      }
    } else {
      setErrors({
        password: response.message
      });
    }
    
  } catch (err: any) {
    setErrors({
      password: err?.message
    });
  } finally {
    isLoading.value = false;
  }
});

onBeforeMount(() => {
  getAuthenticated().then((authenticated) => {
    if (authenticated) {
      router.push("/profile");
    }
  });
});

</script>

<template>
  <div class="min-h-[50vh]">
    <Container class="space-y-4">
      <h2 class="text-2xl font-semibold"> Login </h2>
      <p class="text-sm"> Enter your username or email and password to login. </p>

      <div class="form-login flex flex-col gap-4">
        <Controller
          type="text"
          name="username"
          placeholder="Username"
          label="Username or Email"
          v-bind="emailOrUsernameAttrs"
          v-model="emailOrUsername"
          :error-message="errors.emailOrUsername"
        />
        <Controller
          type="password"
          name="password"
          placeholder="Password"
          label="Password"
          v-bind="passwordAttrs"
          v-model="password"
          :error-message="errors.password"
        />

        <Link to="/forgot-password" class="text-sm text-blue-500"> Forgot password? </Link>

        <Button 
          @click="handleLogin"
          :disabled="isLoading"
          :isLoading="isLoading"
        >
          Login
        </Button>
      </div>
    </Container>
  </div>
</template>