<script setup lang="ts">
import { useRoute } from 'vue-router';

useHeadTitle("Reset Password");
definePageMeta({
  layout: "default",
});

const route = useRoute();
const router = useRouter();
const { token, email } = route.query;
const isLoading = ref(false);
const isTokenInvalid = ref(false);
const isPasswordValid = ref({
  password: false,
  confirmPassword: false,
  message: "",
});

const form = ref({
  password: "",
  confirmPassword: "",
});

const updatePassword = async () => {
  isLoading.value = true;
  if (form.value.password !== form.value.confirmPassword) {
    isPasswordValid.value = {
      password: false,
      confirmPassword: false,
      message: "Password does not match",
    };
    return;
  }

  isPasswordValid.value = {
    password: true,
    confirmPassword: true,
    message: "",
  };

  // Call API to update password
  await useCustomFetch("/reset-password", {
    method: "POST",
    body: JSON.stringify({
      email,
      token,
      password: form.value.password,
      passwordConfirmation: form.value.confirmPassword,
    }),
  }).then((response) => {
    if (response.code === 200) {
      router.push("/login");
    } else {
      isPasswordValid.value = {
        password: false,
        confirmPassword: false,
        message: response.message,
      };
    }
  }).catch((error) => {
    console.error(error);
  }).finally(() => {
    isLoading.value = false;
  });
};

onMounted(() => {
  if (!token || !email) {
    isTokenInvalid.value = true;
  }
});

</script>

<template>
  <div class="min-h-[50vh]">
    <Container>
      <div class="space-y-4">
        <h2 class="text-2xl font-semibold"> Reset Password </h2>
        <p class="text-sm">
          Enter your new password.
        </p>
      </div>

      <div class="mt-8 space-y-4">
        <Controller
          type="password"
          name="password"
          placeholder="New password"
          label="New password"
          v-model="form.password"
        />

        <Controller
          type="password"
          name="confirmPassword"
          placeholder="Confirm new password"
          label="Confirm new password"
          v-model="form.confirmPassword"
        />

        <div v-show="form.password !== form.confirmPassword">
          <p class="text-red-500 text-sm">Password does not match</p>
        </div>

        <Button 
          class="w-full" 
          :disabled="form.password !== form.confirmPassword || isLoading" 
          @click="updatePassword"
          :is-loading="isLoading"
        >
          Reset Password
        </Button>
      </div>
    </Container>
  </div>
</template>