<script setup lang="ts">
import { ArrowLeft } from 'lucide-vue-next';
import { Admin } from '~/schema';
import { Field } from 'vee-validate';
import type { DualListBoxOption } from "~/types";

definePageMeta({
  layout: 'admin',
  middleware: 'auth',
});

useHeadTitle('Create New Admin');

// Form Schema
const schema = toTypedSchema(Admin);
const isFormValid = ref(false);
const { errors, handleSubmit, defineField, setErrors, resetForm, validate, setFieldValue } = useForm({
  validationSchema: schema
});
const [nipp, nippAttrs] = defineField("nipp");
const [username, usernameAttrs] = defineField("username");
const [name, nameAttrs] = defineField("name");
const [email, emailAttrs] = defineField("email");
const [password] = defineField("password");
const [divisiIds] = defineField("divisiIds");
const [role] = defineField("role");
const router = useRouter();
const isLoading = ref(true);
const step = ref(1);
const unitKerjaOptions: any = ref([]);
const roleOptions: any = ref([]);
const divisiOptions: any = ref<DualListBoxOption[]>([]);
const statusModal = ref({
  isOpen: false,
  title: "",
  message: "",
  variant: "",
});

const getUnitKerja = async () => {
  isLoading.value = true;
  await useCustomFetch("/admin/unit-kerja/select-all", {
    method: "GET",
  }).then((res) => {
    unitKerjaOptions.value = [];

    res.data.forEach((item: any) => {
      unitKerjaOptions.value.push({
        id: item.id,
        name: item.name,
      });
    });
  }).catch((err) => {
    console.log(err);
  }).finally(() => {
    isLoading.value = false;
  });
};

const getDivision = async () => {
  isLoading.value = true;
  await useCustomFetch("/register/get-division?is_options=true", {
    method: "GET",
  }).then((res) => {
    divisiOptions.value = [];

    res.data.data.forEach((item: any) => {
      divisiOptions.value.push({
        id: item.id,
        label: item.name,
        value: item.id,
      });
    });
  }).catch((err) => {
    console.log(err);
  }).finally(() => {
    isLoading.value = false;
  });
};

const getRoleOptions = async () => {
  isLoading.value = true;
  await useCustomFetch("/admin/get-roles?options=true", {
    method: "GET",
  }).then((res) => {
    roleOptions.value = [];

    res.data.forEach((item: any) => {
      roleOptions.value.push({
        id: item.code,
        name: item.code + " - " + item.name,
      });
    });
  }).catch((err) => {
    console.log(err);
  }).finally(() => {
    isLoading.value = false;
  });
};

const handleSubmitForm = handleSubmit(async (values) => {
  const payload = {
    nipp: values.nipp,
    username: values.username,
    name: values.name,
    email: values.email,
    unit: values.unit,
    password: values.password,
    divisiIds: [values.divisiIds],
    role: values.role,
  };

  isLoading.value = true;
  await useCustomFetch("/admin/register-admin", {
    method: "POST",
    body: JSON.stringify(payload),
  }).then(() => {
    statusModal.value = {
      isOpen: true,
      title: "Berhasil",
      message: "PIC berhasil didaftarkan",
      variant: "success",
    };
    
    resetForm();
    router.push("/admin/master-admin");
  }).catch((err) => {
    statusModal.value = {
      isOpen: true,
      title: "Gagal",
      message: err.data.message,
      variant: "danger",
    };
    setErrors(err.data.data);
  }).finally(() => {
    isLoading.value = false;
  });
});

const handleStatusModalClose = () => {
  statusModal.value.isOpen = false;
};

const handleNextPage = () => {
  handleSubmitForm();
};

watch(errors, (newErrors) => {
  isFormValid.value = Object.keys(newErrors).length === 0;
}, { immediate: true });

onMounted(async () => {
  await getUnitKerja();
  await getDivision();
  await getRoleOptions();
});
</script>

<template>
  <div>
    <NuxtLink to="/admin/master-admin" class="text-blue-500 flex gap-2"> 
      <ArrowLeft /> 
      Back 
    </NuxtLink>

    <div class="page-content my-8">
      <h1 class="text-2xl font-semibold"> Create a New Admin </h1>
      
      <div class="space-y-4 my-8" v-show="step === 1">
        <div class="flex gap-4">
          <FormController
            name="name"
            control="name"
            label="Name"
            class="w-1/2"
          >
            <template #render>
              <Input
                v-bind="nameAttrs"
                v-model="name"
                label="Name"
                placeholder="Enter name"
              />
              
              <p class="text-red-500 text-small mt-2"> {{ errors.name }} </p>
            </template>
          </FormController>
          <FormController
            name="username"
            control="username"
            label="Username"
            class="w-1/2"
          >
            <template #render>
              <Input
                v-bind="usernameAttrs"
                v-model="username"
                label="Username"
                placeholder="Enter username"
              />

              <p class="text-red-500 text-small mt-2"> {{ errors.username }} </p>
            </template>
          </FormController>
        </div>
        <FormController 
          name="nipp"
          control="nipp"
          label="NIPP"
        >
          <template #render>
            <Input
              v-bind="nippAttrs"
              v-model="nipp"
              label="NIPP"
              placeholder="Enter NIPP"
              type="number"
            />

            <p class="text-red-500 text-small mt-2"> {{ errors.nipp }} </p>
          </template>
        </FormController>
        <FormController 
          name="email"
          control="email"
          label="Email"
        >
          <template #render>
            <Input
              v-bind="emailAttrs"
              v-model="email"
              label="Email"
              placeholder="Enter email"
            />

            <p class="text-red-500 text-small mt-2"> {{ errors.email }} </p>
          </template>
        </FormController>
        <FormController 
          name="role"
          control="role"
          label="Role"
        >
          <template #render>
            <Field
              name="role"
              as="select"
              class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6"
            >
              <option value="" disabled selected> Pilih Role </option>
              <option v-for="option in roleOptions" :key="option.id" :value="option.id"> {{ option.name }} </option>
            </Field>

            <p class="text-red-500 text-small mt-2"> {{ errors.role }} </p>
          </template>
        </FormController>
        <FormController 
          name="divisiId"
          control="divisiId"
          label="Pilih Divisi"
          v-show="role === 'Admin_PIC'"
        >
          <template #render>
            <Field
              name="divisiIds"
              as="select"
              class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6"
            >
              <option value="" disabled selected> Pilih Divisi </option>
              <option v-for="option in divisiOptions" :key="option.id" :value="option.id"> {{ option.label }} </option>
            </Field>

            <p class="text-red-500 text-small mt-2"> {{ errors.divisiIds }} </p>
          </template>
        </FormController>
        <FormController 
          name="uker"
          control="uker"
          label="Unit Kerja"
        >
          <template #render>
            <Field
              name="unit"
              as="select"
              class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6"
            >
              <option value="" disabled selected> Pilih Unit Kerja </option>
              <option v-for="option in unitKerjaOptions" :key="option.id" :value="option.name"> {{ option.name }} </option>
            </Field>

            <p class="text-red-500 text-small mt-2"> {{ errors.unit }} </p>
          </template>
        </FormController>
        <FormController 
          name="password"
          control="password"
          label="Password"
        >
          <template #render>
            <Input
              v-model="password"
              label="Password"
              placeholder="Enter password"
              type="password"
            />

            <p class="text-red-500 text-small mt-2"> {{ errors.password }} </p>
          </template>
        </FormController>
      </div>
      <div class="flex flex-row-reverse gap-2 mt-8">
        <Button
          variant="primary"
          @click="handleNextPage"
          :is-loading="isLoading"
          :disabled="isLoading"
        >
          Submit
        </Button>
        <Button
          variant="secondary"
          @click="step = 1"
          :disabled="isLoading || step === 1"
        >
          Back
        </Button>
        <Button
          variant="secondary"
          @click="resetForm"
        >
          Reset
        </Button>
      </div>
    </div>
    
    <StatusModal
      :is-open="statusModal.isOpen"
      :title="statusModal.title"
      :description="statusModal.message"
      :variant="statusModal.variant"
      @modal-close="handleStatusModalClose"
    />
  </div>
</template>