<script setup lang="ts">
const param = useParameter();
</script>

<template>
  <footer class="bg-neutral-900 text-white py-12 border-border" id="footer">
    <img src="~/assets/images/logo-ptp-light.png" alt="Logo PTP White" class="w-80 mx-auto mb-8 black md:hidden">
    <div class="flex flex-col flex-col-reverse md:flex-row max-w-screen-xl md:items-left mx-4 md:m-auto">
      <div class="basis-3/4">
        <img src="~/assets/images/logo-ptp-light.png" alt="Logo PTP White" class="w-80 hidden md:block">
        <div class="flex flex-col gap-4 my-8">
          <div class="flex gap-2"> <IconMapPin /> {{ param.getParameterByCode('address') }} </div>
          <div class="flex gap-2"> <IconMail /> {{ param.getParameterByCode('contact-footer') }} </div>
          <div class="flex gap-2"> <IconGlobe /> {{ param.getParameterByCode('email-footer') }} </div>
        </div>

        <!-- Social Networks -->
        <div class="flex gap-4 my-8 md:my-0 justify-center md:justify-start">
          <a href="#" class="text-white"> <IconInstagram /> </a>
          <a href="#" class="text-white"> <IconFacebook /> </a>
          <a href="#" class="text-white"> <IconTwitter /> </a>
          <a href="#" class="text-white"> <IconYoutube /> </a>
          <a href="#" class="text-white"> <IconLinkedin /> </a>
        </div>
      </div>
      <div class="basis-1/4">
        <h3 class="text-base font-bold"> Navigasi </h3>
        
        <ul class="list-none mt-4 flex flex-col gap-4">
          <li> <NuxtLink to="/"> Beranda </NuxtLink> </li>
          <li> <NuxtLink to="/about"> Tentang Kami </NuxtLink> </li>
          <li> <NuxtLink to="/lihat-selengkapnya"> Lihat Selengkapnya </NuxtLink> </li>
          <!-- <li> <a href="#"> Program </a> </li>
          <li> <a href="#"> Berita </a> </li> -->
          <li> <NuxtLink to="/contact"> Kontak </NuxtLink> </li>
        </ul>

        <!-- Copyright -->
        <div class="mt-8 text-sm text-gray-400 hidden md:block">
          <article v-html="param.getParameterByCode('copy')" />
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center text-gray-400 block md:hidden">
      <article v-html="param.getParameterByCode('copy')" />
    </div>
  </footer>
</template>