<script setup lang="ts">
import { LoginSchema } from "~/schema";
import { useForm } from "vee-validate";
import { toTypedSchema } from "@vee-validate/zod";
import type { Credentials } from "~/types";
import { Menu, MenuButton, MenuItem, MenuItems } from "@headlessui/vue";
import Link from "../global/Link.vue";
const { signIn, signOut, getRoles, getUser } = useAuth(); // use authenticateUser action from  auth store
const { user: userRef } = storeToRefs(useAuth());
const isLoading = ref(false);
const isLoginPopupOpen = ref(false);
const loading = ref({
  notifications: false,
});
const confirmModalOpen = ref(false);
const notifications = ref<any>([]);
const props = defineProps<{
  authenticated: boolean;
  userLoading?: boolean;
}>();
const roles: any = inject("roles");
const authenticated: any = inject("authenticated");

const schema = toTypedSchema(LoginSchema);
const { errors, handleSubmit, defineField, setErrors, resetForm } = useForm({
  validationSchema: schema,
});

const [emailOrUsername, emailOrUsernameAttrs] = defineField("emailOrUsername");
const [password, passwordAttrs] = defineField("password");
const router = useRouter();
const user = ref<any>();

const handleLogin = handleSubmit(async (values) => {
  try {
    const credentials: Credentials = {
      emailOrUsername: values.emailOrUsername,
      password: values.password,
    };

    isLoading.value = true;
    const response = await signIn(credentials);
    if (response.code === 200) {
      const roles = await getRoles();
      if (roles.find((role: any) => role.code.startsWith("Admin"))) {
        router.push("/admin");
      }

      isLoginPopupOpen.value = false;
      authenticated.value = true;
      roles.value = roles;
    
      refreshNavigation();
      resetForm();
    } else {
      setErrors({
        password: response.message,
      });
    }
  } catch (error) {
    console.error(error);
  } finally {
    isLoading.value = false;
  }
});

const handleLogout = async () => {
  try {
    await signOut();
    authenticated.value = false;
    roles.value = [];

    router.push("/");
  } catch (error) {
    console.error(error);
  }
};

const fetchNotifications = async () => {
  loading.value.notifications = true;
  await useCustomFetch("/profile/get-notifications")
    .then((response) => {
      notifications.value = response.data;
    })
    .catch((error) => {
      console.error(error);
    })
    .finally(() => {
      loading.value.notifications = false;
    });
};

const openNotifications = async () => {
  await fetchNotifications();

  // Mark as read
  setTimeout(async () => {
    await useCustomFetch("/profile/mark-notification-as-read", {
      method: "POST",
    })
  }, 1000);
};

const userNavigation = ref();
const refreshNavigation = () => {
  if (roles.value.find((role: any) => role.code.startsWith("Admin"))) {
    userNavigation.value = [
      { name: "Admin", href: "/admin" },
      { name: "Sign out", href: "#" },
    ];
  } else {
    userNavigation.value = [
      { name: "Logbook", href: "/logbook" },
      { name: "Profile", href: "/profile" },
      { name: "Sign out", href: "#" },
    ];
  }
};

const isNewNotification = computed(() => {
  return notifications.value.some((notification: any) => notification.read_at === null);
});

watch(() => authenticated.value,
  async (value) => {
    if (value) {
      authenticated.value = true;
      await fetchNotifications();
    }
  },
);

watch(() => roles.value,
  async (value) => {
    if (value) {
      refreshNavigation();
    }
  },
);

watch(() => userRef.value,
  async (value) => {
    if (value) {
      user.value = value;
    }
  },
);

onMounted(async () => {
  /* Right now roles is not loaded, we need to watch the role */
  await getUser().then((response) => {
    user.value = response;
  });

  if (authenticated.value) {
    refreshNavigation();
    await fetchNotifications();
  }
});
</script>

<template>
  <header class="sticky z-10 top-0 bg-background border-b border-border">
    <div class="flex h-16 max-w-screen-xl m-auto items-center px-4">
      <div class="mr-4 md:mr-1 md:flex">
        <!-- Logo -->
        <NuxtLink
          class="mr-4 md:mr-2 lg:mr-6 flex items-center lg:space-x1 xl:space-x-2"
          to="/"
        >
          <img
            src="~/assets/images/logo-ptp-navbar.png"
            alt="Logo"
            class="h-10 w-auto"
          />
        </NuxtLink>
      </div>
      <div
        class="flex flex-1 items-center justify-between space-x-2 md:justify-end"
      >
        <div class="w-full flex-1 md:w-auto md:flex-none">
          <div class="relative w-full max-w-sm items-center">
            <span
              class="absolute start-0 inset-y-0 flex items-center justify-center px-2"
            >
              <!-- <IconSearch class="size-6 text-muted-foreground" /> -->
            </span>
          </div>
        </div>
        <nav class="flex space-x-2 items-center" v-if="authenticated">
          <!-- User -->
          <div class="flex flex-col text-right">
            <span> {{ user?.name }} </span>
            <small> {{ user?.username }} </small>
          </div>

          <!-- Notification. -->
          <Menu as="div" class="relative">
            <MenuButton
              class="flex items-center gap-4"
              @click="openNotifications"
            >
              <IconBell class="w-6 h-6" />

              <div
                class="rounded-full bg-red-600 w-2 h-2 absolute top-0 right-0"
                v-show="isNewNotification"
              ></div>
            </MenuButton>
            <transition
              enter-active-class="transition ease-out duration-100"
              enter-from-class="transform opacity-0 scale-95"
              enter-to-class="transform opacity-100 scale-100"
              leave-active-class="transition ease-in duration-75"
              leave-from-class="transform opacity-100 scale-100"
              leave-to-class="transform opacity-0 scale-95"
            >
              <MenuItems
                class="absolute right-0 z-10 mt-2.5 w-80 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none"
              >
                <MenuItem v-if="loading.notifications" v-slot="{ active }">
                  <span class="block px-3 py-1 text-sm leading-6 text-gray-900">
                    Loading...
                  </span>
                </MenuItem>
                <MenuItem
                  v-else
                  v-for="item in notifications"
                  :key="item.id"
                  v-slot="{ active }"
                >
                  <a
                    :href="item?.data?.route"
                    :class="[
                      active ? 'bg-gray-50' : '',
                      'block px-3 py-1 text-sm leading-6 text-gray-900',
                      'cursor-pointer',
                    ]"
                  >
                    <h5 class="font-semibold flex gap-2 items-center">
                      {{ item?.data?.title }}
                      <div
                        class="rounded-full bg-red-600 w-2 h-2"
                        v-show="item.read_at === null"
                      ></div>
                    </h5>
                    <p class="text-sm">{{ item?.data?.message }}</p>

                    <small class="text-xs text-gray-500">
                      {{ item?.created_at }}
                    </small>
                  </a>
                </MenuItem>
                <MenuItem
                  v-show="notifications.length === 0"
                  v-slot="{ active }"
                >
                  <span class="block px-3 py-1 text-sm leading-6 text-gray-900">
                    No notifications
                  </span>
                </MenuItem>
              </MenuItems>
            </transition>
          </Menu>
        </nav>
        <nav class="flex gap-4 items-center v-else">
          <Button
            label="Login"
            v-show="!authenticated"
            @click="() => (isLoginPopupOpen = true)"
            :is-loading="userLoading"
          />

          <!-- Profile -->
          <Menu as="div" class="relative" v-show="authenticated">
            <MenuButton class="flex items-center gap-4">
              <img
                class="h-10 w-10 rounded-full bg-gray-50 border p-1 object-cover"
                :src="user?.photo || 'https://www.gravatar.com/avatar/3b3be63a4c2a439b013787725dfce802?d=identicon'"
                alt=""
              />
            </MenuButton>
            <transition
              enter-active-class="transition ease-out duration-100"
              enter-from-class="transform opacity-0 scale-95"
              enter-to-class="transform opacity-100 scale-100"
              leave-active-class="transition ease-in duration-75"
              leave-from-class="transform opacity-100 scale-100"
              leave-to-class="transform opacity-0 scale-95"
            >
              <MenuItems
                class="absolute right-0 z-10 mt-2.5 w-32 origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none"
              >
                <MenuItem
                  v-for="item in userNavigation"
                  :key="item.name"
                  v-slot="{ active }"
                >
                  <NuxtLink
                    v-if="item.name !== 'Sign out'"
                    :to="item.href"
                    :class="[
                      active ? 'bg-gray-50' : '',
                      'block px-3 py-1 text-sm leading-6 text-gray-900',
                    ]"
                    >{{ item.name }}</NuxtLink
                  >
                  <a
                    v-else
                    @click="() => (confirmModalOpen = true)"
                    :class="[
                      active ? 'bg-gray-50 cursor-pointer' : '',
                      'block px-3 py-1 text-sm leading-6 text-gray-900',
                    ]"
                    >{{ item.name }}</a
                  >
                </MenuItem>
              </MenuItems>
            </transition>
          </Menu>
        </nav>
      </div>
    </div>

    <PopupModal
      title="Login"
      size="sm"
      :isOpen="isLoginPopupOpen"
      :onModal-close="() => (isLoginPopupOpen = false)"
    >
      <div class="form-login flex flex-col gap-4">
        <Controller
          type="text"
          name="username"
          placeholder="Username"
          label="Username or Email"
          v-bind="emailOrUsernameAttrs"
          v-model="emailOrUsername"
          :error-message="errors.emailOrUsername"
        />
        <Controller
          type="password"
          name="password"
          placeholder="Password"
          label="Password"
          v-bind="passwordAttrs"
          v-model="password"
          :error-message="errors.password"
        />

        <Link to="/forgot-password" class="text-sm text-blue-500">
          Forgot password?
        </Link>

        <Button
          @click="handleLogin"
          :disabled="isLoading"
          :isLoading="isLoading"
        >
          Login
        </Button>
      </div>
    </PopupModal>

    <PopupModal
      title="Logout"
      size="sm"
      :isOpen="confirmModalOpen"
      :onModal-close="() => (confirmModalOpen = false)"
    >
      <div class="flex flex-col gap-4">
        <p>Are you sure you want to logout?</p>
        <div class="flex gap-4">
          <Button
            label="No"
            class="flex-1"
            @click="() => (confirmModalOpen = false)"
          />
          <Button
            label="Yes"
            class="flex-1"
            @click="
              () => {
                confirmModalOpen = false;
                handleLogout();
              }
            "
          />
        </div>
      </div>
    </PopupModal>
  </header>
</template>
