<script setup lang="ts">
import { ref } from "vue";
import { ArrowLeft } from "lucide-vue-next";
import type { Column } from "~/types";
import Input from "~/components/global/Input.vue";

const router = useRouter();

useHeadTitle("Create Payroll Submission");
definePageMeta({
  name: "Create Payroll Submission",
  layout: "admin",
  middleware: "auth",
});

const tableProps = useTable("/uang-saku/get-logbook-for-payroll", "created_at");
const tablePropsRef = toRefs(tableProps);
const {
  loading: isTableLoading,
  parent,
  data,
  reload,
  additionalParams,
} = tablePropsRef;

const months = [
  { name: "Januari", id: "1" },
  { name: "Februari", id: "2" },
  { name: "Maret", id: "3" },
  { name: "April", id: "4" },
  { name: "Mei", id: "5" },
  { name: "Juni", id: "6" },
  { name: "Juli", id: "7" },
  { name: "Agustus", id: "8" },
  { name: "September", id: "9" },
  { name: "Oktober", id: "10" },
  { name: "November", id: "11" },
  { name: "Desember", id: "12" },
];

const loading = ref(false);
const tableShow = ref(false);
const isSuccess = ref(false);
const generate = ref(false);
const confirmModalOpen = ref(false);
const statusModal = ref({
  show: false,
  message: "",
  variant: "",
});
const tablePayload = ref<{
  period: string;
}>({
  period: "",
});

const columns = ref<Column[]>([
  {
    accessor: "user.name",
    value: "Nama",
    customRender: (value, row) => {
      return h("a", {
        onClick: () => router.push(`/admin/payroll/submission/create/${row.internshipId}/${row.user.id}/${tablePayload.value.period}`),
        class: "text-blue-600 hover:underline cursor-pointer"
      }, row.user.name);
    },
    customRenderType: "component",
  },
  {
    accessor: "internshipId",
    value: "Periode",
    customRender: (value) => {
      // tablePayload.value.period to date name
      const date = new Date();
      const month = months.find(
        (item) => item.id === tablePayload.value.period,
      )?.name;

      const year = date.getFullYear();
      return h("span", `${month} ${year}`);
    },
    customRenderType: "component",
  },
  {
    accessor: "total_work_days",
    value: "Total Work Days",
  },
  {
    accessor: "amount_perday",
    value: "Uang Saku / Hari",
    customRender: (value) => {
      return h("span", formatMoney(value, "IDR"));
    },
    customRenderType: "component",
  },
  {
    accessor: "total_payment",
    value: "Total Pembayaran",
    customRender: (value, row) => {
      if (parent?.value.status !== "pending")
        return h("span", formatMoney(value, "IDR"));

      const totalAmount = row.total_work_days * row.amount_perday;
      return h("span", formatMoney(totalAmount, "IDR"));
    },
    customRenderType: "component",
  },
]);

const handleSubmit = async () => {
  isTableLoading.value = true;

  const map = data.value.map((item: any) => {
    return {
      uid: item.user.id,
      totalWorkdays: item.total_work_days,
      amount: item.total_work_days * item.amount_perday,
      reports: item.reports,
    };
  });

  // Start date is the 25th of the previous month from selected period
  // End date is the 25th of the current month from selected period
  const payload = {
    startDate: new Date(
      new Date().getFullYear(),
      parseInt(tablePayload.value.period) - 2,
      25,
    ).toISOString(),
    endDate: new Date(
      new Date().getFullYear(),
      parseInt(tablePayload.value.period) - 1,
      25,
    ).toISOString(),
    map,
  };

  await useCustomFetch("/uang-saku/submit-payroll", {
    method: "POST",
    body: JSON.stringify(payload),
  })
    .then(() => {
      statusModal.value.show = true;
      statusModal.value.message = "Pengajuan uang saku berhasil dikirim";
      statusModal.value.variant = "success";

      isSuccess.value = true;
    })
    .catch((error) => {
      statusModal.value.show = true;
      statusModal.value.message = error.message;
      statusModal.value.variant = "danger";
    })
    .finally(() => {
      isTableLoading.value = false;
    });
};

const handleSort = (column: any) => {
  tablePropsRef.sortColumn.value = column.accessor;
  tablePropsRef.sortDirection.value =
    tablePropsRef.sortDirection.value === "asc" ? "desc" : "asc";
};

const handleGenerateData = async () => {
  generate.value = true;
  additionalParams.value = {
    month: tablePayload.value.period,
  };

  await reload.value();

  tableShow.value = true;
  generate.value = false;
};

const onModalClose = () => {
  statusModal.value.show = false;

  if (isSuccess.value) {
    router.push("/admin/payroll/submission");
  }
};
</script>

<template>
  <div>
    <LoadingOverlay v-show="loading" />
    <NuxtLink to="/admin/payroll/submission" class="text-blue-500 flex gap-2">
      <ArrowLeft />
      Back
    </NuxtLink>

    <div class="page-content my-8">
      <div class="flex justify-between">
        <h2 class="text-2xl font-semibold">Buat Pengajuan Uang Saku</h2>

        <div class="flex gap-2" v-show="tableShow">
          <Button
            @click="
              () => {
                tableShow = false;
              }
            "
            variant="primary"
          >
            Batal
          </Button>
          <Button
            @click="
              () => {
                confirmModalOpen = true;
              }
            "
            variant="primary"
          >
            Kirim Pengajuan
          </Button>
        </div>
      </div>

      <div class="space-y-4 gap-2 my-4" v-show="!tableShow">
        <h5 class="text-md font-semibold">Pilih Periode</h5>

        <div class="flex flex-row gap-4">
          <FormController name="period" label="Periode">
            <template #render>
              <Select
                name="period"
                class="w-40 h-[42px]"
                :options="months"
                :placeholder="'Bulan'"
                :render-options="true"
                v-model="tablePayload.period"
              />
            </template>
          </FormController>

          <FormController name="button">
            <template #render>
              <Button
                @click="handleGenerateData"
                class="mt-9"
                :is-loading="generate"
              >
                Generate
              </Button>
            </template>
          </FormController>
        </div>
      </div>

      <h5 class="my-2 font-bold" v-show="tableShow"> Total Data: {{ data.length }} </h5>

      <Table
        :columns="columns"
        :table-props="tablePropsRef"
        :is-loading="isTableLoading"
        :handle-sort="handleSort"
        :hide-search-box="true"
        class="my-4"
        v-show="tableShow"
        :hide-footer="true"
      />
    </div>

    <ConfirmModal
      :isOpen="confirmModalOpen"
      title="Kirim"
      message="Apakah Anda yakin ingin mengirim pengajuan uang saku ini?"
      @confirm="handleSubmit"
      @cancel="
        () => {
          confirmModalOpen = false;
        }
      "
      variant="danger"
      :is-loading="isTableLoading"
    />

    <StatusModal
      :isOpen="statusModal.show"
      :message="statusModal.message"
      :variant="statusModal.variant"
      @modal-close="onModalClose"
      :description="statusModal.message"
    />
  </div>
</template>
