<script setup lang="ts">
import { useAuth } from "@/stores/useAuth";
import { Check, X, XCircle, Pencil } from "lucide-vue-next";

// @ts-ignore
import Button from "~/components/global/Button.vue";
import type { Column } from "~/types";

definePageMeta({
  middleware: 'auth',
  layout: 'admin',
})

useHeadTitle("Manage Offers");

const { getPermissions } = useAuth();
const router = useRouter();
const tableSortRef = toRefs(useTable("/register/get-list-offers", "created_at"));
const { loading, sortColumn, sortDirection } = tableSortRef;
const confirmModal = ref({
  show: false,
  onConfirm: () => {},
  onCancel: () => {},
  row: {},
  title: "Confirmation",
  message: "",
});
const columns = ref<Column[]>([
  {
    accessor: 'id',
    value: 'Offer ID',
    sortable: true,
  },
  {
    accessor: 'availableSlot',
    value: 'Available Slot',
    sortable: true,
  },
  {
    accessor: 'startDate',
    value: 'Start Date',
    sortable: true,
  },
  {
    accessor: 'endDate',
    value: 'End Date',
    sortable: true,
  },
  {
    accessor: 'closingDate',
    value: 'Closing Date',
    sortable: true,
  },
  {
    accessor: 'announcementDate',
    value: 'Announcement Date',
    sortable: true,
  },
  {
    accessor: 'isCertified',
    value: 'Is Certified',
    customRender: (value: any) => {
      if (value) {
        return h(Check, { color: 'green' });
      } else {
        return h(X, { color: 'red' });
      }
    },
    customRenderType: 'component',
  },
  {
    accessor: 'workingLocation',
    value: 'Working Location',
  },
  {
    accessor: 'minimumEducation',
    value: 'Minimum Education',
  },
  {
    accessor: 'minimumEducationDescription',
    value: 'Minimum Education Description',
  },
  {
    accessor: 'division',
    value: 'Division',
    customRender: (v: any, r: any) => {
      return h('div', {}, r.division.name);
    },
    customRenderType: 'component',  
  },
  {
    accessor: 'action',
    value: 'Action',
    customRender: (value: any, row: any) => {
      return h('div', { class: "space-x-2" }, [
        h(Button, {
          variant: row.isActive ? 'danger' : 'primary',
          icon: h(XCircle),
          size: 'sm',
          onClick: () => actionActive(row),
        }, row.isActive ? 'Deactivate' : 'Activate'),
        h(Button, {
          variant: 'primary',
          icon: h(Pencil),
          size: 'sm',
          onClick: () => router.push({ path: `/admin/manage-offers/edit/${row.id}` }),
        }, 'Edit'),
      ]);
    },
    customRenderType: 'component',
  }
]);

const actionActive = (row: any) => {
  confirmModal.value.show = true;
  confirmModal.value.row = row;
  confirmModal.value.onConfirm = () => onConfirm(row);
  confirmModal.value.onCancel = () => confirmModal.value.show = false;

  if (row.isActive) {
    confirmModal.value.message = "Are you sure you want to deactivate this offer? This will make the offer unavailable for registration.";
  } else {
    confirmModal.value.message = "Are you sure you want to activate this offer?";
  }
}

const onConfirm = async (row: any) => {
  loading.value = true;
  await useCustomFetch("/register/set-offer-status", {
    method: "POST",
    body: JSON.stringify({
      id: row.id,
      action: row.isActive ? "deactivate" : "activate",
    }),
  }).then(() => {
    loading.value = false;
    tableSortRef.reload.value();
    confirmModal.value.show = false;
  }).catch(() => {
    loading.value = false;
  }).finally(() => {
    loading.value = false;
  });
} 

const handleSort = (column: any) => {
  if (column.sortable) {
    sortColumn.value = column.accessor;
    sortDirection.value = tableSortRef.sortDirection.value === "asc" ? "desc" : "asc";
  }
}

onMounted(async () => {
  const permissions: any = await getPermissions();
  const hasPermission = permissions.data.includes("manage-offers");

  if (!hasPermission) {
    router.push("/admin");
  }
});

</script>

<template>
  <div>
    <h2 class="text-2xl font-semibold"> Manage Offers </h2>
    <p class="text-sm my-2">
      You can add, edit, or delete offers data here.
    </p>

    <Button 
      class="my-4"
      @click="router.push('/admin/manage-offers/create')"
      variant="primary"
    >
      Add Offer
    </Button>
    <Table 
      :columns="columns" 
      :table-props="tableSortRef"
      :handle-sort="handleSort"
      :is-loading="loading"
      :hide-search-box="true"
    />

    <ConfirmModal
      :isOpen="confirmModal.show"
      :message="confirmModal.message"
      @confirm="confirmModal.onConfirm"
      @cancel="confirmModal.onCancel"
      variant="danger"
      :is-loading="loading"
    />
  </div>
</template>