<script setup lang="ts">
import { useAuth } from "@/stores/useAuth";

definePageMeta({
  middleware: 'auth',
  layout: 'admin',
})

useHeadTitle("Manage Role-Based Access Control");

const { getPermissions } = useAuth();
const router = useRouter();

const toRoute = (path: string) => {
  router.push(path);
}

onMounted(async () => {
  const permissions: any = await getPermissions();
  const hasPermission = permissions.includes("manage-rbac");

  if (!hasPermission) {
    router.push("/admin");
  }
});

</script>

<template>
  <div>
    <h2 class="text-2xl font-semibold text-center mb-8"> Manage Role-Based Access Control </h2>  

    <div class="grid grid-cols-1 md:grid-cols-4 gap-2">
      <Card class="hover:bg-gray-50 transition-all delay-150 ease-in-out cursor-pointer" @click="toRoute('/admin/manage-rbac/role')"> 
        <div class="flex justify-center">
          <div class="text-center">
            <h2 class="text-xl font-semibold">Manage Role</h2>
            <p class="my-2 text-md">
              This page is used to manage role data. You can add, edit, or delete role data here.
            </p>
          </div>
        </div>
      </Card>

      <Card class="hover:bg-gray-50 transition-all delay-150 ease-in-out cursor-pointer" @click="toRoute('/admin/manage-rbac/permission')"> 
        <div class="flex justify-center">
          <div class="text-center">
            <h2 class="text-xl font-semibold">List Permission</h2>
            <p class="my-2 text-md">
              This page is used to manage permission data. You can add, edit, or delete permission data here.
            </p>
          </div>
        </div>
      </Card>

      <!-- Role Permission -->
      <Card class="hover:bg-gray-50 transition-all delay-150 ease-in-out cursor-pointer" @click="toRoute('/admin/manage-rbac/role-permission')"> 
        <div class="flex justify-center">
          <div class="text-center">
            <h2 class="text-xl font-semibold">Role Permission</h2>
            <p class="my-2 text-md">
              This page is used to manage role permission. You can add, edit, or delete role permission here.
            </p>
          </div>
        </div>
      </Card>

      <!-- Assign Permission to Menu -->
      <Card class="hover:bg-gray-50 transition-all delay-150 ease-in-out cursor-pointer" @click="toRoute('/admin/manage-rbac/permission-menu')">  
        <div class="flex justify-center">
          <div class="text-center">
            <h2 class="text-xl font-semibold">Assign Permission to Menu</h2>
            <p class="my-2 text-md">
              This page is used to assign permission to menu. You can add, edit, or delete permission to menu here.
            </p>
          </div>
        </div>
      </Card>
    </div>
  </div>
</template>