<script setup lang="ts">
import { ArrowLeft } from "lucide-vue-next";
import Button from "~/components/global/Button.vue";
import Div from "~/components/global/Div.vue";
import { RoleAndPermssion } from "~/schema";

definePageMeta({
  layout: "admin",
  middleware: "auth"
});

useHeadTitle("Permission");

const loading = ref({
  page: true,
  table: false,
  update: false
});

const updateModal = ref<{open: boolean, body: any}>({
  open: false,
  body: {
    title: "Edit Permission",
  },
});

const statusModal = ref({
  show: false,
  message: "",
  type: ""
});

const schema = toTypedSchema(RoleAndPermssion);
const { errors, handleSubmit, defineField, setErrors, resetForm } = useForm({
  validationSchema: schema
});

const [code, codeAttrs] = defineField("code");
const [name, nameAttrs] = defineField("name");


const handleEditClicked = (value: any, row: any) => {
  updateModal.value.open = true;
  updateModal.value.body = {
    title: "Edit Permission",
    code: row.code,
    name: row.name,
    type: "edit"
  }

  code.value = row.code;
  name.value = row.name;
}

const columns = ref([
  { accessor: "code", value: "Permission Code" },
  { accessor: "name", value: "Permission Name" },
  { 
    accessor: "action",
    value: "Action",
    customRender: (value: any, row: any) => {
      const editButton = h(Button, { variant: "primary", size: "sm", onClick: () => handleEditClicked(value, row) }, { default: () => 'Edit' });
      return editButton;
    },
    customRenderType: 'component', 
  }
])

const data = ref([]);

const getPermissions = async () => {
  loading.value.table = true;

  await useCustomFetch("/admin/get-permissions")
    .then((response: any) => {
      data.value = response?.data?.data;
    })
    .catch((error: any) => {
      console.error(error);
    })
    .finally(() => {
      loading.value.table = false;
    });
}

const handleSubmitForm = handleSubmit(async (values) => {
  loading.value.update = true;
  await useCustomFetch("/admin/update-permission", {
    method: "POST",
    body: values
  }).then(() => {
    statusModal.value = {
      show: true,
      message: "Permission has been saved successfully",
      type: "success"
    }
  }).catch((error: any) => {
    statusModal.value = {
      show: true,
      message: error?.data?.message || "Internal Server Error",
      type: "danger"
    }
  }).finally(() => {
    loading.value.update = false;
    updateModal.value.open = false;
    getPermissions();
  });
});

onMounted(() => {
  getPermissions();
})

</script>

<template>
  <div>
    <NuxtLink to="/admin/manage-rbac" class="text-blue-500 flex gap-2"> 
      <ArrowLeft /> 
      Back 
    </NuxtLink>

    <div class="my-4">
      <h2 class="text-2xl font-semibold"> List Permissions </h2>
      <p class="my-2 text-md">
        This page is used to manage Permission data. You can only see the list of Permission data here.
      </p>

      <Table
        :columns="columns"
        :data="data"
        :is-loading="loading.table"
      />
    </div>

    <StatusModal 
      :is-open="statusModal.show"
      :description="statusModal.message"
      :variant="statusModal.type"
      @modal-close="statusModal.show = false"
    />

    <PopupModal
      :is-open="updateModal.open"
      :title="updateModal.body?.title"
      @modal-close="updateModal.open = false"
      size="sm"
    >
      <div class="space-y-4">
        <FormController
          name="code"
          control="code"
          label="Permission Code"
          :error-message="errors.code"
        >
          <template #render>
            <Input 
              v-model="code"
              v-bind="codeAttrs"
              placeholder="Permission Code"
              :disabled="updateModal.body?.type === 'edit'"
            />
          </template>
        </FormController>

        <FormController
          name="name"
          control="name"
          label="Permission Name"
          :error-message="errors.name"
        >
          <template #render>
            <Input 
              v-model="name"
              v-bind="nameAttrs"
              placeholder="Permission Name"
            />
          </template>
        </FormController>

        <Button 
          variant="primary"
          @click="handleSubmitForm"
          :is-loading="loading.update"
        >
          Submit
        </Button>
      </div>
    </PopupModal>
    
  </div>
</template>