<script setup lang="ts">
import { ArrowLeft } from "lucide-vue-next";
// @ts-ignore
import Button from "~/components/global/Button.vue";
import Div from "~/components/global/Div.vue";
import { RoleAndPermssion } from "~/schema";

definePageMeta({
  layout: "admin",
  middleware: "auth"
});

useHeadTitle("Role");

const loading = ref({
  page: true,
  table: false,
  update: false
});

const updateModal = ref<{open: boolean, body: any}>({
  open: false,
  body: {
    title: "Edit Role",
  },
});

const statusModal = ref({
  show: false,
  message: "",
  type: ""
});

const confirmModal = ref<{open: boolean, body: any}>({
  open: false,
  body: null,
});

const schema = toTypedSchema(RoleAndPermssion);
const { errors, handleSubmit, defineField, setErrors, resetForm } = useForm({
  validationSchema: schema
});

const [code, codeAttrs] = defineField("code");
const [name, nameAttrs] = defineField("name");

const handleDeleteClicked = (value: any, row: any) => {
  confirmModal.value.open = true;
  confirmModal.value.body = {
    title: "Delete Role",
    message: `Are you sure you want to delete role with code ${row.code}?`,
    code: row.code
  };
}

const handleEditClicked = (value: any, row: any) => {
  updateModal.value.open = true;
  updateModal.value.body = {
    title: "Edit Role",
    code: row.code,
    name: row.name,
    type: "edit"
  }

  code.value = row.code;
  name.value = row.name;
}

const columns = ref([
  { accessor: "code", value: "Role Code" },
  { accessor: "name", value: "Role Name" },
  { 
    accessor: "action",
    value: "Action",
    customRender: (value: any, row: any) => {
      const editButton = h(Button, { variant: "primary", size: "sm", onClick: () => handleEditClicked(value, row) }, { default: () => 'Edit' });
      const deleteButton = h(Button, { variant: "danger", size: "sm", onClick: () => handleDeleteClicked(value, row) }, { default: () => 'Delete' });
      const div = h(Div, { class: "flex space-x-2" }, { default: () => [editButton, deleteButton] });
      return div;
    },
    customRenderType: 'component', 
  }
])

const data = ref([]);

const getRoles = async () => {
  loading.value.table = true;

  await useCustomFetch("/admin/get-roles")
    .then((response: any) => {
      data.value = response?.data?.data;
    })
    .catch((error: any) => {
      console.error(error);
    })
    .finally(() => {
      loading.value.table = false;
    });
}

const showAddModal = () => {
  updateModal.value.open = true;
  updateModal.value.body = {
    title: "Add Role",
    type: "add"
  }

  resetForm();
}

const handleSubmitForm = handleSubmit(async (values) => {
  let url = "";

  if (updateModal.value.body?.type === "add") {
    url = "/admin/create-role";
  } else {
    url = "/admin/update-role";
  }

  loading.value.update = true;
  await useCustomFetch(url, {
    method: "POST",
    body: values
  }).then(() => {
    statusModal.value = {
      show: true,
      message: "Role has been saved successfully",
      type: "success"
    }
  }).catch((error: any) => {
    statusModal.value = {
      show: true,
      message: error?.data?.message || "Internal Server Error",
      type: "danger"
    }
  }).finally(() => {
    loading.value.update = false;
    updateModal.value.open = false;
    getRoles();
  });
});

const deleteRole = (code: string) => {
  loading.value.update = true;

  useCustomFetch("/admin/delete-role", {
    method: "POST",
    body: { code }
  }).then(() => {
    statusModal.value = {
      show: true,
      message: "Role has been deleted successfully",
      type: "success"
    }
  }).catch((error: any) => {
    statusModal.value = {
      show: true,
      message: error?.data?.message || "Internal Server Error",
      type: "danger"
    }
  }).finally(() => {
    loading.value.update = false;
    confirmModal.value.open = false;
    getRoles();
  });

}

onMounted(() => {
  getRoles();
})

</script>

<template>
  <div>
    <NuxtLink to="/admin/manage-rbac" class="text-blue-500 flex gap-2"> 
      <ArrowLeft /> 
      Back 
    </NuxtLink>

    <div class="my-4">
      <h2 class="text-2xl font-semibold"> Manage Roles </h2>
      <p class="my-2 text-md">
        This page is used to manage role data. You can add, edit, or delete role data here.
      </p>

      <Button 
        class="mt-4"
        variant="primary"
        @click="showAddModal"
      >
        Add Role
      </Button>

      <Table
        :columns="columns"
        :data="data"
        :is-loading="loading.table"
      />
    </div>

    <ConfirmModal
      :is-open="confirmModal.open"
      :title="confirmModal.body?.title"
      :message="confirmModal.body?.message"
      :is-loading="loading.update"
      variant="question"
      @confirm="deleteRole(confirmModal.body?.code)"
      @cancel="confirmModal.open = false"
      @close="confirmModal.open = false"
    />

    <StatusModal 
      :is-open="statusModal.show"
      :description="statusModal.message"
      :variant="statusModal.type"
      @modal-close="statusModal.show = false"
    />

    <PopupModal
      :is-open="updateModal.open"
      :title="updateModal.body?.title"
      @modal-close="updateModal.open = false"
      size="sm"
    >
      <div class="space-y-4">
        <FormController
          name="code"
          control="code"
          label="Role Code"
          :error-message="errors.code"
        >
          <template #render>
            <Input 
              v-model="code"
              v-bind="codeAttrs"
              placeholder="Role Code"
              :disabled="updateModal.body?.type === 'edit'"
            />
          </template>
        </FormController>

        <FormController
          name="name"
          control="name"
          label="Role Name"
          :error-message="errors.name"
        >
          <template #render>
            <Input 
              v-model="name"
              v-bind="nameAttrs"
              placeholder="Role Name"
            />
          </template>
        </FormController>

        <Button 
          variant="primary"
          @click="handleSubmitForm"
          :is-loading="loading.update"
        >
          Submit
        </Button>
      </div>
    </PopupModal>
    
  </div>
</template>