<script setup lang="ts">
import { XCircle, CheckCircle } from 'lucide-vue-next';

const props = defineProps({
  title: {
    type: String,
    default: '',
  },
  message: {
    type: String,
    default: '',
  },
  variant: {
    type: String,
    default: 'info',
  },
  close: {
    type: Object,
    default: {
      label: 'Close',
      action: () => {},
    },
  },
});

const {
  variant,
  title,
  message
} = toRefs(props);

const variantClasses: { [key: string]: string } = {
  info: 'bg-blue-50 text-blue-800',
  success: 'bg-green-50 text-green-800',
  warning: 'bg-yellow-50 text-yellow-800',
  danger: 'bg-red-50 text-red-800',
};

const textVariantClasses: { [key: string]: string } = {
  info: 'text-blue-800',
  success: 'text-green-800',
  warning: 'text-yellow-800',
  danger: 'text-red-800',
};

const innerTextVariantClasses: { [key: string]: string } = {
  info: 'text-blue-700',
  success: 'text-green-700',
  warning: 'text-yellow-700',
  danger: 'text-red-700',
};

watch(() => props.variant, (value) => {
  variant.value = value || 'success';
});

watch(() => props.title, (value) => {
  title.value = value;
});

watch(() => props.message, (value) => {
  message.value = value;
});

</script>

<template>
  <div :class="`rounded-md ${variantClasses[variant]} p-4`">
    <div class="flex">
      <div class="flex-shrink-0">
        <template v-if="variant === 'info'">
          <IconInfoCircle class="w-6 h-6" />
        </template>
        <template v-else-if="variant === 'success'">
          <IconCheckCircle class="w-6 h-6" />
        </template>
        <template v-else-if="variant === 'warning'">
          <IconAlertCircle class="w-6 h-6" />
        </template>
        <template v-else-if="variant === 'danger'">
          <IconXCircle class="w-6 h-6" />
        </template>
      </div>
      <div class="ml-3 flex-1">
        <h3 :class="`text-sm font-medium ${textVariantClasses[variant]}`"> {{ title }} </h3>
        <div :class="`mt-2 text-sm ${innerTextVariantClasses[variant]}`">
          <p> {{ message }} </p>
        </div>

        <div class="text-end">
          <Button v-show="close" @click="() => close.action()" class="mt-2 " variant="outlinePrimary" size="sm">  
            {{ close.label || 'Close' }}
          </Button>
        </div>
      </div>
    </div>
  </div>
</template>