<script setup lang="ts">
import { defineProps } from 'vue';

const props = defineProps<{
  variant?: 'primary' | 'secondary' | 'danger' | 'success' | 'warning' | 'darkerWarning';
}>();

const variant = ref(props.variant || 'primary');

const variantClasses = {
  primary: "bg-blue-400/10 px-2 py-1 text-xs font-medium text-blue-400 ring-1 ring-inset ring-blue-400/30",
  secondary: "bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-gray-400/30",
  danger: " bg-red-400/10 px-2 py-1 text-xs font-medium text-red-400 ring-1 ring-inset ring-red-400/30",
  success: "bg-green-400/10 px-2 py-1 text-xs font-medium text-green-400 ring-1 ring-inset ring-green-400/30",
  warning: "bg-yellow-500/10 px-2 py-1 text-xs font-medium text-yellow-500 ring-1 ring-inset ring-yellow-500/30",
  darkerWarning: "bg-yellow-500 px-2 py-1 text-xs font-medium text-white ring-1 ring-inset ring-yellow-500",
};

watch(() => props.variant, (newVal) => {
  variant.value = newVal || 'primary';
});

</script>

<template>
  <span :class="`rounded-md ${variantClasses[variant]}`">
    <slot />
  </span>
</template>