<script setup lang="ts">
import {
  Menu,
  MenuButton,
  MenuItem,
  MenuItems,
} from '@headlessui/vue'

const props = defineProps<{
  disabled?: boolean;
  variant?: 'primary' | 'secondary' | 'danger' | 'warning' | 'success' | 'white' | 'outlinePrimary';
  size?: 'sm' | 'md' | 'lg';
  type?: 'button' | 'nuxt-link' | 'a';
  isLoading?: boolean;
  options: Array<{ label: string; value: string | number, icon?: any }>;
  modelValue: string | number;
}>();

const variantClasses = {
  primary: 'text-white bg-blue-600 hover:bg-blue-500 focus-visible:outline-blue-600 disabled:bg-gray-300 disabled:text-gray-500',
  secondary: 'text-white bg-gray-600 hover:bg-gray-500 focus-visible:outline-gray-600 disabled:bg-gray-300 disabled:text-gray-500',
  danger: 'text-white bg-red-600 hover:bg-red-500 focus-visible:outline-red-600 disabled:bg-gray-300 disabled:text-gray-500',
  warning: 'text-white bg-amber-600 hover:bg-amber-500 focus-visible:outline-amber-600 disabled:bg-gray-300 disabled:text-gray-500',
  success: 'text-white bg-green-600 hover:bg-green-500 focus-visible:outline-green-600 disabled:bg-gray-300 disabled:text-gray-500',
  white: 'text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 disabled:bg-gray-300 disabled:text-gray-500',
  outlinePrimary: 'text-blue-600 border border-blue-600 hover:bg-blue-600 hover:text-white focus-visible:outline-blue-600 disabled:bg-gray-300 disabled:text-gray-500',
};

const sizeClasses = {
  sm: 'text-sm px-2 py-1',
  md: 'text-base px-4 py-2',
  lg: 'text-lg px-6 py-3',
};

let variant = props.variant || 'primary';

watch(() => props.variant, (value) => {
  variant = value || 'primary';
})

</script>

<template>
  <div>
    <Menu as="div" class="relative">
      <MenuButton
        as="button"
        :class="`rounded-md transition ease-in-out font-bold ${variantClasses[variant]} ${sizeClasses[size || 'md']}`"
        :disabled="props.disabled"
      >
        <!-- Icon -->
        <span v-if="options.find(option => option.value === modelValue)?.icon" class="mr-1 inline-block align-middle ">
          <component :is="options.find(option => option.value === modelValue)?.icon" />
        </span>
        {{ options.find(option => option.value === modelValue)?.label }}
      </MenuButton>
      <transition enter-active-class="transition ease-out duration-100" enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100" leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100" leave-to-class="transform opacity-0 scale-95">
        <MenuItems class="absolute z-10 w-auto origin-top-right rounded-md bg-white py-2 shadow-lg ring-1 ring-gray-900/5 focus:outline-none">
          <MenuItem
            v-for="option in options"
            :key="option.value"
            v-slot="{ active }"
            as="template"
          >
            <button
              :class="[active ? 'bg-gray-50' : '', 'block px-3 py-1 text-sm leading-6 text-gray-900 ']"
              @click="() => $emit('update:modelValue', option.value)"
            >
              {{ option.label }}
            </button>
          </MenuItem>
        </MenuItems>
      </transition>
    </Menu>
  </div>
</template>