<script setup lang="ts">
import { defineProps } from 'vue';
import { LoaderCircle } from "lucide-vue-next";

const props = defineProps<{
  label?: string;
  disabled?: boolean;
  onClick?: (data?: any) => void;
  variant?: 'primary' | 'secondary' | 'danger' | 'warning' | 'success' | 'white' | 'outlinePrimary';
  size?: 'sm' | 'md' | 'lg';
  type?: 'button' | 'nuxt-link' | 'a';
  to?: string;
  isLoading?: boolean;
  submit?: boolean;
  icon?: object;
}>();

let variant = props.variant || 'primary';
let disabled = props.disabled || false;
const type = props.type || 'button';

const variantClasses = {
  primary: 'text-white bg-blue-600 hover:bg-blue-500 focus-visible:outline-blue-600 disabled:bg-gray-300 disabled:text-gray-500',
  secondary: 'text-white bg-gray-600 hover:bg-gray-500 focus-visible:outline-gray-600 disabled:bg-gray-300 disabled:text-gray-500',
  danger: 'text-white bg-red-600 hover:bg-red-500 focus-visible:outline-red-600 disabled:bg-gray-300 disabled:text-gray-500',
  warning: 'text-white bg-amber-600 hover:bg-amber-500 focus-visible:outline-amber-600 disabled:bg-gray-300 disabled:text-gray-500',
  success: 'text-white bg-green-600 hover:bg-green-500 focus-visible:outline-green-600 disabled:bg-gray-300 disabled:text-gray-500',
  white: 'text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 disabled:bg-gray-300 disabled:text-gray-500',
  outlinePrimary: 'text-blue-600 border border-blue-600 hover:bg-blue-600 hover:text-white focus-visible:outline-blue-600 disabled:bg-gray-300 disabled:text-gray-500',
};

const sizeClasses = {
  sm: 'text-sm px-2 py-1',
  md: 'text-base px-4 py-2',
  lg: 'text-lg px-6 py-3',
};

watch(() => props.variant, (value) => {
  variant = value || 'primary';
})

watch(() => props.disabled, (value) => {
  disabled = value || false;
})
</script>

<template>
  <button
    :type="submit ? 'submit' : 'button'"
    :disabled="disabled"
    @click="onClick"
    :class="`rounded-md transition ease-in-out font-bold ${variantClasses[variant]} ${sizeClasses[size || 'md']}`"
    v-if="type === 'button'"
  >
    <span v-if="isLoading">
      <LoaderCircle class="animate-spin mx-auto" />
    </span>
    <span v-else>
      <div :class="`flex items-center ${size === 'sm' ? 'gap-1' : 'gap-2'}`" v-if="icon">
        <component :is="icon" class="icon" :size="size === 'sm' ? 16 : 18" />
        {{ label }}
        <slot> </slot>
      </div>
      <span v-else>
        {{ label }}
        <slot> </slot>
      </span>
    </span>
  </button>
  <a
    :href="props.to"
    :class="`rounded-md transition ease-in-out font-bold align-middle pb-2 ${variantClasses[variant]} ${sizeClasses[size || 'md']}`"
    v-else-if="type === 'a'"
  >
    <span v-if="isLoading">
      <LoaderCircle class="animate-spin mx-auto" />
    </span>
    <span v-else>
      {{ label }}
      <slot> </slot>
    </span>
  </a>
  <NuxtLink
    :to="props.to"
    :class="`rounded-md transition ease-in-out font-bold ${variantClasses[variant]} ${sizeClasses[size || 'md']}`"
    :disabled="disabled"
    v-else
  >
    <span v-if="isLoading">
      <LoaderCircle class="animate-spin mx-auto" />
    </span>
    <span v-else>
      {{ label }}
      <slot> </slot>
    </span>
  </NuxtLink>
</template>
