<script setup lang="ts">
import { defineProps, defineEmits } from "vue";

const props = defineProps<{
  id: string;
  description?: string;
  disabled?: boolean;
  isChecked?: boolean; // Initial value
  onCheck?: (state: boolean, value?: any) => void;
  value?: any;
}>();

const emit = defineEmits(['check']);

const onChange = (e: Event) => {
  emit('check', (e.target as HTMLInputElement).checked, props.value);
};

const isChecked = ref(props.isChecked);

watch(() => props.isChecked, (newValue) => {
  isChecked.value = newValue;
});

</script>

<template>
  <div class="relative flex items-start">
    <div class="flex h-6 items-center">
      <input 
        :id="id" 
        :aria-describedby="id + '-description'"
        :name="id" 
        type="checkbox" 
        class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600 disabled:bg-gray-200 disabled:cursor-not-allowed" 
        :disabled="disabled"
        :checked="isChecked"
        @change="onChange"
      />
    </div>
    <div class="ml-3 text-sm leading-6">
      <Label :for="id" id="comments-description" class="font-medium text-gray-500 cursor-pointer">
        <slot />
      </Label>
    </div>
  </div>
</template>