<script setup lang="ts">
import { computed, defineProps, ref } from 'vue';
import {
  Combobox,
  ComboboxButton,
  ComboboxInput,
  ComboboxLabel,
  ComboboxOption,
  ComboboxOptions,
} from '@headlessui/vue'

import { ChevronUpDownIcon } from '@heroicons/vue/20/solid'

interface ComboBoxItem {
  key: string;
  value: string;
};

const props = defineProps<{
  items: Array<ComboBoxItem>;
  placeholder?: string;
}>();

const selectedItem: any = defineModel();

const query = ref('');
const filteredItems = computed(() =>
  query.value === ''
    ? props.items
    : props.items.filter((item) => {
        return item.value.toLowerCase().includes(query.value.toLowerCase())
      })
)

const handleOnChange = (item: ComboBoxItem) => {
  selectedItem.value = item;
}
</script>

<template>
  <Combobox as="div" v-model="selectedItem" @change="handleOnChange">
    <div class="relative mt-2">
      <ComboboxInput 
        class="w-full rounded-md border-0 bg-white py-1.5 pl-3 pr-10 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" 
        @change="query = $event.target.value" 
        :display-value="(item: any) => item?.value"
        :placeholder="props.placeholder"
      />
      <ComboboxButton class="absolute inset-y-0 right-0 flex items-center rounded-r-md px-2 focus:outline-none">
        <ChevronUpDownIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
      </ComboboxButton>

      <ComboboxOptions v-if="filteredItems.length > 0" class="absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm">
        <ComboboxOption v-for="item in filteredItems" :key="item.key" :value="item" as="template" v-slot="{ active, selected }">
          <li :class="['relative cursor-default select-none py-2 pl-3 pr-9', active ? 'bg-blue-600 text-white' : 'text-gray-900']">
            <span :class="['block truncate', selected && 'font-semibold']">
              {{ item.value }}
            </span>
          </li>
        </ComboboxOption>
      </ComboboxOptions>
    </div>
  </Combobox>
</template>
