<script setup lang="ts">
import { defineProps, toRefs } from "vue";
import {
  CircleAlert,
  CheckCircle,
  XCircle,
  CircleHelp
} from "lucide-vue-next";

const props = defineProps<{
  isOpen: boolean;
  variant: "danger" | "success" | "warning" | "question";
  onConfirm: any;
  onCancel: () => void;
  title?: string;
  message?: string;
  confirmText?: string;
  cancelText?: string;
  size?: "sm" | "md" | "lg" | "xl" | "full";
  isLoading?: boolean;
}>();

const { size = "md", confirmText = "Yes", cancelText = "No" } = props;
</script>

<template>
  <Modal
    :title="title"
    :variant="variant"
    :onClose="onCancel"
    :isOpen="isOpen"
    :size="size"
    class="inset-0 w-full z-[9999]"
  >
    <div class="flex justify-center">
      <component
        :is="variant === 'danger' ? XCircle : variant === 'success' ? CheckCircle : variant === 'warning' ? CircleAlert : CircleHelp"
        class="h-12 w-12 text-center text-3xl"
      />
    </div>

    <p class="text-md leading-4 my-4 text-center leading-6">
      {{ props.message }}
    </p>

    <div class="flex gap-2">
      <Button
        @click="onCancel"
        class="flex-1"
        variant="secondary"
        size="sm"
        :disabled="isLoading"
      >
        {{ cancelText }}
      </Button>
      <Button
        @click="onConfirm"
        class="flex-1"
        variant="primary"
        size="sm"
        :disabled="isLoading"
        :isLoading="isLoading"
      >
        {{ confirmText }}
      </Button>
    </div>
  </Modal>
</template>