<script setup lang="ts">
import { defineProps } from 'vue';

const props = defineProps({
  useBackground: {
    type: Boolean,
    default: true,
  },
  useBorder: {
    type: Boolean,
    default: false,
  },
  useCustomWidth: {
    type: String,
    default: "",
  },
  variant: {
    type: String as () => keyof typeof variantClasses,
    default: 'default',
  },
});
const variant = props.variant || 'primary';
const variantClasses = {
  default: "sm:w-full max-w-screen-xl mx-auto",
  fluid: "sm:w-full max-w-full",
};
</script>

<template>
  <div :class="(useCustomWidth || variantClasses[variant]) + (useBackground ? ' bg-white p-4 rounded-md' : '') + (useBorder ? ' border ' : '')">
    <slot></slot>
  </div>
</template>