<script setup lang="ts">
import { defineProps, defineEmits } from 'vue';

interface Option {
  id: string;
  name: string;
}

const props = defineProps<{
  type?: string;
  name?: string;
  placeholder?: string;
  label?: string;
  modelValue?: any;
  errorMessage?: string;
  options?: Option[];
  disabled?: boolean;
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', value: any): void
}>()
</script>

<template>
  <div>
    <Label v-show="label && type !== 'check'" :for="name" class="mb-4">
      {{ label }}
    </Label>
    <template v-if="type === 'text' || type === 'email' || type === 'password' || type === 'number'">
      <Input
        :type="type"
        :name="name"
        :placeholder="placeholder"
        :modelValue="modelValue"
        @update:modelValue="($event) => emit('update:modelValue', $event)"
        class="w-full"
        :disabled="disabled"
        :inputmode="type === 'number' ? 'numeric' : 'text'"
        :pattern="type === 'number' ? '[0-9]*' : ''"
      />
    </template>
    <template v-else-if="type === 'select'">
      <Select
        :name="name || 'select'"
        :modelValue="modelValue || ''"
        class="w-full border-gray-300 rounded-md focus:ring-blue-600 focus:border-blue-600 disabled:bg-gray-200 disabled:cursor-not-allowed"
        :disabled="disabled"
        @update:modelValue="($event) => emit('update:modelValue', $event)"
      >
        <option value="" disabled selected> Pilih {{ label }} </option>
        <option v-for="option in options" :key="option.id" :value="option.id"> {{ option.name }} </option>
      </Select>
    </template>
    <template v-else-if="type === 'file'">
      <Input
        type="file"
        :name="name"
        :modelValue="modelValue"
        @update:modelValue="($event) => emit('update:modelValue', $event)"
        class="w-full"
      />
    </template>
    <template v-else-if="type === 'date'">
      <Input
        type="date"
        :name="name"
        :modelValue="modelValue"
        @update:modelValue="($event) => emit('update:modelValue', $event)"
        class="w-full"
      />
    </template>
    <template v-else-if="type === 'check'">
      <Checkbox
        :name="name"
        :modelValue="modelValue"
        @update:modelValue="($event: any) => emit('update:modelValue', $event)"
        :description="label || 'Checkbox'"
        :id="name || 'checkbox'"
        class="w-full"
        :disabled="disabled"
      >
        {{ label }}
      </Checkbox>
    </template>

    <span class="text-sm text-red-500 mt-4"> {{ errorMessage }} </span>
  </div>
</template>