<script setup lang="ts">
const props = defineProps<{
  isLoading?: boolean;
  useBackground?: boolean;
  useIcon?: boolean;
  customClass?: string;
}>();

const isLoading = ref(props.isLoading);
const useIcon = ref(props.useIcon) || true;

watch(() => props.isLoading, (newValue) => {
  isLoading.value = newValue;
});
</script>

<template>
  <div>
    <Container :class="`bg-gray-100 animate-pulse h-[128px] my-4 flex items-center justify-center ${customClass}`" :use-background="useBackground" v-if="props.isLoading"> 
      <div class="flex flex-col items-center" v-show="useIcon">
        <div class="loader"></div>
        <h4 class="text-gray-10 mt-4">Loading...</h4>
      </div>
    </Container>
    <div v-else>
      <slot></slot>
    </div>
  </div>
</template>

<style scoped>
/* HTML: <div class="loader"></div> */
.loader {
  width: 32px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #2e2e2e #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}
</style>
