<script setup lang="ts">
import * as icons from "lucide-vue-next"; 
import type { DualListBoxOption } from "~/types";

const props = defineProps<{
  options: DualListBoxOption[];
}>();

const options = ref<DualListBoxOption[]>(props.options);
const copyOfOptions = ref<DualListBoxOption[]>(props.options);
const values = ref<DualListBoxOption[]>([]);
const copyOfValues = ref<DualListBoxOption[]>([]);
const tempAdd = ref<DualListBoxOption[]>([]);
const tempRemove = ref<DualListBoxOption[]>([]);

const emit = defineEmits(["changed:values"]);

const onCheckAdd = (state: boolean, value: DualListBoxOption) => {
  if (state) {
    tempAdd.value.push(value);
  } else {
    tempAdd.value = tempAdd.value.filter((option) => option.id !== value.id);
  }
};

const onCheckRemove = (state: boolean, value: DualListBoxOption) => {
  if (state) {
    tempRemove.value.push(value);
  } else {
    tempRemove.value = tempRemove.value.filter((option) => option.id !== value.id);
  }
};

const onAddSelected = () => {
  values.value = [...values.value, ...tempAdd.value];
  options.value = options.value.filter((option) => !tempAdd.value.includes(option));
  tempAdd.value = [];
  copyOfValues.value = values.value;
  copyOfOptions.value = options.value;

  emit("changed:values", values.value);
};

const onRemoveSelected = () => {
  options.value = [...options.value, ...tempRemove.value];
  values.value = values.value.filter((value) => !tempRemove.value.includes(value));
  tempRemove.value = [];
  copyOfOptions.value = options.value;
  copyOfValues.value = values.value;

  emit("changed:values", values.value);
};

const filter = (e: Event) => {
  const value = (e.target as HTMLInputElement).value;

  if (value) {
    options.value = options.value.filter((option) => option.label.toLowerCase().includes(value.toLowerCase()));
  } else {
    options.value = copyOfOptions.value;
  }
};

const filterValues = (e: Event) => {
  const value = (e.target as HTMLInputElement).value;

  if (value) {
    values.value = values.value.filter((value) => value.label.toLowerCase().includes(value.label.toLowerCase()));
  } else {
    values.value = copyOfValues.value;
  }
};

const selectAllAddTemp = () => {
  tempAdd.value = options.value;
};

const selectAllRemoveTemp = () => {
  tempRemove.value = values.value;
};

onMounted(() => {
  copyOfOptions.value = options.value;
  copyOfValues.value = values.value;
});

watch(() => props.options, (newValue) => {
  options.value = newValue;
  copyOfOptions.value = newValue;
});
</script>

<template>
  <div class="flex flex-col space-y-4">
    <div class="flex space-x-4">
      <div class="flex flex-col w-1/2">
        <label for="available" class="text-sm font-medium text-gray-700">Available</label>
        <div class="mt-1 relative rounded-md shadow-sm">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <icons.Search class="h-5 w-5 text-gray-400" />
          </div>
          <input type="text" name="available" id="available" class="focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 sm:text-sm border-gray-300 rounded-md" placeholder="Search" @change="filter" />
        </div>
        <div class="mt-2 h-96 overflow-y-auto border border-gray-200 rounded-md">
          <div class="flex flex-col">
            <Checkbox 
              v-for="option in options" 
              :key="option.id" 
              :id="option.id" 
              :value="option" 
              @check="onCheckAdd" 
              :class="`flex items-center p-2 ${tempAdd.includes(option) ? 'bg-blue-100' : ''}`" 
            >
              {{ option.label }}
            </Checkbox>
          </div>
        </div>
        <div class="flex gap-2 mt-4">
          <Button
            variant="primary"
            label="Select All"
            class="flex-1"
            @click="selectAllAddTemp"
          />
          <Button
            variant="primary"
            label="Add"
            class="flex-1"
            @click="onAddSelected"
          />
        </div>
      </div>
      <div class="flex flex-col w-1/2">
        <label for="selected" class="text-sm font-medium text-gray-700">Selected</label>
        <div class="mt-1 relative rounded-md shadow-sm">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <!-- Icon -->
            <icons.Search class="h-5 w-5 text-gray-400" />
          </div>
          <input type="text" name="selected" id="selected" class="focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 sm:text-sm border-gray-300 rounded-md" placeholder="Search" @change="filterValues" />
        </div>
        <div class="mt-2 h-96 overflow-y-auto border border-gray-200 rounded-md">
          <div class="flex flex-col">
            <Checkbox 
              v-for="option in values" 
              :key="option.id" 
              :id="option.id" 
              :value="option" 
              @check="onCheckRemove" 
              :class="`flex items-center p-2 ${tempRemove.includes(option) ? 'bg-blue-100' : ''}`"  
            >
              {{ option.label }}
            </Checkbox>
          </div>
        </div>
        <div class="flex gap-2 mt-4">
          <Button
            variant="primary"
            label="Select All"
            class="flex-1"
            @click="selectAllRemoveTemp"
          />
          <Button
            variant="danger"
            label="Remove"
            class="flex-1"
            @click="onRemoveSelected"
          />
        </div>
      </div>
    </div>
  </div>
</template>