<script setup lang="ts">
// This is like react-form-hook's Controller, but in vue3. It's to control zod's schema validation.

const props = defineProps<{
  name: string;
  control?: any;
  label?: string;
  errorMessage?: string;
}>();
</script>

<template>
  <div>
    <Label v-show="label" :for="name" class="mb-4">
      {{ label }}
    </Label>
    
    <slot name="render" />

    <p class="text-red-500 text-sm mt-2">
      {{ errorMessage }}
    </p>
  </div>
</template>