<script setup lang="ts">
import * as lucideIcons from "lucide-vue-next";
import { onClickOutside } from "#imports";

const props = defineProps<{
  defaultIcon?: string;
}>();

const emit = defineEmits(["select"]);
const icons = Object.keys(lucideIcons).filter((icon) => icon !== "default");
const search = ref("");
const openPopper = ref(false);

const container = ref(null);
const iconComponent = (icon: string) => {
  return lucideIcons[icon as keyof typeof lucideIcons];
};

const selectIcon = (icon: string) => {
  openPopper.value = false;
  search.value = icon;
  emit("select", icon);
};

const filteredIcons = computed(() => {
  return icons.filter((icon) => icon.includes(search.value)).slice(0, 20);
});

onClickOutside(container, () => {
  openPopper.value = false;
});

</script>

<template>
  <div>
    <div class="relative space-y-2" ref="container">
      <Input 
        placeholder="Search an icon" 
        v-model:model-value="search"
        @focus="openPopper = true"
        :icon="search"
      />

      <!-- Pop -->
      <div class="bg-white max-w-[25%] rounded-lg border absolute" v-show="openPopper">
        <div class="grid grid-cols-4 gap-4 p-4 max-h-64 overflow-auto">
          <div
            v-for="icon in filteredIcons"
            :key="icon"
            @click="selectIcon(icon)"
            class="flex items-center justify-center p-2 border rounded cursor-pointer hover:bg-gray-100"
            :title="icon"
          >
            <component :is="iconComponent(icon)" class="w-6 h-6" />
          </div>

          <div v-if="!filteredIcons.length" class="col-span-4 p-4 text-center text-gray-500">
            No icons found
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.icon-picker {
  max-width: 400px;
  margin: auto;
}
</style>