<script setup lang="ts">
import { defineProps, defineEmits } from 'vue';
import * as lucideIcons from "lucide-vue-next";

const props = defineProps<{
  type?: string;
  error?: boolean;
  modelValue?: any;
  placeholder?: string;
  icon?: string;
}>();

const passwordState = ref(false);
const inputRef = ref<HTMLInputElement | null>(null);

const iconComponent = (icon: string) => {
  return lucideIcons[icon as keyof typeof lucideIcons];
};

const emit = defineEmits<{
  (e: 'update:modelValue', value: any): void
}>()

const updateValue = (e: any) => {
  if (props.type === 'number') {
    e.target.value = e.target.value.replace(/[^0-9]/g, 0);
    return parseInt(e.target.value) || 0;
  }

  return e.target.value;
}

const toggleVisiblePassword = () => {
  passwordState.value = !passwordState.value;
  inputRef.value!.type = passwordState.value ? 'text' : 'password';
}
</script>

<template>
  <div class="relative">
    <component :is="iconComponent(icon || '')" class="absolute pointer-events-none inset-y-0 left-0 flex items-center text-gray-400 w-5 h-5 mx-3 my-2" />
    <input
      v-bind="$attrs"
      :type="type"
      @input="emit('update:modelValue', type !== 'file' ? updateValue($event) : $event)"
      :value="modelValue"
      :class="`block w-full ${icon ? 'pl-10' : 'px-3'} py-2 text-sm border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm disabled:bg-gray-100 ${error ? 'border-red-500' : ''}`"
      :placeholder="placeholder"
      ref="inputRef"
    />
    <button 
      v-show="type === 'password'" type="button" 
      @click="toggleVisiblePassword" 
      :class="`absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer rounded-e-md focus:outline-none dark:text-neutral-600 dark:focus:text-blue-500 ${passwordState ? 'text-blue-500' : 'text-gray-400'}`"
    >
      <svg class="shrink-0 size-3.5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path class="hs-password-active:hidden" d="M9.88 9.88a3 3 0 1 0 4.24 4.24"></path>
        <path class="hs-password-active:hidden" d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"></path>
        <path class="hs-password-active:hidden" d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"></path>
        <line class="hs-password-active:hidden" x1="2" x2="22" y1="2" y2="22"></line>
        <path class="hidden hs-password-active:block" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
        <circle class="hidden hs-password-active:block" cx="12" cy="12" r="3"></circle>
      </svg>
    </button>
  </div>
</template>