<script setup lang="ts">
import { defineProps } from "vue";

const props = defineProps<{
  for?: string;
}>();

</script>

<template>
  <label :for="props.for" class="block text-sm font-medium text-gray-700">
    <slot> </slot>
  </label>
</template>