<script setup lang="ts">
import { defineProps, defineEmits } from 'vue';
const props = defineProps<{
  to: string;
}>();
</script>

<template>
  <NuxtLink :to="to" class="text-blue-500 text-base font-semibold">
    <slot />
  </NuxtLink>
</template>