<template>
  <div class="fixed inset-0 z-[10000] flex items-center justify-center bg-black bg-opacity-80">
    <div class="flex flex-col items-center">
      <div class="loader"></div> 
      <h1 class="text-white mt-4">Loading</h1>
    </div>
  </div>
</template>

<style scoped>
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #fff #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}
</style>
