<script setup lang="ts">
const props = defineProps<{
  isOpen: boolean;
  size: 'sm' | 'md' | 'lg' | 'xl' | 'full';
}>();

const sizeClasses = {
  sm: 'max-w-md',
  md: 'max-w-lg',
  lg: 'max-w-xl',
  xl: 'max-w-2xl',
  full: 'max-w-[90vw]',
};

const modalStack = reactive({
  count: 0,
  indices: [] as number[],
});
const modalIndex = ref(-1);

const backdropClasses = computed(() => [
  'fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity ',
  `!z-[${9998 + modalIndex.value}]`,
]);

const modalWrapperClasses = computed(() => [
  'fixed inset-0 w-80 md:w-screen overflow-y-auto mx-auto',
  `z-[${9998 + modalIndex.value}]`,
]);

const modalClasses = computed(() => [
  'relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all',
  sizeClasses[props.size],
  'top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2',
]);

const updateModalIndex = () => {
  if (props.isOpen && modalIndex.value === -1) {
    modalIndex.value = modalStack.count;
    modalStack.count++;
    modalStack.indices.push(modalIndex.value);
  } else if (!props.isOpen && modalIndex.value !== -1) {
    modalStack.count--;
    modalStack.indices.splice(modalStack.indices.indexOf(modalIndex.value), 1);
    modalIndex.value = -1;
  }
};

watch(() => props.isOpen, updateModalIndex);

onMounted(updateModalIndex);

onUnmounted(() => {
  if (modalIndex.value !== -1) {
    modalStack.count--;
    modalStack.indices.splice(modalStack.indices.indexOf(modalIndex.value), 1);
  }
});
</script>

<template>
  <transition name="fade">
    <div v-show="isOpen">
      <div :class="backdropClasses"></div>
      <div :class="modalWrapperClasses">
        <div :class="modalClasses" ref="target">
          <div>
            <slot></slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
