<script setup lang="ts">
const props = defineProps<{
  selectConfigs: {
    name: string;
    value: string;
    options: { label: string; value: string }[];
    customClass?: string;
  }[];
  modelValue: string[]; // Add the 'modelValue' property
}>();

const emit = defineEmits(['update:modelValue', 'update:selectConfigs']);

const selectConfigs = ref([...props.selectConfigs]);

const updateValue = (index: any, value: any) => {
  const newValue = [...props.modelValue];
  newValue[index] = value;
  emit('update:modelValue', newValue);
};

const addSelect = () => {
  selectConfigs.value.push({
    name: `select${selectConfigs.value.length + 1}`,
    value: '',
    options: [
      { value: `option${selectConfigs.value.length * 2 + 1}`, label: `Option ${selectConfigs.value.length * 2 + 1}` },
      { value: `option${selectConfigs.value.length * 2 + 2}`, label: `Option ${selectConfigs.value.length * 2 + 2}` }
    ],
    customClass: ''
  });
  emit('update:selectConfigs', selectConfigs.value);
};

</script>

<template>
  <div class="flex flex-col  gap-4">
    <div v-for="(selectValue, index) in modelValue" :key="index" class="flex gap-4 items-center">
      <select
        :name="`select${index + 1}`"
        :value="selectValue"
        @input="updateValue(index, $event.target.value)"
        :class="`mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6`"
      >
        <option v-for="option in options" :key="option.value" :value="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>
    <button class="mt-2 bg-blue-500 text-white px-4 py-2 rounded" @click="addSelect">
      Add
    </button>
  </div>
</template>