<script setup lang="ts">
import { ChevronLeftIcon, ChevronRightIcon } from '@heroicons/vue/20/solid';

const props = defineProps<{
  fromRows: number;
  toRows: number;
  totalRows: number;
  perPage: number;
  page?: number;
}>();

const emit = defineEmits(['update:onPageChanged']);

const {
  fromRows,
  toRows,
  totalRows,
  perPage,
  page,
} = toRefs(props);

const pageNumber = ref(page);
const onPageChanged = (newPage: number) => {
  emit('update:onPageChanged', newPage);
  pageNumber.value = newPage;
};
</script>

<template>
  <nav class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 rounded-b-lg" aria-label="Pagination">
    <div class="flex flex-1 justify-between sm:hidden">
      <a @click="onPageChanged(pageNumber - 1)" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
      <a @click="onPageChanged(pageNumber + 1)" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
    </div>

    <div class="hidden sm:block">
      <p class="text-sm text-gray-700">
        Showing
        <span class="font-medium"> {{ fromRows }} </span>
        to
        <span class="font-medium"> {{ toRows }} </span>
        of
        <span class="font-medium"> {{ totalRows }} </span>
        results
      </p>
    </div>
    <div class="hidden md:flex flex-1 gap-2 justify-between sm:justify-end">
      <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
        <a
          @click="onPageChanged(pageNumber - 1)"
          :disabled="pageNumber === 1"
          class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
        >
          <span class="sr-only">Previous</span>
          <ChevronLeftIcon class="h-5 w-5" aria-hidden="true" />
        </a>

        <a
          v-for="page in Math.ceil(totalRows / perPage)"
          :key="page"
          @click="onPageChanged(page)"
          :disabled="pageNumber === page"
          :class="{
            'bg-gray-200': pageNumber === page,
            'hover:bg-gray-50': pageNumber !== page,
            'text-gray-900': pageNumber !== page,
            'text-white': pageNumber === page,
            'border-gray-300': pageNumber !== page,
            'bg-blue-500': pageNumber === page,
            'relative inline-flex items-center px-4 py-2 border text-sm font-medium': true,
            'cursor-pointer': pageNumber !== page
          }"
        >
          {{ page }}
        </a>

        <a
          @click="onPageChanged(pageNumber + 1)"
          :disabled="pageNumber === Math.ceil(totalRows / perPage)"
          class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
        >
          <span class="sr-only">Next</span>
          <ChevronRightIcon class="h-5 w-5" aria-hidden="true" />
        </a>
      </nav>
    </div>
  </nav>
</template>
