<script setup lang="ts">
import { defineProps, defineEmits } from 'vue';

const props = defineProps<{
  isOpen: boolean;
  title?: string;
  modalTitle?: string;
  size: 'sm' | 'md' | 'lg' | 'xl' | 'full';
}>();

const emit = defineEmits(["modal-close"]);

const handleClose = () => {
  emit('modal-close')
}

</script>

<template>
  <Modal
    :is-open="isOpen"
    :title="title"
    :size="size"
  >
    <div class="flex mb-4">
      <h3 class="text-lg font-semibold text-black"> {{ title || modalTitle }} </h3>
      <button @click="handleClose" class="ml-auto m">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    
    <slot></slot>
  </Modal>
</template>