<script setup lang="ts">
import { defineProps, defineEmits } from "vue";

const props = defineProps<{
  name: string;
  customClass?: string;
  modelValue: string;
  options?: { id: string; name: string }[];
  renderOptions?: boolean;
}>();
const emit = defineEmits(['update:modelValue', 'change'])
</script>

<template>
  <select 
    :name="props.name"
    :value="props.modelValue"
    @input="emit('update:modelValue', ($event.target as HTMLSelectElement).value)"
    @change="emit('change')"
    :class="`block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6 ${props.customClass}`"
  >
    <template v-if="renderOptions">
      <option value="" disabled selected> Pilih {{ props.name }} </option>
      <option v-for="option in props.options" :key="option.id" :value="option.id"> {{ option.name }} </option>
    </template>
    <template v-else>
      <slot />
    </template>
  </select>
</template>