<script setup lang="ts">
import { defineProps, defineEmits } from 'vue';
import { Check, X, CircleAlert } from 'lucide-vue-next';

const props = defineProps<{
  isOpen: boolean;
  title?: string;
  description?: string;
  variant: string;
  closeable?: boolean;
  onClose?: (data: any) => void;
  closeLabel?: string;
  actionLabel?: string;
  onActionClick?: (data: any) => void;
  actionDisabled?: boolean;
}>();

const emit = defineEmits(["modal-close"]);
const closeable = props.closeable || true;

const variantClasses: { [key: string]: string } = {
  success: 'bg-green-400 text-white',
  danger: 'bg-red-400 text-white',
  warning: 'bg-yellow-400 text-white',
};

const onClose = () => {
  emit('modal-close');
};

const onActionClick = (data: any) => {
  props.onActionClick && props.onActionClick(data);
};

</script>

<template>
  <Modal
    :is-open="isOpen"
    :title="title"
    size="sm"
  >
    <div class="flex items-center justify-center">
      <div :class="`w-14 h-14 rounded-full flex items-center justify-center mb-4 ${variantClasses[variant]}`">
        <template v-if="variant === 'success'">
          <Check strokeWidth="3" />
        </template>
        <template v-else-if="variant === 'danger'">
          <X strokeWidth="3" />
        </template>
        <template v-else-if="variant === 'warning'">
          <CircleAlert strokeWidth="3" />
        </template>
        <template v-else>
          <Check strokeWidth="3" />
        </template>
      </div>
    </div>
    <div class="mt-4 text-center space-y-2">
      <h3 class="text-lg font-semibold text-black"> {{ title }} </h3>
      <p class="text-gray-500"> {{ description }} </p>
    </div>
    <div class="flex gap-2 mt-8">
      <Button 
        class="flex-1"
        variant="danger" 
        @click="onClose"
        v-show="closeable"
      > 
        {{ closeLabel || 'Tutup' }} 
      </Button>

      <Button 
        class="flex-1"
        variant="primary" 
        @click="onActionClick"
        :disabled="actionDisabled"
        v-show="actionLabel?.length"
      > 
        {{ actionLabel }}
      </Button>
    </div>
  </Modal>
</template>