<script setup lang="ts">
import { defineProps } from 'vue';
import type { Step } from '~/types';

const props = defineProps<{
  title: string;
  description: string;
  steps?: Step[];
}>();

const variantClasses = {
  active: 'text-blue-600 dark:text-blue-500',
  disabled: 'text-gray-400 dark:text-gray-500',
  completed: 'text-green-600 dark:text-green-500',
  expired: 'text-red-600 dark:text-red-500',
};
const circleVariantClasses = {
  active: 'border-blue-600 dark:border-blue-500',
  disabled: 'border-gray-400 dark:border-gray-500',
  completed: 'border-green-600 dark:border-green-500',
  expired: 'border-red-600 dark:border-red-500',
};

let steps = ref(props.steps || []);


watch(() => props.steps, (value) => {
  steps.value = value || [];
});
</script>

<template>
  <div class="my-8">
    <h2 class="text-2xl font-semibold mb-2"> {{ title }} </h2>
    <p class="text-sm"> {{ description }} </p>

    <ol class="items-center w-full space-y-4 sm:flex sm:space-x-5 sm:space-y-0 my-4 rtl:space-x-reverse">
      <li
        v-for="(step, index) in steps"
        :key="index"
        :class="`flex items-center space-x-2.5 rtl:space-x-reverse ${variantClasses[step.status]}`"
      >
        <span :class="`flex items-center justify-center w-8 h-8 rounded-full shrink-0 border ${circleVariantClasses[step.status]}`">
          {{ index + 1 }}
        </span>
        <span>
          <h3 class="font-medium leading-tight"> {{ step.title }} </h3>
          <p class="text-sm"> {{ step.description }} </p>
        </span>
      </li>
    </ol>
  </div>
</template>