<script setup lang="ts">
import { defineProps, defineEmits, ref } from "vue";
import { onClickOutside } from '@vueuse/core';

const props = defineProps<{
  tags: string[];
  placeholder?: string;
  disabled?: boolean;
  error?: boolean;
}>();

const { tags, placeholder, disabled } = props;
const input = ref("");
const tagList = ref(tags);

const addTag = () => {
  if (input.value.trim() === "") return;
  tagList.value.push(input.value);
  input.value = "";
};

const removeTag = (index: number) => {
  tagList.value.splice(index, 1);
};

const removeLastTag = () => {
  if (input.value === "" && tagList.value.length > 0) {
    tagList.value.pop();
  }
};

</script>

<template>
  <div class="flex flex-wrap">
    <div
      v-for="(tag, index) in tagList"
      :key="index"
      class="flex items center bg-gray-200 rounded-full px-2 py-1 mr-2 mb-2"
    >
      <span class="text-sm"> {{ tag }} </span>
      <button
        v-if="!disabled"
        @click="removeTag(index)"
        class="ml-2"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-gray-500" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <input
      v-if="!disabled"
      v-model="input"
      @keydown.enter="addTag"
      @keydown.backspace="removeLastTag"
      :placeholder="placeholder"
      :autocomplete="disabled ? 'off' : 'on'"
      :class="`block w-full px-3 py-2 text-sm border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm ${error ? 'border-red-500' : ''}`"
    />

    <!-- Autocomplete from tags -->
    <div
      v-if="!disabled"
      class="z-[10000] absolute w-full mt-1 bg-white border border-gray-300 rounded-md shadow-lg"
    >
      <ul>
        <li
          v-for="(tag, index) in tags"
          :key="index"
          @click="input = tag; addTag()"
          class="px-3 py-2 cursor-pointer hover:bg-gray-100"
        >
          {{ tag }}
        </li>
      </ul>
    </div>
  </div>
</template>
