<script setup lang="ts">
const props = defineProps<{
  value?: String,
  modelValue?: string;
  placeholder?: string;
  customClass?: string;
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', value: any): void
}>()
</script>

<template>
  <textarea
    v-bind="$attrs"
    @change="emit('update:modelValue', ($event.target as any)?.value)"
    :value="modelValue"
    :class="`${props.customClass} w-full h-40 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent`"
    :placeholder="placeholder"
  />
</template>