<script setup lang="ts">
const props = defineProps<{
  modelValue: string | undefined;
  content?: string;
  placeholder?: string;
}>();

const emit = defineEmits(["update:modelValue"]);

const editor = useEditor({
  content: props.content,
  extensions: [TiptapStarterKit],
  editorProps: {},
  onUpdate: ({ editor }) => {
    emit("update:modelValue", editor.getHTML());
  },
});

watch(
  () => props.content,
  (value) => {
    const currentEditor = unref(editor);
    if (value !== currentEditor?.getHTML()) {
      currentEditor?.commands?.setContent(value || "");
    }
  },
);

onBeforeUnmount(() => {
  if (editor) {
    unref(editor)?.destroy();
  }
});
</script>

<template>
  <div class="space-y-4">
    <div v-if="editor" class="flex flex-wrap gap-2">
      <Button
        size="sm"
        @click="editor.chain().focus().toggleBold().run()"
        :disabled="!editor.can().chain().focus().toggleBold().run()"
        :class="{ 'is-active': editor.isActive('bold') }"
      >
        bold
      </Button>
      <Button
        size="sm"
        @click="editor.chain().focus().toggleItalic().run()"
        :disabled="!editor.can().chain().focus().toggleItalic().run()"
        :class="{ 'is-active': editor.isActive('italic') }"
      >
        italic
      </Button>
      <Button
        size="sm"
        @click="editor.chain().focus().toggleStrike().run()"
        :disabled="!editor.can().chain().focus().toggleStrike().run()"
        :class="{ 'is-active': editor.isActive('strike') }"
      >
        strike
      </Button>
      <Button
        size="sm"
        @click="editor.chain().focus().toggleCode().run()"
        :disabled="!editor.can().chain().focus().toggleCode().run()"
        :class="{ 'is-active': editor.isActive('code') }"
      >
        code
      </Button>
      <Button size="sm" @click="editor.chain().focus().unsetAllMarks().run()">
        clear marks
      </Button>
      <Button size="sm" @click="editor.chain().focus().clearNodes().run()">
        clear nodes
      </Button>
      <Button
        size="sm"
        @click="editor.chain().focus().setParagraph().run()"
        :class="{ 'is-active': editor.isActive('paragraph') }"
      >
        paragraph
      </Button>
      <Button
        size="sm"
        @click="editor.chain().focus().toggleHeading({ level: 1 }).run()"
        :class="{ 'is-active': editor.isActive('heading', { level: 1 }) }"
      >
        h1
      </Button>
      <Button
        size="sm"
        @click="editor.chain().focus().toggleHeading({ level: 2 }).run()"
        :class="{ 'is-active': editor.isActive('heading', { level: 2 }) }"
      >
        h2
      </Button>
      <Button
        size="sm"
        @click="editor.chain().focus().toggleHeading({ level: 3 }).run()"
        :class="{ 'is-active': editor.isActive('heading', { level: 3 }) }"
      >
        h3
      </Button>
      <Button
        size="sm"
        @click="editor.chain().focus().toggleHeading({ level: 4 }).run()"
        :class="{ 'is-active': editor.isActive('heading', { level: 4 }) }"
      >
        h4
      </Button>
      <Button
        size="sm"
        @click="editor.chain().focus().toggleHeading({ level: 5 }).run()"
        :class="{ 'is-active': editor.isActive('heading', { level: 5 }) }"
      >
        h5
      </Button>
      <Button
        size="sm"
        @click="editor.chain().focus().toggleHeading({ level: 6 }).run()"
        :class="{ 'is-active': editor.isActive('heading', { level: 6 }) }"
      >
        h6
      </Button>
      <Button
        size="sm"
        @click="editor.chain().focus().toggleBulletList().run()"
        :class="{ 'is-active': editor.isActive('bulletList') }"
      >
        bullet list
      </Button>
      <Button
        size="sm"
        @click="editor.chain().focus().toggleOrderedList().run()"
        :class="{ 'is-active': editor.isActive('orderedList') }"
      >
        ordered list
      </Button>
      <Button
        size="sm"
        @click="editor.chain().focus().toggleCodeBlock().run()"
        :class="{ 'is-active': editor.isActive('codeBlock') }"
      >
        code block
      </Button>
      <Button
        size="sm"
        @click="editor.chain().focus().toggleBlockquote().run()"
        :class="{ 'is-active': editor.isActive('blockquote') }"
      >
        blockquote
      </Button>
      <Button
        size="sm"
        @click="editor.chain().focus().setHorizontalRule().run()"
      >
        horizontal rule
      </Button>
      <Button size="sm" @click="editor.chain().focus().setHardBreak().run()">
        hard break
      </Button>
    </div>

    <TiptapEditorContent :editor="editor" />
  </div>
</template>

<style lang="scss">
/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul {
    padding-left: 20px; /* Ensure there is space for the bullets */
    list-style-position: outside; /* Make sure bullets are outside */
  }

  li {
    display: list-item; /* Default display for list items */
    margin: 5px 0; /* Optional: space between list items */
  }
}
</style>
