<script setup lang="ts">
import { TriangleAlert } from 'lucide-vue-next';
</script>

<template>
  <div class="absolute inset-0 z-20 flex items-center justify-center h-full bg-white">
    <div class="flex flex-col items-center">
      <TriangleAlert class="text-6xl text-red-500" />
      <h1 class="text-2xl font-bold mt-4">Unauthorized</h1>
      <p class="text-center mt-2">You are not authorized to access this page.</p>

      <Button 
        variant="primary" 
        label="Back to Home" 
        class="mt-8"
        size="sm"
        type="nuxt-link"
        to="/"
      />
    </div>
  </div>
</template>