<script setup lang="ts">
import { useAuth } from "@/stores/useAuth";
// @ts-ignore
import Button from '~/components/global/Button.vue';
import Div from '~/components/global/Div.vue';
import { MenuSchema } from "~/schema";

definePageMeta({
  middleware: 'auth',
  layout: 'admin',
})

useHeadTitle("Manage Menu");

const { getPermissions } = useAuth();
const router = useRouter();
const isLoading = ref(false);
const isSuccess = ref(false);

const { errors, handleSubmit, defineField, resetForm } = useForm({
  validationSchema: toTypedSchema(MenuSchema),
});

const [name, nameAttrs] = defineField("name");
const [url, urlAttrs] = defineField("url");
const [icon, iconAttrs] = defineField("icon");
const statusModal = ref({
  show: false,
  message: "",
  variant: "",
});

const handleFormSubmit = handleSubmit(async (values: any) => {
  const payload = { ...values };
  isLoading.value = true;

  await useCustomFetch("/admin/create-menu", {
    method: "POST",
    body: JSON.stringify(payload),
  }).then(() => {
    statusModal.value = {
      show: true,
      message: "Menu data has been added successfully",
      variant: "success",
    };

    isSuccess.value = true;
    resetForm();
  }).catch((error) => {
    statusModal.value = {
      show: true,
      message: error.data.error || "Failed to add menu data",
      variant: "danger",
    };
  }).finally(() => {
    isLoading.value = false;
  });
});

const onCloseModal = () => {
  statusModal.value = {
    show: false,
    message: "",
    variant: "",
  };

  if (isSuccess.value) {
    router.push("/admin/manage-menu");
  }
};

onMounted(async () => {
  const permissions: any = await getPermissions();
  const hasPermission = permissions.includes("manage-menus");

  if (!hasPermission) {
    router.push("/admin");
  }
});

</script>

<template>
  <div>
    <h2 class="text-2xl font-medium"> Manage Menu </h2>
    <p class="text-md my-2">
      You can add, edit, or delete menu data here.
    </p>

    <div class="space-y-4 mt-8">
      <FormController
        name="name"
        label="Label"
      >
        <template #render>
          <Input v-model="name" name="name" placeholder="Help" />
          <p class="text-red-500 text-sm mt-2"> {{ errors.name }} </p>
        </template>
      </FormController>
      <FormController
        name="url"
        label="Route"
      >
        <template #render>
          <Input v-model="url" name="url" placeholder="/help" />
          <p class="text-red-500 text-sm mt-2"> {{ errors.url }} </p>
        </template>
      </FormController>
      <FormController
        name="icon"
        label="Menu Icon"
      >
        <template #render>
          <IconPicker v-model="icon" @select="(newIcon) => icon = newIcon" />
          <p class="text-red-500 text-sm mt-2"> {{ errors.icon }} </p>
        </template>
      </FormController>
      <div class="flex">
        <Button 
          variant="primary" 
          label="Add new data" 
          @click="handleFormSubmit"
          :is-loading="isLoading"
        />
      </div>
    </div>

    <StatusModal
      :isOpen="statusModal.show"
      :message="statusModal.message"
      :variant="statusModal.variant"
      @modal-close="onCloseModal"
      :description="statusModal.message"
    />
  </div>
</template>