<script setup lang="ts">
import { useAuth } from "@/stores/useAuth";
// @ts-ignore
import Button from '~/components/global/Button.vue';
import Div from '~/components/global/Div.vue';
import * as icons from "lucide-vue-next"; 

definePageMeta({
  middleware: 'auth',
  layout: 'admin',
})

useHeadTitle("Manage Menu");
const statusModal = ref({
  show: false,
  message: "",
  variant: "",
});

const { getPermissions } = useAuth();
const router = useRouter();
const data = ref([]);
const isLoading = ref(true);
const totalRows = ref(0);

const columns = ref([
  {
    accessor: 'id',
    value: 'Menu ID',
  },
  {
    accessor: 'name',
    value: 'Name',
  },
  {
    accessor: 'url',
    value: 'Route',
  },
  {
    accessor: 'icon',
    value: 'Icon',
    customRender: (value: any) => {
      // @ts-ignore
      const Icon = icons[value];
      return h(Icon);
    },
    customRenderType: 'component',
  },
  {
    accessor: 'action',
    value: 'Action',
    customRender: (value: any, row: any) => {
      const editButton = h(Button, { variant: "primary", size: "sm", onClick: () => handleEditClicked(value, row) }, { default: () => 'Edit' });
      const div = h(Div, { class: "flex space-x-2" }, { default: () => [editButton] });
      return div;
    },
    customRenderType: 'component',  
  }
]);

const handleAddClicked = () => {
  router.push("/admin/manage-menu/create");
}

const handleEditClicked = (value: any, row: any) => {
  router.push(`/admin/manage-menu/edit/${row.id}`);
}

const getData = async (page?: number) => {
  isLoading.value = true;
  await useCustomFetch(`/admin/get-menu-list?page=${page || 1}&per_page=10`, {
    method: "GET",
  }).then((response) => {
    totalRows.value = response?.data?.total;
    data.value = response?.data?.data?.map((item: any) => {
      return {
        ...item
      }
    });
  }).catch((error) => {
    statusModal.value = {
      show: true,
      message: "Failed to fetch menu data. " + error?.data?.error,
      variant: "danger",
    };
  }).finally(() => {
    isLoading.value = false;
  });
}

const onCloseModal = () => {
  statusModal.value.show = false;
}

onMounted(async () => {
  const permissions: any = await getPermissions();
  const hasPermission = permissions.data.includes("manage-menus");

  if (!hasPermission) {
    router.push("/admin");
  }

  await getData();
});

</script>

<template>
  <div>
    <h2 class="text-2xl font-medium"> Manage Menu </h2>
    <p class="text-md my-2">
      You can add, edit, or delete menu data here.
    </p>

    <div class="flex my-8">
      <Button 
        variant="primary" 
        label="Add new data" 
        @click="handleAddClicked"  
      />
    </div>

    <Table 
      :columns="columns"
      :data="data"
      :is-loading="isLoading"
      :total-rows="totalRows"
      :on-page-change="(pageNumber: number) => getData(pageNumber)"
    />

    <StatusModal 
      :is-open="statusModal.show"
      title="Failed"
      :description="statusModal.message"
      :variant="statusModal.variant"
      @modal-close="onCloseModal"
    />
  </div>
</template>